// To recreate this from corresponding json:
// 1. Minimize json so that all line breaks are deleted (not allowed here)
// 2. Replace double quoation marks ' by single marks '
- var fs = require('fs')
- var attributors = JSON.parse(fs.readFileSync("src/templates/attributor_list.json"))

mixin fakemixin()
    p