footer
  .container
    .us
      h1= "iGEM Aachen 2021"
      h3= "Follow Us"
      .socialmedia
        a(href="https://www.instagram.com/igem.Aachen/")
          <i class="fab fa-instagram-square fa-2x"></i>
        a(href="https://www.linkedin.com/in/igem-aachen-51646516a/")
          <i class="fab fa-linkedin fa-2x"></i>
        a(href="https://www.youtube.com/channel/UCnIsgLJVUFhwqUYJtdd2tIA/videos")
          <i class="fab fa-youtube-square fa-2x"></i>
      h3= "Contact Us"
      .socialmedia
        a(href="http://igem.rwth-aachen.de")
          <i class="fas fa-globe fa-2x"></i>
        a(href="mailto:iGEM@rwth-aachen.de")
          <i class="fas fa-envelope-square fa-2x"></i>
  .sponsors
    .container
      img(src=require('../assets/img/all_sponsors.png')['default'])
