// To recreate this from corresponding json:
// 1. Minimize json so that all line breaks are deleted (not allowed here)
// 2. Replace double quoation marks ' by single marks '
- var fs = require('fs')
- var team_members = JSON.parse(fs.readFileSync("src/templates/member_list.json"))


mixin fakemixin()
    p