extends ../templates/contents.pug

block headVars
    - var title = "Collaboration"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

       # OSU Meet up
       In March we joined the digital Meet up of iGEM OSU.
       A lot of iGEM teams from all over the world were part of it. 
       We discussed with a lot of teams where to start with their project and how to participate in the competition. 
       In addition to that, we got to know our cooperation partners iGEM Tue, iGEM Düsseldorf, and iGEM Bonn.
    - var imgpath = "" + require("../assets/img/Collaborations/OSUMeetUp.jpg")["default"]
    +image(1, imgpath, "") 
    
    :markdown-it

        # International Survey about GMOs
        In May we met with iGEM Maastricht. 
        They asked if we are interested in creating a survey about GMOs with iGEM IISER Tirupati and iGEM IISER Pune. 
        In a few meetings, we designed a questionnaire with specific questions about the topics the different teams were working on. 
        We were really interested in how the attitude towards GMOs changes depending on age and education.
    - var imgpath = "" + require("../assets/img/Collaborations/Maastricht_all.png")["default"]
    +image(2, imgpath, "Picture of our collaboration meeting")
    
    :markdown-it

        # iGEM Monument Challenge
        During the summer iGEM GO Paris Saclay organized the iGEM Monument Challenge.
        We thought that it was a really great idea and took part in it.
        We showed the Karlsbrunnen, Aachen's Cathedral and the Elisenbrunnen. 
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallenge1.jpg")["default"]
    +image(3, imgpath, "Aachen's Cathedral.")
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallenge2.jpg")["default"]
    +image(4, imgpath, "Karlsbrunnen")
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallenge3.jpg")["default"]
    +image(5, imgpath, "Elisenbrunnen")
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallengePost.jpg")["default"]
    +image(6, imgpath, "Our Instagram Post.")
    
    :markdown-it
       
        # Postcard Challenge
        As every year the iGEM Team of the Heinrich-Heine-University reached out to us offering to participate in their postcard challenge. 
        The task was to design a synthetic biology or project-related postcard and to send copies to Düsseldorf.
        In return, they send us postcards of the other participating teams. 
        Our postcard shows a TdT cartoon-like with DNA.
        We decided on this illustration because the TdT was the main enzyme of our project.
    - var imgpath = "" + require("../assets/img/Collaborations/Postcard_Front.png")["default"]
    +image(7, imgpath, "Our postcard.") 
    
    :markdown-it
        
        # Science Communication Through Non-Typical Forms of Education in Greece
        Science communication is an important part of the iGEM journey. 
        It is a great way of making science more accessible and appealing to people with different backgrounds or from different age groups. 
        This year Team iGEM Thrace [verlinken] organized an Erasmus+ program on this topic, called “Science Communica-tion through non-typical Forms of Education” and we took part in it.
    - var imgpath = "" + require("../assets/img/Collaborations/Greece1.jpg")["default"]
    +image(8, imgpath, "Group photo on the first day")
        For this Clemens, Marie K., Willy, and Viktor [verlinken mit TeamMembers Seite] from our team traveled for one week to Greece, Alexandroupoli. 
        Together with 16 other iGEM members from various coun-tries, they examined the question of how to communicate science to the public. 
        They started with brain-storming ideas and discussing the goals of science communication the month before the actual meet-up in Greece. 
        After many workshops, the group learned how to communicate science in different unusual ways such as theatre, debate, music, drawing, etc. 
        They set their goal to educate the locals on the following three scientific topics:
        
        1. Synthetic Biology
        2. Vaccines
        3. Climate Change
        
        For that, the group split up into three teams and they worked meticulously during their whole stay re-searching, writing, and rehearsing. 
        The teams had the one-of-a-kind opportunity to grasp the magic of theatre in the country where it emerged while working together with natives. 
        This boosted their creativity and the teams managed to combine fun with an important take-home message for the audience. 
        For days they were dedicated to creating their masterpiece through theatre, painting, and music.
    - var imgpath = "" + require("../assets/img/Collaborations/Greece2.JPG")["default"]
    +image(9, imgpath, "Prepairing the props for the theatre plays")  
    - var imgpath = "" + require("../assets/img/Collaborations/Greece3.JPG")["default"]
    +image(10, imgpath, "Prepairing the props for the theatre plays") 
        The international group then reached out to people of all group ages and backgrounds through social media, flyers, and even the local radio who were invited to their theatre plays. 
        As a result, the play was attended by many people and even the city major. 
        The plays ran like a well-oiled machine, everybody knew their tasks and did them thoroughly. 
        In the end, the young Shakespeares were vigorously applauded by the audience and re-ceived a speech of gratitude from the city major. 
        
        Upon their arrival back in Germany, our teammates implemented the gained knowledge about science communication and organized fun and educational dissemination activities. 
        They hosted an online event together with the iGEM Teams Marburg and Hamburg [verlinken] where they played a variation of hang-man with scientific words. 
        Our teammates also went to the climate change strike Fridays For Future. 
        Their goal was to educate people about the small changes that matter. 
        Thus, our team members gave out flyers with some ideas on what one could change in their everyday life to prevent worsening of the climate change.
    - var imgpath = "" + require("../assets/img/Collaborations/Greece4.jpg")["default"]
    +image(11, imgpath, "Malte, Clemens and Viktor at the climate change strike Fridays For Future") 
    - var imgpath = "" + require("../assets/img/Collaborations/Greece5.png")["default"]
    +image(12, imgpath, "Science communication online event") 
        All in all, the project was about a lot more than science communication and education. 
        In Greece, every night people from a different country presented something traditional and universal from itself such as a specific dance or delicious recipe. 
        This certainly fulfilled the idea of Erasmus+ to spread the love between countries and created many new international friendships. 
        Just like the magic of iGEM brings people all over the world together.
    - var imgpath = "" + require("../assets/img/Collaborations/Greece6.JPG")["default"]
    +image(13, imgpath, "Group photo")

    :markdown-it
        
        # iJET
        iGEM is a lot more than just a science project. 
        It is about making the world a better place and bringing people from all over the world together. However, since the coronavirus pandemic, this became a harder task. 
        That inspired iGEM team Darmstadt 2020 to collaborate with our ancestors in a way that became pretty usual during the past year. 
        Together they managed to connect online with more than 25 other teams by letting the small paper plane iJET flying all over the world, compiling everything into a nice video.
        
        This year iGEM Darmstadt continued the tradition and sent the small paper plane on a journey again. 
        It flew through 33 different teams around the world including us. The product is a nice video produced by the iGEM Darmstadt team which you can watch here. 
        A collaboration like this may seem small and insignifi-cant, but it is proof that even in those hard times we can unite together and take a moment to smile and be joyful.
