extends ../templates/contents.pug

block headVars
    - var title = "Collaboration"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

       # OSU Meet up
       In March we joined the digital Meet up of iGEM OSU. A lot of iGEM teams from all over the world were part of it. 
       We discussed with a lot of teams where to start with their project and how to participate in the competition. 
       In addition to that, we got to know our cooperation partners iGEM Tue, iGEM Düsseldorf, and iGEM Bonn.
       
       # International Survey about GMOs
       In May we met with iGEM Maastricht. They asked if we are interested in creating a survey about GMOs with iGEM IISER Tirupati and iGEM IISER Pune. 
       In a few meetings, we designed a questionnaire with specific questions about the topics the different teams were working on. 
       We were really interested in how the attitude towards GMOs changes depending on age and education.
   - var imgpath = "" + require("../assets/img/Collaborations/Maastricht_all.png")["default"]
    +image(1, imgpath, "Picture of our collaboration meeting")
    - var imgpath = "" + require("../assets/img/Collaborations/Maastricht_all_2.png")["default"]
    +image(1, imgpath, "Picture of our collaboration meeting")
      
      #iGEM Monument Challenge
       During the summer iGEM GO Paris Saclay organized the iGEM Monument Challenge. We thought that it was a really great idea and took part in it.
       [Have a look at our beautiful pictures](https://www.instagram.com/p/CSXD7c0D7bJ/). We showed the Karlsbrunnen, Aachens Cathedral and the Elisenbrunnen. 
       
       #Postcard Challenge
       As every year the iGEM Team of the Heinrich-Heine-University reached out to us offering to participate in their postcard challenge. 
       The task was to design a synthetic biology or project-related postcard and to send copies to Düsseldorf. In return, they send us postcards of the other participating teams. 
       Our postcard shows a TdT cartoon-like with DNA. We decided on this illustration because the TdT was the main enzyme for our project.
