extends ../templates/contents.pug

block headVars
    - var title = "Collaboration"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Experiment in a primary school (Collaboration with iGEM Eindhoven)

        As part of the collaboration with iGEM Eindhoven, we shared our experiments and conducted them in elementary schools. We visited the Don-Bosco-School in Wolfsfeld and conducted two experiments, together with ten students. 

        The teachers received a script with the required materials and the experimental procedure. 
        The elementary school students were able to take all the information from a presentation we created. They were guided through the experiments by the teachers and us. We obtained the materials beforehand and provided them to the students. After the students had the required materials ready at their workstations, we started.

        First, we briefly introduced iGEM and our team. Then we briefly explained what kind of project we are working on within the iGEM competition.
        Then we went straight into the first experiment. We built a lava lamp using simple home remedies. We also explained to the students why two different phases are formed and how the movement is created, so that the classic lava lamp is created.

        The second experiment we did with the students was the "felt-tip pen experiment". The aim was to show the students that the color black consists of several colors (pigments). 

        Finally, we discussed the experiments with the students, i.e. what they learned in today's lesson.
