extends ../templates/contents.pug

block headVars
    - var title = "Collaboration"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

       # OSU Meetup
       In March we joined the digital Meet up of [iGEM OSU](https://2021.igem.org/Team:OhioState).
       A lot of iGEM teams from all over the world were part of it. 
       We discussed with a lot of teams where to start with their project and how to participate in the competition. 
       In addition to that, we got to know our cooperation partners iGEM Tue, iGEM Düsseldorf, and iGEM Bonn.
       
    - var imgpath = "" + require("../assets/img/Collaborations/OSUMeetUp.jpg")["default"]
    +image(1, imgpath, "Instagram story from the OSU meetup", 50) 
    
    :markdown-it
        
        # Participating in Project's emoji Insta Game
        [iGEM Aix-Marseille](https://2021.igem.org/Team:Aix-Marseille) organized an Instagram game to describe iGEM projects with emojis.
        We are grateful for the game, because it could give a nice overview of the topics of other teams and it was fun to guess along.
    
    :markdown-it

        # International Survey about GMOs
        In May we met with [iGEM Maastricht](https://2021.igem.org/Team:MSP-Maastricht). 
        They asked if we are interested in creating a survey about GMOs with [iGEM IISER Tirupati](https://2021.igem.org/Team:IISER-Tirupati_India) and [iGEM IISER Pune](https://2021.igem.org/Team:IISER-Pune-India). 
        In a few meetings, we designed a questionnaire with specific questions about the topics the different teams were working on. 
        We were really interested in how the attitude towards GMOs changes depending on age and education.
        
    - var imgpath = "" + require("../assets/img/Collaborations/Maastricht_all.png")["default"]
    +image(2, imgpath, "Picture of our collaboration meeting")
    
    :markdown-it

        # iGEM Monument Challenge
        During the summer [iGEM GO Paris Saclay](https://2021.igem.org/Team:GO_Paris-Saclay) organized the iGEM Monument Challenge.
        We thought that it was a really great idea and took part in it.
        We showed the Karlsbrunnen, Aachen's Cathedral and the Elisenbrunnen. 
        
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallenge1.jpg")["default"]
    +image(3, imgpath, "Aachen's Cathedral.", 90)
    
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallenge2.jpg")["default"]
    +image(4, imgpath, "Karlsbrunnen", 90)
    
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallenge3.jpg")["default"]
    +image(5, imgpath, "Elisenbrunnen", 90)
    
    - var imgpath = "" + require("../assets/img/Collaborations/MonumentChallengePost.jpg")["default"]
    +image(6, imgpath, "Our Instagram post.", 50)
    
    :markdown-it
       
        # Postcard Challenge
        As every year the [iGEM Team Düsseldorf](https://2021.igem.org/Team:Duesseldorf) of the Heinrich-Heine-University reached out to us offering to participate in their postcard challenge. 
        The task was to design a synthetic biology or project-related postcard and to send copies to Düsseldorf.
        In return, they send us postcards of the other participating teams. 
        Our postcard shows a TdT cartoon-like with DNA.
        We decided on this illustration because the TdT was the main enzyme of our project.

    - var imgpath = "" + require("../assets/img/Collaborations/Postcard_Front.png")["default"]
    +image(7, imgpath, "Our postcard.") 
    
    :markdown-it
    
        # Sustainable Development Goals (SDGs)
        As we want to establish a sustainable DNA synthesis, we took part in two collaborations facing SDGs.
    
        ## Participation in iGEMxSDG Impact Challenge and Conference
        During the competition, we were asked to give a presentation in the conference organized by [TAS_Taipei](https://2021.igem.org/Team:TAS_Taipei).
        Through the event we were able to help [iGEM Moscow City](https://2021.igem.org/Team:Moscow_City) to research on vaccine transportation.
        
        ## SDG video Collaboration by iGEM Patras
        We also submitted a video to [iGEM Patras](https://2021.igem.org/Team:Patras) which they included into their compilation about different teams and their contribution to tackle SDGs.        
    
    :markdown-it
        
        # Science Communication Through Non-Typical Forms of Education in Greece
        Science communication is an important part of the iGEM journey. 
        It is a great way of making science more accessible and appealing to people with different backgrounds or from different age groups. 
        This year Team [iGEM Thrace](https://2021.igem.org/Team:Thrace) organized an Erasmus+ program on this topic, called “Science Communication Through Non-Typical Forms of Education” and we took part in it.
        
    - var imgpath = "" + require("../assets/img/Collaborations/Greece1.jpg")["default"]
    +image(8, imgpath, "Group photo on the first day.")

    :markdown-it

        Together with 16 other iGEM members from various countries, they examined the question of how to communicate science to the public. 
        They started with brainstorming ideas and discussing the goals of science communication the month before the actual meet-up in Greece. 
        For the meet-up [Clemens, Marie K., Willy, and Viktor](https://2021.igem.org/Team:Aachen/Members) from our team traveled for one week to Greece, Alexandroupoli. 
        After many workshops, the group learned how to communicate science in different unusual ways such as theatre, debate, music, drawing, etc. 
        They set their goal to educate the locals on the following three scientific topics:
        
        1. Synthetic Biology
        2. Vaccines
        3. Climate Change
        
        For that, the group was divided into three teams that meticulously researched, wrote, and rehearsed throughout their stay.
        The teams had the one-of-a-kind opportunity to grasp the magic of theatre in the country where it emerged while working together with natives. 
        This boosted their creativity and they managed to combine fun with an important take-home message for the audience. 
        For days they were dedicated to creating their masterpiece through theatre, painting, and music.
    - var imgpath = "" + require("../assets/img/Collaborations/Greece2.JPG")["default"]
    +image(9, imgpath, "Preparing the props for the theatre plays.")  
    - var imgpath = "" + require("../assets/img/Collaborations/Greece3.JPG")["default"]
    +image(10, imgpath, "Preparing the props for the theatre plays.") 

    :markdown-it

         The international group then reached out to people of all ages and backgrounds to invite them to their theatre performances through social media, flyers, and even the local radio. 
        As a result, the play was attended by many people and even the city mayor. 
        The plays ran like a well-oiled machine, everybody knew their tasks and did them thoroughly. 
        In the end, the young Shakespeares were vigorously applauded by the audience and received a speech of gratitude from the mayor.
        
        Upon their arrival back in Germany, our teammates implemented the gained knowledge about science communication and organized fun and educational dissemination activities. 
        They hosted an online event together with the iGEM Teams [Marburg](https://2021.igem.org/Team:Marburg) and [Hamburg](https://2021.igem.org/Team:Hamburg) where they played a variation of hang-man with scientific words. 
        Our teammates also went to the climate change protest march of Fridays For Future. 
        Their goal was to educate people about the small changes that matter. 
        Thus, our team members gave out flyers with some ideas on what one could change in their everyday life to prevent worsening of the climate change.
    - var imgpath = "" + require("../assets/img/Collaborations/Greece4.jpg")["default"]
    +image(11, imgpath, "Malte, Clemens and Viktor at the climate change protest march of Fridays For Future.") 
    - var imgpath = "" + require("../assets/img/Collaborations/Greece5.png")["default"]
    +image(12, imgpath, "Science communication online event.") 

    :markdown-it
    
        All in all, the project was about a lot more than science communication and education. 
        In Greece, every night people from a different country presented something traditional and universal from themselves such as a specific dance or delicious recipe. 
        This certainly fulfilled the idea of Erasmus+ to spread the love between countries and created many new international friendships. 
        Just like the magic of iGEM brings people all over the world together.
    - var imgpath = "" + require("../assets/img/Collaborations/Greece6.JPG")["default"]
    +image(13, imgpath, "Group photo of all participating iGEM team members.")
        
    h1 iJET
    div(style=" display: flex; justify-content: center; align-items: center; color: black;")
        p(style=" width: 50%;margin-right:5vw;") iGEM is a lot more than just a science project. 
            | It is about making the world a better place and bringing people from all over the world together. However, since the Covid-19 pandemic, this became a harder task. 
            | That inspired [iGEM Team Darmstadt 2020](https://2020.igem.org/Team:TU_Darmstadt) to collaborate with our ancestors in a way that became pretty usual during the past year. 
            | Together they managed to connect online with more than 25 other teams by letting the small paper plane iJET flying all over the world, compiling everything into a nice video.
            | This years iGEM 
            a(class="content" href="https://2021.igem.org/Team:TU_Darmstadt/") Team Darmstadt
            | continued the tradition and sent the small paper plane on a journey again. 
            | It flew through 33 different teams around the world including us. The product is a nice video produced by iGEM Team Darmstadt which can be seen here. 
            | A collaboration like this may seem small and insignificant, but it is proof that even in those hard times we can unite together and take a moment to smile and be joyful.
        div(style="width: 50%; height: 70%;")
            - var videopath = "" + require("../assets/videos/iJET.mp4")["default"]
            +video(videopath, "", 100) 
    
    :markdown-it(html)
        
        # Rosalind Chronicles 
        As part of a collaboration between the [Ulaval](https://2021.igem.org/Team:ULaval), [Thessaloniki](https://2021.igem.org/Team:Thessaloniki), [Patras](https://2021.igem.org/Team:Patras) and [Concordia](https://2021.igem.org/Team:Concordia-Montreal) iGEM teams on the topic of women in STEM research, we participated in their "Rosalind Chronicles" project. 
        They called for an entry that would honor influential and innovative women in science.
        Each participating team wrote a text about their favorite female scientist.
        Since all members of our team agreed that women in STEM research have often been overlooked in the past, we chose a female researcher from the last century.
        Maud Leonora Menten worked in the field of enzyme kinetics and is famous for the "Michaelis-Menten equation" - a term everyone in biochemical subjects knows.
        We were impressed by her determination to work in what was then a male-dominated field, and by her decision to even move to Germany for research purposes because she was not allowed to do so in Canada.
        Michaelis-Menten kinetics also played an important role in modeling our TdT reaction, as we used the equation for calculations on dNTP incorporation (see [Modeling](https://2021.igem.org/Team:Aachen/Model#Michaelis-Menten)).
        We thank the four organizing teams for the great opportunity to get to know other inspiring female scientists!
        
        > Maud Leonora Menten (March 20, 1879 -July 17, 1960) was a biomedical and medical researcher who is known for her work on enzyme kinetics and histochemistry.
        > She studied medicine at the University of Toronto and was among the first women in Canada to earn a medical doctorate.
        > Because women were not allowed to do research at the time, she decided to do research in other countries, such as Germany and the United States.
        > In Berlin (1912) she worked together with Leonor Michaelis and co-authored their paper in Biochemische Zeitschrift.
        > They showed that the rate of an enzyme-catalyzed reaction is proportional to the amount of the enzyme-substrate complex.
        > This relationship is known as the Michaelis-Menten equation.
        > She entered graduate school at the University of Chicago and obtained her PhD in 1916.
        > From 1923-1950 she worked at the University of Pittsburgh and became Assistant Professor and then Associate Professor in the school of medicine and head of pathology at the Children's Hospital of Pittsburgh. 
        > In 1948 at the Medical School of the University of Pittsburgh she was awarded a professorship.
        
    - var imgpath = "" + require("../assets/img/Collaborations/rosalindChronicles1.jpg")["default"]
    +image(14, imgpath, "The assembled Rosalind Chronicles") 
    - var imgpath = "" + require("../assets/img/Collaborations/rosalindChronicles2.jpg")["default"]
    +image(15, imgpath, "The collaboration also featured pictures of the female members of all participating teams") 
    - var imgpath = "" + require("../assets/img/Collaborations/rosalindChronicles3.png")["default"]
    +image(16, imgpath, "Women in STEM workshop organized by iGEM Concordia, ULaval, Patras and Thessaloniki ") 
    
    :markdown-it
        # Online Escape Room Collaboration
        During the corona crisis, it was hard for every team to meet up for collaborations in person.
        Together with [iGEM Düsseldorf](https://2021.igem.org/Team:Duesseldorf), [Bonn](https://2021.igem.org/Team:Bonn) and [Kaiserslautern](https://2021.igem.org/Team:TU_Kaiserslautern) we thought of a digital activity we could work on collectively and provide for other people.
        We came up with an online escape room: Solving riddles together and working yourselves through a story related to our projects ending at the giant jamboree! 
        Over the course of about 4 months, we worked out a script about a journey through the 4 cities of the participating teams.
        We met in Discord occasionally to discuss the progress and exchange our ideas.
        Every team contributed pictures for the storyline and 3 riddles, in which you have to apply your biological knowledge to solve them.
        The parts were finally assembled by Annika from iGEM Bonn using Google forms.
        Our riddles broached the issues of DNA synthesis, replication, and sequencing since we used all of these techniques during our project.
        iGEM Bonn thematized Lanthanide metal recycling, Kaiserslautern followed with a part about modular cloning and Düsseldorf finished with a few riddles about pathogen recognition in plants.
        We had lots of fun creating the riddles and thank the other teams for the collaboration.
        We hope that some people had fun playing the escape room! 

        If you want to try the escape room for yourself, click [here](https://docs.google.com/forms/d/e/1FAIpQLSc_gZEv_zMvtW_8McYkuCj8cnNuWPG_XhM2ep2HWWwsu9f8EQ/viewform?usp=sf_link). 


    - var imgpath = "" + require("../assets/img/Collaborations/escapeRoom1.png")["default"]
    +image(17, imgpath, "The starter page of the escape room", 80) 

    - var imgpath = "" + require("../assets/img/Collaborations/escapeRoom2.png")["default"]
    +image(18, imgpath, "Our first riddle thematizing DNA restriction and transcription", 80) 

    - var imgpath = "" + require("../assets/img/Collaborations/escapeRoom3.png")["default"]
    +image(19, imgpath, "The second riddle dealing with PCR primer design", 80) 

    - var imgpath = "" + require("../assets/img/Collaborations/escapeRoom4.png")["default"]
    +image(20, imgpath, "Our last riddle created in analogy to the amino acid codon wheel", 80) 

    - var imgpath = "" + require("../assets/img/Collaborations/escapeRoom5.png")["default"]
    +image(21, imgpath, "The final post for announcing the collaboration on social media", 60) 
    :markdown-it(html)
        # Risk Assessment Webinar 
        To further deepen our understanding of safety during our iGEM journey, we participated in a Risk Assessment Webinar organized by [iGEM Team Heidelberg](https://2021.igem.org/Team:Heidelberg). 
        As the team did not want to benefit from the seminar alone, they asked for a collaboration with us, [iGEM Team MTU](https://2021.igem.org/Team:MTU-CORK) and [iGEM Team Saint Joseph](https://2021.igem.org/Team:Saint_Joseph). 
        We gladly accepted this opportunity.
        
        The presentation was given by Frederic Müller from the German National Risk Assessment Institute (www.bfr.bund.de/en) on October 15, 2021. 
        He started with an explanation of the functions of his institute and that they are an independent organization, so not controlled by the government, which conducts studies to evaluate health issues no matter the parties involved. 
        The team from Heidelberg mainly hoped for more accurate information on medicines, but this is done by other institutes in Germany (like the BfArM, the Federal Institute for Drugs and Medical Devices). 
        The institute of Mr. Müller focuses instead on the risk of food, chemicals, and everyday products. 
        The process of risk analysis, which consists of hazard identification, risk assessment, and risk management, is part of their tasks.
         
        First, the potential hazard must be characterized in order to assess how dangerous the product will affect the general public. 
        Only then can the effective exposure assessment take place. 
        After this has been considered, the risk is characterized and managed. 
        Now the legal team regulates the permitted concentrations of a certain chemical or publishes a general recommendation.
         
        Mr. Müller then focused on the non-medicinal applications of genetically modified organisms (GMOs), so most food and feed. 
        They must not have any adverse effects on the consumer, and they should not be misleading, for example, through correct labeling. 
        One example is a product with a positively altered nutrient content. 
        Additionally, as GM food and feed are consumed by humans and animals, their health risks need to be evaluated, e.g. their toxicity, allergenicity, and overall effects on nutrition.
         
        After the very interesting presentation of Mr. Müller, the teams got the opportunity to ask questions. 
        Certain questions were asked, among others how long such a risk assessment process takes compared to the arduous procedure of passing clinical trials and getting a medicine approved.
         
        This Webinar provided us with an interesting insight into the risk assessment process, as it allowed us to speak to an expert on this topic. 
        We are grateful to iGEM Team Heidelberg that we could join this Webinar!
        
    - var imgpath = "" + require("../assets/img/Collaborations/Collab mit Heidelberg.jpg")["default"]
    +image(0.8, imgpath, "Risk Assessment Webinar with iGEM Heidelberg, MTU and Saint Joseph.", 60) 
    
