extends ../templates/contents.pug

block headVars
    - var title = "Communication"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
    block article
        :markdown-it(html) 
        # Welcome Week
        With the start of the new semester, our university allowed us to present our project and the iGEM competition to the newly arrived international students. 
        We got a booth, where we did the DNA extraction as an icebreaker to discuss with the students about our project. 
        This was interesting because most of them do not know much about synthetic biology and working with DNA. 
        They had a lot of fears, like synthesizing DNA would be dangerous. So we cleared a lot of prejudices up and arouse interest in biology. 
        
        
