extends ../templates/contents.pug

block headVars
    - var title = "Contribution"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
    
# Overview Team- and Working-Structure
## General
- Elect a Team Leader that is responsible for organizing the whole team and especially watches the competition requirements as well as the deadlines. It is recommended that this person takes a vacation semester. 

- Elect a Subgroup Leader for every subgroup you have (like lab, human practices, design, …). This person is communicating with the Team Leader and is also responsible to organize their subgroup 

- Use Microsoft Teams as a team platform 

- For any sort of regular meeting, it is advisable to use the method of ‘silent meetings’. It works as follows: Before the meeting, every subgroup leader (or person with news) writes a detailed description about what he or she has to say. When the meeting begins, everyone mutes themselves and reads through the agenda. When finished, participant can e.g. give response through raising their hands digitally. For questions during the meeting, one can use the comment feature in Word. Once everyone finished reading, the team can go over to discuss topics that require further discussion. This method has two major advantages: 1. Members that missed the meeting can easily catch up. 2. It tremendously reduces the time needed for a meeting. 

- Carefully think about the file organisation in Teams and properly name documents, e.g. with dates. Prevent naming files ‘presentation’, ‘presentation_new’, ‘presentation_updated’, … as this only causes confusion. 

- Right from the beginning, start a list with every person that contributed to your project in any way, like ‘experts’, ‘supervisors’, ‘sponsors’. 

- Use a calendar to keep track of every meeting happening. You can also use it to for vacation periods for members of your team. 

- Use ‘github’ for your wiki. It allows the wiki team to easily set up the wiki from github, it keeps the progress structured and allows constant backups in case some things go wrong. 
