extends ../templates/contents.pug

block headVars
    - var title = "Project Description"
    - var tagline = "Describe how and why you chose your iGEM project."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Selection of the Project 
        Our journey as a team in this year's iGEM competition began in January. 
        In order for us to decide on a project as quickly as possible, we first did a lot of brainstorming and compiled all the ideas. 
        In the following meetings, we decided which ideas would be feasible. Three projects emerged, which we divided among ourselves and worked out further. 
        At the end of February, we were able to present the more mature ideas to our supervisors and received good feedback for two of these project ideas. 
        The final decision was made on March 12, 2021, where we chose our project "Storagene" for this year's iGEM competition.
         
        The idea of using the impressive capacities and properties of DNA to store data fascinated us the most. 
        Its remarkable properties are information density, longevity, and also stability [1](#citation1)[2](#citation2). 
        Our project is based on the work of George Church, a world-renowned scientist in the field of synthetic biology and genome engineering. 
        His idea of enzymatic DNA synthesis with the terminal deoxynucleotidyltransferase (TdT) for storing digital information got our attention. 
        However, this requires the synthesis of many unique DNA sequences of great length. 
        Therefore, Church developed a photon-directed method that requires a laser, a very costly acquisition with complex handling [3](#citation3).
         
        The specific goal of our project “Storagene” is to synthesize DNA enzymatically using the TdT for long-term data storage. 
        Therefore, we developed the DIP method, where immobilized primer on a magnetic stick is dipped into a solution containing TdT and respective nucleotides.
        
        In the future, everbody will have their own synthesizer at home, with which DNA can be synthesized and thus personal data can be stored on the DNA in the long term.
        
    - var imgpath = "" + require("../assets/description/Hardware.svg")["default"]
    +image(1, imgpath, "The syntheziser for home application.")
    
    :markdown-it
        # Characteristics of the Terminal Deoxynucleotidyl Transferase
        The terminal deoxynucleotidyltransferase (TdT) is an enzyme that possesses the unusual ability to incorporate nucleotides in a template-independent manner using only single-stranded DNA as the nucleic acid substrate [3](#citation3). 
         
        Like all DNA polymerases, the TdT also requires divalent metal ions for catalysis of the phosphoryl transfer reaction associated with nucleotide incorporation. 
        However, the TdT is uniquely capable of using a variety of divalent cations such as $Co^{2+}$, $Mn^{2+}$, $Zn^{2+}$, and $Mg^{2+}$ [4](#citation4). 
         
        Another advantage of using the TdT is that the enzyme utilizes a wide variety of nucleotide analogs such as 2′,3′-dideoxynucleotides, p-nitrophenylethyl triphosphate, p-nitrophenyl triphosphate, 2′-deoxy-L-ribonucleoside 5′-triphosphates, and dinucleoside 5′,5′-tetraphosphates [4](#citation4). 
        This can be used for increasing the data capacity even further for DNA data storage, see [Outlook](https://2021.igem.org/Team:Aachen/Outlook). 
         
        Since we wanted to incorporate nucleotides in a controlled manner, we had to interrupt the reaction in the standard TdT reactions. 
        Heat and many different metal chelators can be used for inhibiting the TdT activity, such as: o-phenanthroline, EDTA, triethylene-tetramine, α:α'-bipyridyl, and cysteine [5](#citation5). 
        
        # DNA Synthesis Methods to Date
        Without synthetic DNA or RNA, almost nothing would work in the laboratory: no PCR, no adapters, no linkers and other cloning elements, no CRISPR-Cas - not to mention synthetic genes [6](#citation6). 
         
        Currently, DNA is still synthesized using decades-old chemical phosphoramidite methods, which involve expensive and harsh reactions in many time-consuming steps [3](#citation3). 
        The synthesized DNA is usually only a few hundred nucleotides long because on the one hand, not every step is one hundred percent efficient and on the other hand, long sequences form secondary structures that interfere with further construction [6](#citation6). 
        This limits the chemical synthesis as the demand for longer and larger quantities of DNA oligonucleotides increases [3](#citation3). 
         
        Church’s team developed an enzymatic DNA synthesis method for DNA data storage using the TdT and the cofactor $Co^{2+}$. 
        The photolabile chelator DMNP-EDTA locks the cation in place and releases it only after irradiation with UV light, activating TdT. 
        The light beams precisely target individual positions on a chip where enzymatic DNA synthesis is to occur by attaching to a short oligo anchor.
        Even if the entire chip is flooded with dATP, for example, only the TdT enzymes at the points currently illuminated can incorporate nucleotides. 
        Subsequently, the excess dATP is flushed away and the TdT incorporates the next dNTP at the illuminated positions of the chip [6](#citation6). 

       
//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Palluk, S., Arlow, D. H., de Rond, T., Barthel, S., Kang, J. S., Bector, R., ... & Keasling, J. D. (2018). ", "doi": "https://doi.org/10.1038/nbt.4173", "journal": "Nature Biotechnology", "numbers": "36(7), 645-650. ", "title": "De novo DNA synthesis using polymerase-nucleotide conjugates.", "type": "article"}, {"authors": "Lee, H. H., Kalhor, R., Goela, N., Bolot, J., & Church, G. M. (2019). ", "doi": "https://doi.org/10.1038/s41467-019-10258-1", "journal": "Nature Communications", "numbers": "10(1). ", "title": "Terminator-free template-independent enzymatic DNA synthesis for digital information storage.", "type": "article"}, {"authors": "Lee, H., Wiegand, D. J., Griswold, K., Punthambaker, S., Chun, H., Kohman, R. E., & Church, G. M. (2020). ", "doi": "https://doi.org/10.1038/s41467-020-18681-5", "journal": "Nature Communications", "numbers": "11(1). ", "title": "Photon-directed multiplexed enzymatic DNA synthesis for molecular digital data storage.", "type": "article"}]
