extends ../templates/contents.pug

block headVars
    - var title = "Education"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
        
        # Fact of the week
        
        With the social media posts called “fact of the week”, we want to explain complex topics in synthetic biology in a simple way and thus engage in science communication.
        The aim is to get people interested in the topics addressed, some of which are special.
        The following topics were covered:
            * Biotechnology
            * CRISPR/Cas9
            * Bioflavors
            * Escherichia coli
            * Genetic code
            * Bioluminescence
            * Biolistics
            * Bioleaching
            * Astrobiology
            * Microbial nanowires
            * 3D Bioprinting
            
            
            
      
        
        # Collaboration with iGEM Eindhoven
        In March we wrote iGEM Tue a message if they would like to meet sometime. In our first meeting, we decided to cooperate in the field of science communication. 
        At first, we collected easy experiments for younger children and made lesson plans and PowerPoint presentations in English, German and Dutch for each experiment. 
        We conducted them in elementary schools in both countries. In Germany, we paid a visit to the Don-Bosco-School in Wolsfeld and performed two experiments with a small group of students.  
        First, we briefly introduced iGEM and our team and explained what kind of project we are working on in a way that was appropriate for children. 
        Then we went straight into the first experiment and built a lava lamp using simple home remedies. All materials were provided by our team. 
        The elementary school students were able to take all information from a presentation we created and were able to perform every step by themselves. 
        The second experiment was to separate the pigments of different felt-tip pens to demonstrate the mixture of colors. Finally, we had a short discussion with the students and made sure that they learned something from the experiments. 
        Due to the enthusiasm of the students and on our part, as well as good experiences in the schools on the Dutch and German side, we started a call on slack to collect more school experiments. 
        The iGEM teams Bielefeld, Boku-Vienna, KU Leuven, Unizar, and Wageningen_UR send us their writings and we put them all together into one big handbook. It should make doing experiments with pupils easier for the teacher or other iGEM teams. 
        They just need to choose from a collection of experiments.

    - var imgpath = "" + require("../assets/img/Collaborations/Eindhoven.png")["default"]
    +image(1, imgpath, "Picture of the meeting with Eindhoven")
        
    :markdown-it(html)
        # Welcome Week
        With the start of the new semester, our university allowed us to present our project and the iGEM competition to the newly arrived international students.
        In our booth, we first raised interest for our project by conducting a simple DNA extraction experiment with the newcoming students. We then had an exiting detabte with them about our project.```
        They had a lot of fears, like synthesizing DNA would be dangerous. So we cleared a lot of prejudices up and arouse interest in biology.
        
        #Article In Magazine "BIOSpektrum"
       As part of science communication, we also reached in an article at the magazine "BIOSpektrum", where we explained our project. BIOSpektrum is a magazine with a scientific audience. This allowed us to explain our topic, the enzymatic DNA synthesis for DNA data storage, in more detail. Even though some readers might have already heard about this topic our approach is completely unique.
        Because the target audience of the magazine has a scientific background in biology we could explain our DNA synthesis system and DNA data storage in general in reater detail.
        Many BIOspektrum readers have probably heard of the topic of DNA data storages before, but with our article we may have drawn more attention to it.
        
        #techdive Podcast
        Podcasts are becoming more and more popular, especially among young people, so we could not miss the opportunity of reaching out to that audience.
        Hence we participated in the podcast "techdive", which features students’ thesis’ and student project groups to present them to a broader audience.
        It was a challenging experience to explain the topic of DNA synthesis and storage to someone who is not familiar with the biological basics, but we ultimately could simplify it to the point where listeners from every background, scientific or not, could understand it.
        
        

        
