extends ../templates/contents.pug

block headVars
    - var title = "Education"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
        
        # Fact of the week
        
        With the social media posts called “fact of the week”, we want to explain complex topics in synthetic biology in a simple way and thus engage in science communication.
        The aim is to get people interested in the topics addressed, some of which are special.
        The following topics were covered:
            ⋅⋅* Biotechnology
            ⋅⋅* CRISPR/Cas9
            ⋅⋅* Bioflavors
            ⋅⋅* Escherichia coli
            ⋅⋅* Genetic code
            ⋅⋅* Bioluminescence
            ⋅⋅* Biolistics
            ⋅⋅* Bioleaching
            ⋅⋅* Astrobiology
            ⋅⋅* Microbial nanowires
            ⋅⋅* 3D Bioprinting

        
