extends ../templates/contents.pug

block headVars
    - var title = "Education"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
        
        # Fact of the week
        
        With the social media posts called “fact of the week”, we want to explain complex topics in synthetic biology in a simple way and thus engage in science communication.
        The aim is to get people interested in the topics addressed, some of which are special.
        The following topics were covered:
        - Biotechnology
        - CRISPR/Cas9
        - Bioflavors
        - Escherichia coli
        - Genetic code
        - Bioluminescence
        - Biolistics
        - Bioleaching
        - Astrobiology
        - Microbial nanowires
        - 3D Bioprinting
            
            
            
      
        
        # Collaboration with iGEM Eindhoven
        In March we wrote iGEM Tue a message if they would like to meet sometime. In our first meeting, we decided to cooperate in the field of science communication. 
        At first, we collected easy experiments for younger children and made lesson plans and PowerPoint presentations in English, German and Dutch for each experiment. 
        We conducted them in elementary schools in both countries. In Germany, we paid a visit to the Don-Bosco-School in Wolsfeld and performed two experiments with a small group of students.  
        First, we briefly introduced iGEM and our team and explained what kind of project we are working on in a way that was appropriate for children. 
        Then we went straight into the first experiment and built a lava lamp using simple home remedies. All materials were provided by our team. 
        The elementary school students were able to take all information from a presentation we created and were able to perform every step by themselves. 
        The second experiment was to separate the pigments of different felt-tip pens to demonstrate the mixture of colors. Finally, we had a short discussion with the students and made sure that they learned something from the experiments. 
        Due to the enthusiasm of the students and on our part, as well as good experiences in the schools on the Dutch and German side, we started a call on slack to collect more school experiments. 
        The iGEM teams Bielefeld, Boku-Vienna, KU Leuven, Unizar, and Wageningen_UR send us their writings and we put them all together into one big handbook. 
        It should make doing experiments with pupils easier for the teacher or other iGEM teams. 
        They just need to choose from a collection of experiments.        

    - var pdfpath = "" + require("../assets/documents/collaborations/Lesson-plan-Aachen-x-Eindhoven-x-others.pdf")["default"]
    a(href=pdfpath) Here you can find them

    - var imgpath = "" + require("../assets/img/Collaborations/Eindhoven.png")["default"]
    +image(1, imgpath, "Picture of the meeting with Eindhoven")

    
    :markdown-it
        # Welcome Week
        With the start of the new semester, our university allowed us to present our project and the iGEM competition to the newly arrived international students.
        We got a booth, where we did the DNA extraction as an icebreaker to discuss with the students about our project. This was interesting because most of them do not know much about synthetic biology and working with DNA. 
        They had a lot of fears, like synthesizing DNA would be dangerous. So we cleared a lot of prejudices up and arouse interest in biology. 

    :markdown-it
        # Carrer guidance event in Bulgaria
        We at our team feel that iGEM is about learning more and for this reason felt responsible for educating young people. 
        Therefore, Viktor participated in a career guidance event organized every year at his school in Bulgaria and gave a presentation about the branches of biotechnology, the bachelor's degree program at RWTH Aachen University, and the career opportunities. 
        He then joined an experienced chemical engineer in answering students' questions about studying and working in the field.
        А couple of students were intrigued about the world of biotechnology and connected with Viktor for further information about the bachelor program. 
        Thus, we believe that we helped young people to find their passion and hope that one day we will work side by side on a project that may change the world.
    - var imgpath = "" + require("../assets/img/Education/91.DeutschesGymnasiumSofia.jpg")["default"]
    +image(2, imgpath, "91. Deutsches Gymnasium Sofia")
