extends ../templates/contents.pug

block headVars
    - var title = "Engineering"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
    
        # Overview

        In our project, we had to overcome multiple obstacles and we therefore performed multiple engineering cycles. 
        The main goal of the project is to encode information into DNA. 
        To achieve that goal, we had to establish analytical methods for different purposes: for broad and detailed length analysis. 
        Concerning the prevention of secondary structures, we examined the use of single-stranded binding proteins and small oligonucleotides. 
        Lastly, we had to immobilize primers to synthesize a pre-set base sequence.
        
        # Analysis
        
        Our synthesized strands were small in size, low in concentration, and on top of that single-stranded DNA (ssDNA), which made it hard to run standard protocols for nucleic acid analysis. Therefore, we had to establish new procedures for our unconventional samples. 

        Coarse electrophoresis like agarose and polyacrylamide (PAA) is a fast and easy method. 
        However, there are many different variable parameters like the concentration of Agarose and PAA, dying method, time, voltage, or buffer. 
        First, we tried the commonly used TRIS-Acetate-EDTA (TAE) buffer with a 1% Agarose gel and the Roti GelRed stain. 
        With these parameters, we did not manage to visualize the synthesized DNA from our first experiments. 
        After some research and advice from experts, we tried out TRIS-Borate/EDTA (TBE) buffer and raised the agarose concentration to 2.5%. 
        With these parameters, we were able to see smaller fragments but could not observe lower concentrations. 
        Through research on the GelRed stain and our contacts at ThermoFisher, we decided to continue our work with the SYBR Gold stain, which suited our products because of its high sensitivity even for single-stranded samples. 
        With the new stain, it was possible to see our primers (GALI) on a Agarose gel, but it was impossible to do a highly resolved comparison of short fragements. 
        To compare our reactions, we ordered a 100 nt primer (AT-rich, GC-rich), and by adjusting other parameters like time and voltage, we got relatively sharp bands with a resolution of around +/- 20 nt. 
        Now that we have established a broad method for analyzing our fragments, we were able to study the reaction conditions of our enzyme, like cofactor dependency, preferred nucleotide, reaction time, or reaction temperature.
        But we were not able to visualize small differences of 1-3 nucleotides, which would be important concerning the efficient and material-saving synthesis of many nucleotide transitions.
    
    - var imgpath = "" + require("../assets/img/Experiments/2021-06-08_01_agar.jpg")["default"]
    +image(1, imgpath, "2.5% Agarose in TBE with samples from 2021-06-07_table2, 90 V 52 min, SYBR Gold (20 min); M: GeneRuler 50 bp DNA Ladder; 1: P100, 1:1000; 2: P100, 1:1000; 3: P100, 1:2000; 4: P100, 1:5000; 5: P100, 1:10000; M: GeneRuler 50 bp DNA Ladder",100,0.8)
    
    
    :markdown-it(html)
    
        To tackle this problem, we wanted to establish the PAA-electrophoresis. 
        After some research, we decided to try a 15% PAA Gel with GelRed post-staining. 
        This method has been proven to be more difficult and time-consuming than agarose gel electrophoresis. 
        Regarding this method, the GelRed stain also did not work. 
        Concerning voltage and running time through trial and error, we found out that 100 V and 1 hour suited the best for our samples. 
        After some more research and an informative meeting with Dr. Zimmermann, we performed a Silver Staining. However, this time-intensive and complicated method did not work for our samples. 
        Due to hazardous ingredients and lengthy experiment procedure, we stopped pursuing this method. 
        After a couple of successful Agarose gels, we tested SYBR Gold stain, which could visualize all of our products, even our 21 nt GALI primer. 
        Now, we were able to examine differences of around 5 nt. 
    
    - var imgpath = "" + require("../assets/img/Experiments/2021-05-12_01_inv_paa.jpg")["default"]
    +image(2, imgpath, "15% PAA Gel resolution test with samples from 2021-05-12_table1, 100 V 60 min, SYBR Gold (20 min); M: GeneRuler UltraLowRange DNA Ladder; 1: GALIfor 1:5; 2: GALIfor 1:10; 3: GALIfor 1:15; 4: GALIfor 1:20; 5: GALIfor 1:30; 6: GALIfor 1:40.)",100,0.8)
    
    :markdown-it(html)

        To analyze our samples even more in detail, we tried to use capillary electrophoresis (CE). 
        Sebastian Palluk recommended to consult experts from the Fraunhofer IME in Aachen. 
        After the first meeting with Dr. Muth and Mrs. Freund, we ordered our primers (AT-rich, GC-rich) with the 6FAM fluorescent modification at the 5’ end. 
        Those primers were not suitable for our purspose.
        Our first CE results showed strong background noise and also the length of the primer could not be analyzed properly, most likely due to insufficient purity of the primers. 
        To solve this problem we ordered new HPLC purified primers and also purified the samples with an ssDNA clean and concentrator kit before sending them in for analysis. 
        After those two steps, we managed to analyze our samples with a resolution of 1 nucleotide. 
        We used this technique to study the reaction rate of the TdT with different nucleotides and adapt our kinetic model.
    
    - var imgpath = "" + require("../assets/img/Experiments/2021-07-08_CE.jpg")["default"]
    +image(3, imgpath, "Elongation of AT-rich primer with Thymin, 60 s; Peak Scanner plot, fluorescence intensity against time",100,0.8)
    
    :markdown-it(html)

        # Preventing secondary structures

        Due to the formation of duplex secondary structures, especially with guanine, synthesis of longer strands by the TdT is complicated. 
        This problem often prevents the extension of all strands to more than 1000 nt. 
        By adding single-stranded binding proteins (SSBs) from Thermo Fisher Scientific, we were able to show that SSBs can be used to partially prevent the formation of secondary structures. 
        As a result, significantly longer strands could be amplified.
    
    - var imgpath = "" + require("../assets/img/Experiments/GC_oligo_ohne_SSBs.png")["default"]
    +image(4, imgpath, "Evaluating inserts from the approach without SSBs, it can be seen that on average no more than 200 nucleotides were appended due to secondary structures present.",100,0.8)
    
    - var imgpath = "" + require("../assets/img/Experiments/GC_Oligo_mit_SSB.png")["default"]
    +image(5, imgpath, "Looking at inserts that were elongated with SSBs, it is clearly visible that extensions of the primer by up to 978 nucleotides were made.",100,0.8)

    :markdown-it(html)
    
        As a conclusion from our experiments it can be seen that we were able to reduce the formation of secondary structures in ssDNA by using SSBs. Adding them to our TdT tailing apporaches significantly enhanced the elongation capacity. 
        
        [//]: # (Text nicht vollständig)

        # Immobilisation Methods
        
        Immobilization of the primer was a key element of our project to establish cyclic synthesis with the DIP method (see also [Hardware](https://2021.igem.org/Team:Aachen/Hardware#DIPsy). 
        Since we had specific requirements regarding the attachment of the primer on a stick like a functional elongation, we had to work our way through three different methods until we found a suitable design. 

        Our first approach was the use of anchor peptides and primers with Amino C6-modification (AC6-primer) binding to a polystyrene stick. 
        As you can see on our [Experiments-Page](https://2021.igem.org/Team:Aachen/Experiments#CyclicSynthesisandPrimerImmobilization) the anchor peptide is a fusion protein, where the primer is supposed to bind to a carboxyl functional group of acidic amino acids in the protein. 
        After designing the system, we started testing this approach in the lab (for more detailed information about the experiments see [here](https://2021.igem.org/Team:Aachen/Results#PrimerImmobilization)).
        Tackling the first part of the process (immobilizing primers on the stick), we did an ELISA immunoassay, using Penta-His-HRP-Antibodies, which bind to a His-Tag on the anchor peptides. The bound enzyme HRP (Horseradish peroxidase) indicates a successful binding by converting a chromogen into a colored compound.
        Analyzing the absorbance, we found out that the peptides bind to the sticks and resist washing steps. 
        Now proceeding to the next part of the immobilization system, we needed to link the AC6-primer to the anchor peptide.
        Visualizing the conjugation with an SDS-PAGE, we realized that the process was probably unsuccessful.
        Nevertheless, a TdT reaction with pure primer-solution and the immobilized conjugate approach was performed, to see if the AC6-primer could get elongated by the enzyme and to prove, that also immobilized primers worked.
        The analysis with gel electrophoresis showed, that AC6-primers could indeed be elongated but the conjugation of primer and peptide failed.

        Because the basic design of this immobilization method (anchor peptides binding to the stick) worked we adapted our system by using custom-made maleimide-tagged primer, which can form covalent bonds with thiol groups in cysteine. 
        Under the assumption of different running behavior of the conjugates compared to pure primers, we tested two different maleimide-labeled primers at various ratios in gel electrophoresis. 
        Subsequently, to analyze the binding between primer and peptide a purification of the conjugate out of an agarose gel followed by an SDS-PAGE and western-blot was performed.
        These experiments sadly did not succeed but because our first gel electrophoreses indicated that the conjugation might have worked, we started TdT tailing reactions.
        Since an elongation of itself worked, but we did not know whether it was the conjugated or free excess primer, the next step was taken and immobilization of the possible conjugates on the polystyrene sticks was attempted as well as more TdT tailing reactions. 
        Getting inconclusive results in the electrophoresis, we analyzed the samples further with a dot blot (immunoblot), where we investigated the presence of protein in bands that might be conjugated anchor peptides.
        The experiments showed that the conjugation was too uncertain to be used for further experiments.

        Turning to streptavidin-biotin-bonds as a third approach, we started using streptavidin-coated magnetic beads and biotinylated primers with a TEG (triethyleneglycol) spacer.
        Beginning with tests regarding the immobilization of the primers per se, we successfully bound the biotinylated primer to the beads after a few experiments while altering the beads to primer ratio and implementing washing steps.
        Elution of the primer was also possible, even after binding the beads onto the magnetic rod.
        Gel electrophoreses proved that the system works. 
        Throughout the project, we have considered that it was handy to have non-permanent immobilization.
        Implementing this aspect, we started using an envelope made out of polypropylene for the magnetic rod.
        While the immobilization was functional with this system as well, we were now also saving material because the magnetic beads did not bind irreversibly to the rod. 
        Now that the immobilization was working reliably, we could start experimenting with the TdT reaction. 
        After a few unsuccessful samples, we altered different aspects of the reaction like the order of the steps and incubation time.
        Rethinking the basic design of the system in detail once more, we realized that the wash buffer probably inhibits the TdT.
        Repeating the TdT tailing reactions while using water instead of wash buffer, gel electrophoresis finally showed a successful elongation of immobilized primers, which were eluted afterward.
        Now having a basis for cyclic synthesis we started creating samples with defined base sequences. 

        Experiencing many obstacles during the project towards successful semi-specific cyclic synthesis, we learned that constantly re-thinking ideas and adapting previously tested methods is the key to an effective engineering process.

        
