extends ../templates/contents.pug

block headVars
    - var title = "Engineering Success"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
    
        # Overview

        In our project, we had to overcome multiple obstacles and therefore performed multiple engineering cycles. 
        The main goal of the project is to encode information into DNA. 
        To achieve that goal, we had to establish analytical methods for different purposes: for broad and detailed length analysis. 
        Concerning the prevention of secondary structures, we examined the use of single-stranded binding proteins and small oligonucleotides. 
        Lastly, we had to immobilize primers to synthesize a pre-set base sequence.
        
        # Analysis
        
        Our synthesized strands were small in size, low in concentration, and on top of that single-stranded DNA (ssDNA), which made it hard to run standard protocols for nucleic acid analysis. 
        Therefore, we had to establish new procedures for our unconventional samples.
        
        Ordinary gel electrophoresis with agarose or polyacrylamide (PAA) is a fast and easy method. 
        However, there are many different variable parameters like the concentration of agarose and PAA, dying method, time, voltage, and buffer. 
        First, we tried the commonly used TRIS-Acetate-EDTA (TAE) buffer with a 1% agarose gel and ROTI GelStain Red.
        With these parameters, we did not manage to visualize the synthesized DNA from our first experiments. 
        After some research and advice from experts, we tried out TRIS-Borate-EDTA (TBE) buffer and raised the agarose concentration to 2.5%. 
        With these parameters, we were able to see smaller fragments but could not observe lower concentrations. 
        Through research on ROTI GelStain Red and our contacts at ThermoFisher, we decided to continue our work with SYBR Gold stain, which suited our samples because of its high sensitivity even for single-stranded samples. 
        With the new stain, it was possible to see our primers (GALI) on an agarose gel, but it was impossible to do a highly resolved comparison of short fragments. 
        To compare our reactions, we ordered 100 nt primers (AT-rich, GC-rich), and by adjusting other parameters like time and voltage, we got relatively sharp bands with a resolution of around +/- 20 nt. 
        Now that we had established a broad method for analyzing our fragments, we were able to study the reaction conditions of our enzyme, like cofactor dependency, preferred nucleotide, reaction time, and reaction temperature.
        But we were not able to visualize small differences of 1-3 nucleotides, which would have been important for the efficient and material-saving synthesis of many nucleotide transitions.

    - var imgpath = "" + require("../assets/img/Experiments/2021-06-08_01_agar.jpg")["default"]
    +image(1, imgpath, "<b> 2.5% agarose in TBE </b>, 90 V, 52 min, SYBR Gold staining; M: GeneRuler 50 bp DNA Ladder; 1: AT-rich, 100 nM, primer reference; 2: AT-rich, 100 nM, reaction; 3: AT-rich, 50 nM, reaction; 4: AT-rich, 20 nM, reaction; 5: AT-rich, 10 nM, reaction; M: GeneRuler 50 bp DNA Ladder.",60,0.8)
    
    
    :markdown-it
    
        To tackle this problem, we wanted to establish the PAA gel electrophoresis. 
        After some research, we decided to try a 15% PAA gel with ROTI GelStain Red post-staining. 
        This method has been proven to be more difficult and time-consuming than agarose gel electrophoresis. 
        With this method, ROTI GelStain Red also did not work. 
        Adjusting voltage and running time through trial and error, we found out that 100 V and 1 hour were the most suitable conditions for our samples. 
        After some more research and an informative meeting with Dr. Zimmermann from the Institute of Applied Microbiology, we performed silver staining. 
        However, this time-intensive and complicated method did not work for our samples. 
        [//]: # (Klar war das sehr aufwendig, was auch ein Grund war, warum wir es gelassen haben, aber wir haben nie ganz herausgefunden, warum man unsere Proben nicht gut gesehen hat, das müsste mit Silberfärbung nämlich eigentlich klappen, denn SYBR Gold unterdrückt die Fluoreszenz, Silberfärbung ist eigentlich sensitiver)
        [//]: # (Problematisch wurde es ja dann erst mit den denaturierenden Gelen und dann hatten wir uns gedacht, wenn die denaturierenden Gele nicht funktionieren, können wir ja direkt Agarose nehmen, das ist einfacher)
        Due to hazardous ingredients and lengthy experiment procedure, we stopped pursuing the silver staining. 
        After several successful agarose gels, we tested SYBR Gold stain, which could visualize all of our products, even our 21 nt GALI primer. 
        Now, we were able to examine differences of approximately 5 nt.
        Despite these results, we stopped using PAA gel electrophoresis because of multiple reasons:
        Firstly, the error rate of the method is higher and the procedure is more time consuming than agarose gel electrophoresis.
        Additionally, the resolution of the agarose gel electrophoresis was sufficient for us to study the characteristics of our enzyme.
        For more detailed analysis we established the capillary electrophoresis and multiple sequencing methods.

        [//]: # (Bin mir hier unsicher ob eine Begründung warum wir PAA nicht mehr verwendet haben rein muss. Eig sollen doch nur die engineering cycles beschrieben werden)
        [//]: # (Hier wird nicht so ganz klar, warum wir dann doch keine PAA-Gele mehr gemacht haben.)
        [//]: # (Es ging darum, dass das SYBR Gold die kleinen Konzentrationen, mit denen wir gearbeitet haben, auf dem PAA-Gel nicht sichbar machen konnte, aber auf der Agarose schon)

    - var imgpath = "" + require("../assets/img/Experiments/2021-05-12_01_inv_paa.jpg")["default"]
    +image(2, imgpath, "<b> 15% PAA gel resolution test </b> , 100 V 60 min, SYBR Gold (20 min); M: GeneRuler UltraLowRange DNA Ladder; 1: GALIfor 20 µM; 2: GALIfor 10 µM; 3: GALIfor 6.67 µM; 4: GALIfor 5 µM; 5: GALIfor 3.33 µM; 6: GALIfor 2.5 µM.",60,0.8)
    
    :markdown-it

        To analyze our samples in even more detail, we tried using capillary electrophoresis (CE). 
        Sebastian Palluk from Ansa Biotechnologies recommended consulting experts from Fraunhofer IME in Aachen. 
        After the first meeting with Dr. Muth and Mrs. Freund, we ordered our primers (AT-rich, GC-rich) with the 6-FAM fluorescent modification at the 5' end. 
        Those primers were not suitable for our purpose.
        Our first CE results showed strong background noise and also the length of the primer could not be analyzed properly, most likely due to insufficient purity of the primers. 
        To solve this problem we ordered new HPLC purified primers and also purified the samples with an ssDNA clean and concentrator kit before sending them in for analysis. 
        After those two steps, we managed to analyze our samples with a resolution of 1 nucleotide. 
        We used this technique to study the reaction rate of the TdT with different nucleotides and adapt our kinetic model.
    
    - var imgpath = "" + require("../assets/img/Experiments/2021-07-08_CE.jpg")["default"]
    +image(3, imgpath, "<b> CE results </b> for Elongation of AT-rich primer with Thymin, 60 s; Peak Scanner plot, fluorescence intensity against time.",80,0.8)
    
    :markdown-it

        # Immobilization Methods
        
        Immobilization of the primer was a key element of our project to establish cyclic synthesis with the DIP method (see [Hardware](https://2021.igem.org/Team:Aachen/Hardware#DIPsy). 
        Since we had specific requirements regarding the attachment of the primer on a stick like a functional elongation, we had to work our way through three different methods until we found a suitable design. 

        Our first approach was the use of anchor peptides from the Leibniz Institute for Interactive Materials and primers with Amino C6-modification (AC6-primer) binding to a polystyrene stick. 
        As you can see on our [Experiments-Page](https://2021.igem.org/Team:Aachen/Experiments#CyclicSynthesisandPrimerImmobilization) the anchor peptide is a fusion protein, to which the primer is supposed to bind by reacting with a carboxyl functional group of acidic amino acids in the protein.
        Tackling the first part of the process (immobilizing the fusion protein on the stick), we did an ELISA immunoassay, using Penta-His-HRP-Antibodies, which bind to a His-Tag on the anchor peptides. The bound enzyme HRP (Horseradish peroxidase) indicates a successful binding by converting a chromogen into a colored compound.
        Analyzing the absorbance, we found out that the peptides bind to the sticks and resist washing steps. 
        Now proceeding to the next part of the immobilization system, we needed to link the AC6-primer to the anchor peptide.
        Visualizing the conjugation with an SDS-PAGE, we realized that the process was probably unsuccessful.
        Nevertheless, a TdT reaction with pure primer-solution and the immobilized conjugate approach was performed, to see if the AC6-primer could get elongated by the enzyme and to prove, that also immobilized primers worked.
       
               
    - var imgpath = "" + require("../assets/img/Results/2021-08-03_01.png")["default"]
    +image(4, imgpath, "<b>Standard TdT reaction (dTTP 15 min) with the conjugate and elutions of immobilizations with AC6 primer and AC6 primer-peptide conjugate.</b> 2.5% Agarose with TBE, SYBR Gold, staining, 90 V, 60 min. M: GeneRuler 50 bp DNA Ladder 1: AC6 primer 2: AC6 primer after TdT reaction 3: AC6-primer-peptide conjugate 4: heated AC6-primer-peptide conjugate 5: AC6-primer-peptide conjugate after TdT reaction 6: elution of AC6-primer after immobilization 7: elution of AC6-primer after immobilization and TdT reaction 8: elution of AC6-primer-peptide conjugate after immobilization 9: elution of AC6-primer-peptide conjugate after immobilization and TdT reaction.", 60,0.8)
            
    :markdown-it
       
        The analysis with gel electrophoresis showed, that AC6-primers could indeed be elongated but the conjugation of primer and peptide failed. 
        The anchor peptide should influence the running behavior due to its molecular weight and stop at a higher level if the conjugation had worked.
        However, possible conjugates and elongated conjugates in lanes 3 and 5 show the same bands as single primer reference (lane 1) and elongated primer (lane 2).

        Because the basic design of this immobilization method (anchor peptides binding to the stick) worked we adapted our system by using custom-made maleimide-tagged primer, which can form covalent bonds with thiol groups in cysteine. 
        Under the assumption of different running behaviors of the conjugates compared to pure primers, we conjugated two different maleimide-labeled primers in different excesses with the fusion protein and performed gel electrophoresis. 
        
         
    - var imgpath = "" + require("../assets/img/Results/2021-08-19_01.png")["default"]
    +image(5, imgpath, "<b>Conjugations of LCI-fusion-protein with AT-rich and GC-rich maleimide-labeled ssDNA primers and different primer excesses.</b> 2.5% agarose with TBE, 90 V, 60 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: GC-rich primer reference 2: AT-rich primer reference, 3: Conjugation with 12.5x GC-rich primer excess 4: Conjugation with 5x GC-rich primer excess 5: Conjugation with 2x GC-rich primer excess 6: Conjugation with 12.5x AT-rich primer excess.", 60,0.8)
    
    :markdown-it
        
        As seen in figure 7, lanes 4 to 6 appeared in a bright smear. Therefore it can be concluded that the conjugation was successful.
        Subsequently, to analyze the binding between primer and peptide a purification of the conjugate out of an agarose gel followed by an SDS-PAGE and western-blot was performed.
        These experiments sadly did not succeed, but because our first gel electrophoreses indicated that the conjugation might have worked, we started TdT tailing reactions.
        Since an elongation worked, but we did not know whether it was the conjugated or free excess primer, the next step was taken and immobilization of the possible conjugates on the polystyrene sticks was attempted as well as more TdT tailing reactions. 
        Getting inconclusive results in the electrophoresis, we analyzed the samples further with a dot blot (immunoblot), where we investigated the presence of protein in bands that might be conjugated anchor peptides.
        The experiments showed that the conjugation was too uncertain to be used for further experiments.

        Turning to streptavidin-biotin-bonds as a third approach, we started using streptavidin-coated magnetic beads and biotinylated primers with a TEG (triethyleneglycol) spacer.
        Beginning with tests regarding the immobilization of the primers, we successfully bound the biotinylated primer to the beads after a few experiments while altering the beads to primer ratio and implementing washing steps.
        Elution of the primer was also possible, even after binding the beads onto the magnetic rod.
        
                
    - var imgpath = "" + require("../assets/img/Results/2021-10-05.png")["default"]
    +image(6, imgpath, "<b>Permanent immobilization using biotin-streptavidin binding.</b> A) Magnet beads and primer were conjugated first, and the magnet stick was added afterward. B) Magnet beads were attached to the magnet stick and primer was added afterward. 2.5% agarose TBE, SYBR Gold, 90V, 45 min. M: GeneRuler 50 bp DNA Ladder 1: Biotin-labelled N-Primer 2: Conjugation rest 3: Wash rest 4: Wash rest 5: Elution.",100,0.8)        
        
    :markdown-it
        
        Gel electrophoreses proved that the system works. 
        Conjugation was successful when adding magnet beads to primers in the first step and then the magnet rod.
        As seen in lane A) 5, the primers could be eluted easily later. When binding the magnetic beads to the magnet first and performing the conjugation step afterward, it is visible in lane B) 2 that the primer did not bind to the immobilized beads.
        Throughout the project, we have considered that it was handy to have non-permanent immobilization.
        Implementing this aspect, we started using an envelope made out of polypropylene for the magnetic rod.
        While the immobilization was functional with this system as well, we were now also saving material because the magnetic beads did not bind irreversibly to the rod. 
        Now that the immobilization was working reliably, we could start experimenting with the TdT reaction. 
        After a few unsuccessful samples, we altered different aspects of the reaction like the order of the steps and incubation time.
        Rethinking the basic design of the system in detail once more, we realized that the wash buffer probably inhibits the TdT.
        Repeating the TdT tailing reactions while using water instead of wash buffer, gel electrophoresis finally showed a successful elongation of immobilized primers, which were eluted afterward.
        Now having a basis for cyclic synthesis we started creating samples with defined base sequences. 

        Experiencing many obstacles during the project towards successful semi-specific cyclic synthesis, we learned that constantly re-thinking ideas and adapting previously tested methods is the key to an effective engineering process.

        
        # Preventing secondary structures

        Due to the formation of duplex secondary structures, especially with guanine, the synthesis of longer strands by the TdT is complicated. 
        This problem often prevents the extension of all strands to more than 1000 nt. 
        To study this context we ordered especially a GC-rich primer with a GC share of 80%.
        Further, we designed sequences in the primer that tend to form secondary structures.
        In order to tackle this problem, we established the use of single-stranded binding proteins [(SSBs)](https://2021.igem.org/Team:Aachen/Results#SecondaryStructures-SSBs). 
        Through the first tests, we had to figure out which concentration of SSBs suits the best for our experiments. 
        Too high concentrations obstruct the TdT from elongating the primer and too low concentrations showed no significant effects. 
        After testing various concentrations and finding an optimal one we faced another problem. 
        In order to analyze the synthesized ssDNA it was crucial to separate the SSBs from the synthesized strand.
        Following multiple approaches, we found out that running a PCR is the best way to “separate” the DNA from the SSB [(PCR)](https://2021.igem.org/Team:Aachen/Experiments#PCR). 
        Additionally, we could clone these PCR products and sequence them by [Sanger-Sequencing](https://2021.igem.org/Team:Aachen/Experiments#Sequencing). 
        This method allowed us to examine the synthesized DNA strands in more detail.  
        By adding single-stranded binding proteins from Thermo Fisher Scientific, we were able to show that SSBs can be used to partially prevent the formation of secondary structures. 
        As a result, significantly longer strands could be amplified.
        
    - var imgpath = "" + require("../assets/img/Experiments/GC_oligo_ohne_SSBs.png")["default"]
    +image(7, imgpath, "<b> Inserts from the approach without SSBs</b>. 9 clones with inserts &lt 150 bp. SeqMan Pro 15 plot.",80,0.8)
    
    - var imgpath = "" + require("../assets/img/Experiments/GC_Oligo_mit_SSB.png")["default"]
    +image(8, imgpath, "<b> Inserts that were elongated with SSBs </b>. 4 clones with inserts &gt 300 bp, A01 clone up showed an insert with 978 nucleotides added to the GC-rich primer. SeqMan Pro 15 plot.",80,0.8)

    :markdown-it
    
        As a conclusion from our experiments, it can be seen that we were able to reduce the formation of secondary structures in ssDNA by using SSBs. 
        Adding them to a TdT tailing reaction in solution seems to significantly enhance the elongation capacity. 
        
        [//]: # (Ist dir das kritisch genug :D, Wichert meinte das man ruhig euphemistischer schreiben kann. Kannst aber ruhig noch ergänzen)
        
        
        
        
        
