extends ../templates/contents.pug

block headVars
    - var title = "Experiments"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Experiments
        This section should contain a summary of the experiments we did, why we decided to do them and (roughly) how we did it.
        ## TdT Tailing Reaction
        The first step was to test whether the enzyme, terminal tranferase (TdT), binds nucleotides to a primer. This was the first important step to test whether our project would work at all and to find an analytical method with which we could detect the reaction.
        For this purpose, mixtures were first prepared containing buffer, the respective nucleotide, primer and water.  To start the reaction, the TdT was added last and incubated for a certain time at room temperature and 30 degrees Celsius. 
        The reaction was then analyzed by gel electrophoresis by plotting a marker, a control with pure primer, and the samples such that a size difference was visible when the tailing reaction was successful.
        Since it was difficult to detect a reaction at the beginning, many parameters such as incubation time, temperature, nucleotide, primer as well as TdT concentration were varied. 
        In addition, gel electrophoresis was optimized by using a different buffer, trying polyacrylamide gels, and varying the dye used to stain the gels. 
        ## Primer Immobilization
        The TdT reaction in solution has the decisive disadvantage that all components such as free nucleotides and primers, TdT buffer, water and the enzyme are still present in the preparation after completion of the reaction and are inactivated. 
        Therefore, the mixture has to be purified in a complex manner to isolate the extended ssDNA strands. 
        Immobilization of the primers was intended to solve this problem. For this purpose, the primers were immobilized on a rod using an anchor peptide/streptavidin-biotin bond so that the ssDNA strands formed after a reaction are also immobilized. 
        After completion of the reaction and inactivation of the TdT, the reaction mixture was removed and the rod was washed in another reaction vessel to remove excess residues. 
        Subsequently, binding to the anchor peptide/streptavidin-biotin bond was released by ....... Thus, the DNA could be isolated without much effort.
        ## PCR
        ## Capillary Electrophoresis
        ## Cloning + Sanger Sequencing
        ## Nanopore Sequencing
        ## SSBs
        ## (Short Oligos)
        ## (Unnatural Bases)
