extends ../templates/contents.pug

block headVars
    - var title = "Experiments"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Experiments
        This section should contain a summary of the experements we did, why we decided to do them and (roughly) how we did it.
        ## TdT Tailing Reaction
        ## Primer Immobilization
        ## PCR
        ## Capillary Electrophoresis
        ## Cloning + Sanger Sequencing
        ## Nanopore Sequencing
        ## SSBs
        ## (Short Oligos)
        ## (Unnatural Bases)
