extends ../templates/contents.pug

block headVars
    - var title = "Human Practices"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
    
        # Conversation at the city archive in Aachen
        
        In order to be able to adapt our ideas to the later application, we got into contact with a potential user of our DNA data storage.
        We visited the city archive in Aachen to discuss long-term storage. 
        Archive manager Dr. René Rohrkamp revealed to us that the primary task of an archive is the disposal of information.
        Only 1-2% of the local information is stored in a city archive.
        The goal of Dr. Rohrkamp and the employees is to store data in such a way that even after a long time it is possible to recognize what everyday life in Aachen used to be like.
        The city archive is currently in the process of digitalizing many documents and storing them in a long-term repository (server archive) in Cologne.
        But this includes many problems: First, extremely high costs are involved. 
        Second, the current data storage devices are magnetic tapes with data decay and lack of robustness.
        These storage units must be regularly renewed.
        Third, for security, the electronic signature of the memories must be changed every few years, as a seal of quality and a warning signal in case of hacker attacks.
        During our discussion, we also addressed the topic of data loss.
        Today much is clarified via email and not signed, stamped and stored, which is why data is lost and a black hole of information is created.
        Furthermore, we wanted to know if the value of a document is diminished by digital storage.
        Digitalization is desirable, as this makes the documents available to the general public on the Internet.
        In a conclusion, the city archive is looking for cheaper, uniform and safe data storage.
        
        How we integrated this information into our project can be observed in [integrated human practices](TODO).
        Based on the proposals and expectations of the archive manager and employees of the city archive in Aachen we developed a guideline of information storage.

    - var imgpath = "" + require("../assets/img/discussion_city_archive.jpg")["default"]
    +image(1, imgpath, "Conversation at the city archive in Aachen")

    :markdown-it(html)
    
        # Meeting with Jost Muth and Lena Julie Freund from the Fraunhofer IME Aachen (28.04.21)

        In order to analyze our samples far more in detail, Sebastian Palluk suggested us to talk to the capillary electrophoresis (CE) experts from the Fraunhofer IME in Aachen.
        At the IME they use an ABI3730 Genetic Analyzer to measure the length of for example PCR products. For this analysis method, our DNA has to be labelled with a fluorescent dye.
        Mrs Freund suggested us the 6FAM dye because of its low costs and good results.
        Through multiple questions, we concluded that the CE is an optimal analyzing method for our samples because the DNA hasn't to be double-stranded owing to the fact that the samples are denatured beforehand. Furthermore, the size range from 35 bp to 500 bp within 1 bp resolution is the range of our synthesized fragments.
        After the questions, Mrs Freund and Mr Muth offered us to support our project by trying to analyze our samples, help us with the interpretation of the data and being open to questions in the future.
        Later, we had some more meetings to work out the analysis of our created DNA samples, which subsequently performed well. 
        Our Modeling team used this data to adapt and improve their model. 
        

        [//]: # (# Text zuerst zu Frau Freund schicken, damit sie den absegnet --> aus rechlichen Gründen dürfen wir nicht explizit sagen, dass sie uns kostenlos Proben analysieren)

        # Meeting with Maximilian Schmidt from FZ Jülich
        
        Maximilian Schmidt is member of the section IBG-4 Bioinformatics in FZ Jülich.
        We contacted him referring to some questions about the Nanopore Sequencing with the MinION from Oxford Nanopore. 
        For our progress in the lab, it is necessary to sequence the DNA strands we created, but there are some difficulties because of our specific method. 
        So, we scheduled some meetings with Maximilian where we presented our project and talked about possible methods of sequencing.
        He offered to come to us in the lab and bring his MinION so that we can analyze our samples with his help.
        It was very interesting to learn about the sequence method of the MinION and it was a great opportunity to ask as many questions about it as we want. 
        Maximilian was very committed sharing his experiences with us and was very helpful.
        At the end of the day, sequencing was successful and we had a lot of new data for our project progress. 
