extends ../templates/contents.pug

block headVars
    - var title = "Human Practices"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
    
        # Meeting with Jost Muth and Lena Julie Freund from the Fraunhofer IME Aachen (28.04.21)

        In order to analyze analyze our samples far more in detail Sebastian Palluk suggested us to talk to the cappilary electrophoresis (CE) experts from the Fraunhofer IME in Aachen.
        At the IME institute they use a ABI3730 Genetic Analyzer to measure the length of for example PCR products.
        For the analysis the samples have to be labeled with a fluorescent dye.
        Mrs. Freund suggested us the 6FAM dye, because they made good experiences with it and the cost of these labeled primers are affordable.
        Through multiple questions we concluded that the CE is an optimal analyzing method for us because the DNA hasn't to be double stranded because the sample has to be denaturated before the analysis. Furthermore the size range from 35 bp to 500 bp within 1 bp resolution is the range of our synthesized fragments.
        After the questions Mrs. Freund and Mr. Muth offered us to support our project by trying to analyze our samples, help us with the interpretation of the data and being open to questions in the future.

        [//]: # (# Text zuerst zu Frau Freund schicken, damit sie den absegnet --> aus rechlichen Gr端nden d端rfen wir nicht explizit sagen, dass sie uns kostenlos Proben analysieren)

        # Meeting with Maximilian Schmidt from FZ J端lich
        
        Maximilian Schmidt is member of the section IBG-4 Bioinformatics in FZ J端lich. We contacted him referring to some questions about the Nanopore Sequencing with the MinION from Oxford Nanopore. 
        For our progress in the lab, it is necessary to sequence the DNA strands we created, but there are some difficulties because of our specific method. 
        So, we scheduled some meetings with Maximilian where we presented our project and talked about possible methods of sequencing. He offered to come to us in the lab and bring his MinION so that we can analyze our samples with his help.
        It was very interesting to learn about the sequence method of the MinION and it was a great opportunity to ask as many questions about it as we want. 
        Maximilian was very committed sharing his experiences with us and was very helpful. At the end of the day, sequencing was successful and we had a lot of new data for our project progress. 
