extends ../templates/contents.pug

block headVars
    - var title = "Human Practices"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    
block article
    :markdown-it(html)
    
        # Meeting with Jost Muth and Lena Julie Freund from the Fraunhofer IME Aachen (28.04.21)

        In order to analyze analyze our samples far more in detail Sebastian Palluk suggested us to talk to the cappilary electrophoresis (CE) experts from the Fraunhofer IME in Aachen.
        At the IME institute they use a ABI3730 Genetic Analyzer to measure the length of for example PCR products.
        For the analysis the samples have to be labeled with a fluorescent dye.
        Mrs. Freund suggested us the 6FAM dye, because they made good experiences with it and the cost of these labeled primers are affordable.
        Through multiple questions we concluded that the CE is an optimal analyzing method for us because the DNA hasn't to be double stranded because the sample has to be denaturated before the analysis. Furthermore the size range from 35 bp to 500 bp within 1 bp resolution is the range of our synthesized fragments.
        After the questions Mrs. Freund and Mr. Muth offered us to support our project by trying to analyze our samples, help us with the interpretation of the data and being open to questions in the future.

        # Meeting with Steven Benner
        Steven Benner, former professor at Harvard University, ETH Zurich and the University of Florida, is an expert for chemically altered nucleotides.
        He helped us figure out how to integrate unnatural nucleotides in our project.
        The TdT is able to accept these nucleotides but the effictiveness is dependent on many factors.
        Mr. Benner enouraged us to investigate the DNA synthesis with unnatural nucleotides such as Z and P [1] with the TdT we are using.
        Integrating more than two pairs of nucleotides could additionally decrease the formation of secondary structures in synthethized ssDNA due to less possibilities of hydrogen bond formation.
        On the other hand, Mr. Benner also showed us what probably does not work.
        One example is the analysis of strands with altered nucleotides because standard sequencing methods are not applicable.
        Thanks to Mr. Benner's advice we did not use nucleotides with photolabile groups and focussed on our current synthesis method.
        Besides the technical aspect we are able discuss about science and publications in general.
        Mr. Benner gave us the advice to evaluate scientific publications critically because "Scientists are professional liars".
        In our conversation we came across the topic of applying a DNA data storage for secret services.

        [//]: # (# Text zuerst zu Frau Freund schicken, damit sie den absegnet --> aus rechlichen Gründen dürfen wir nicht explizit sagen, dass sie uns kostenlos Proben analysieren)
