extends ../templates/contents.pug

block headVars
    - var title = "iGEM Memes"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true


block main

    .container 
        .content.col-large
            article
                p
                    | Memes played a non-neglectable part in our project. 
                    |They made us laugh, lightened up the mood when things did not go as planned, and even helped us communicate. 
                    |We think memes have become more than internet culture. Science memes, for example, can be seen as science communication. 
                    |In contrast to other media, they have the advantage that they are understood everywhere in the world and approach the topic in a completely new way. 
                p
                    | With our meme page (all original content), we want to display our journey with iGEM, all the highs, and lows. 
                    |We want to communicate lab topics humorously and show future iGEM teams that it is not the end of the world if things are not going according to plan.
                p
                    | But most importantly we want to make you laugh.

    - var fs = require('fs')
    - var memenames = fs.readdirSync('src/assets/img/memes')
    
    link(rel="stylesheet", href="src/assets/lightbox/glightbox.min.css")

    div(class="container")           
        each name, index in memenames
            if index % 3 === 0 
                | <div class="row">
            div(class="col")
                +meme(name, "")
            if index % 3 === 2 || index === memenames.length - 1
                | </div>

    script(src="src/assets/lightbox/glightbox.min.js")
    script(src="src/assets/lightbox/gallery.js")
        