extends ../templates/contents.pug

block headVars
    - var title = "iGEM Memes"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block header 
    h1 MEMES!!!

block main
    +meme("harvard-eliminated.jpeg","On top is a picture of the Team Member List with Harvards Application Withdrawn. On the bottom is a Picture of RedLight GreenLight from Squidgame.", 50 )
    +meme("harvard-eliminated.jpeg","On top is a picture of the Team Member List with Harvards Application Withdrawn. On the bottom is a Picture of RedLight GreenLight from Squidgame.", 50 )
