extends ../templates/contents.pug

block headVars
    - var title = "Notebook"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Week 16
        
        In the beginning, we played around with the TdT tailing reaction conditions to get accustomed to the enzyme and figure out ideal settings.  
        Our first tests with the TdT from NEB were simple elongation reactions with an accidentally very low concentration of a short primer and individual dNTPs in each case. In the experiment, we also compared incubation at room temperature and 37 °C. The reactions were stopped by heat inactivation after different periods and analyzed by 2% agarose gel electrophoresis using Roti GelSTain Red.  
        Additionally, we measured the nucleic acid concentrations in our samples with the nanodrop. 
        
        # Week 17
        
        Week 17 started with shorter TdT tailing reactions using only dATP and dTTP. After heat inactivation, we combined samples with different nucleotides and performed a PCR. The nucleic acid concentrations were measured before and after the amplification and the samples were analyzed via agarose gel electrophoresis.  
        The dATP/dTTP tailing reactions were repeated at a higher incubation temperature, longer incubation time and with a lower primer concentration. To compare the strain lengths and to visualize different primer concentrations we analyzed various dilutions of our short primers and the samples produced during the week on 2% and 2.5% agarose gels. As usual, we measured the nucleic acid concentration with the nanodrop. 
        Additionally, we repeated the dATP and dTTP TdT reactions with the changed reaction settings once more. 
        
        # Week 18 
        

        As a new analyzing method we performed native polyacrylamide (PAA) gel electrophoresis on the dATP/dTTP TdT tailing reactions from week 17 together with different primer concentrations. 
        To visualize our results, we tried working with silver staining instead of the usual fluorescent dyes. 
        Furthermore, to determine the detection limits in agarose gel electrophoresis we diluted new primers and compared different concentrations on agarose, native and denaturing PAA gels also using silver staining on the latter. 

        # Week 19 

        Switching to a new fluorescent stain (SYBR Gold) and a higher resolution DNA ladder (GeneRuler Ultra Low Range), we continued to analyze primer dilutions on agarose gels. We also altered the agarose concentration (1-3%) in several experiments to evaluate the consequences.  
        The new staining agent was also tested on native and denatured PAA gels. 
        After determining ideal agarose gel conditions new TdT tailing reactions with different primer dilutions were performed. The reactions were stopped by inactivation of the TdT via EDTA and the samples analyzed with agarose gel electrophoresis. 
        Because there were still some issues with the PAA electrophoreses, we tested different ladder and primer dilutions. To test the new type of DNA ladder we also ran an agarose gel electrophoresis with a 5% of agarose. 

        # Week 20
        
        Week 20 started with TdT tailing reactions, which were inactivated with EDTA after different periods. The length of the synthesized fragments was analyzed on native PAA and agarose gels. 
        To characterize another aspect of the TdT enzyme, the following reactions were done with different primer dilutions. We also compared the inactivation via EDTA with heat inactivation in the same experiment. Analysis was done repeatedly with native and denaturing PAA and agarose gels on two consecutive days. 
        Trying to optimize the shape of the electrophoresis bands we mixed our gel samples (including diluted samples of ladder and primer) with glycerol before applying them on native or denaturing PAA and 5% agarose gels.  
        Still using the TdT tailing samples from the beginning of the week, we analyzed them further with longer staining times and more loading dye. 
        The next TdT tailing reactions were performed with different nucleotides in each TdT reaction, also comparing 15 and 40 minutes incubation time. Analysis was done with agarose gel electrophoresis. 

        # Week 21 

        We continued to work on the gel electrophoresis band shape issue while trying out pre-running PAA gels at a lower voltage for a few minutes before the actual electrophoresis. 
        Also trying to improve the band separation, agarose gel electrophoresis was performed on a primer dilution and a TdT sample with 5% agarose, higher voltages and shorter run times. Addressing this we compared the TdT samples from last week on agarose gels made with TBE to gels with TAE (as usual). 

        # Week 22 

        Analyzing the nucleotide preferences of the TdT, we performed several TdT tailing reactions with one type of nucleotide each and a different short primer. Due to several conspicuities during the analysis, we ran multiple agarose gel electrophoreses.  
        Switching to an AT-rich 100 bp primer we started using another ladder (GeneRuler 50bp DNA ladder) and 2.5% agarose gels for analysis.  
        We then continued to perform TdT tailing reactions with different nucleotides each and the new longer primer.  
        Furthermore, we compared the performance of the TdT using 20 bp primer with the 100 bp primer reactions. 

        # Week 23 

        We recreated the successful reactions from last week with the 100 bp primer using the Thermofisher TdT analyzing its nucleotide preferences. We also modified the primer concentration in the tailing reactions. After the gel electrophoresis, we used an ssDNA Recovery Kit to purify strands that were elongated with only dATP or dTTP from the gel. 
        To check the reproducibility of the primer comparing experiment, we did the same experiment twice at the beginning of the week. 
        Further analyzing the nucleotide preferences of the TdT and the formation of secondary structures we performed standard TdT tailing reactions with a 100 bp GC-rich primer. We also altered the primer concentration (AT-rich) again and tested, what effect on the strand elongation a further dilution of the primer has. 
        Addressing another aspect of the TdT tailing reactions we performed experiments with different incubation times from 1-60 minutes using only dATP and the AT-rich primer.  
        We repeated the experiment, using two different dilutions of the primer (100nM as before and 20nM) and instead of incubating the different reaction set-ups individually as the day before we withdrew a small amount of sample at the corresponding times (1-120 minutes). Two samples were also left in a 37 °C room for overnight incubation and analyzed on a gel the next day compared to 120-minute-long incubated samples. After that, we purified the overnight samples with a DNA recovery kit and measured the nucleic acid concentrations with nanodrop.  
        In a new TdT tailing reaction, we used the purified samples as primers and elongated the strands with dATP again. 

        # Week 24
        We performed - again - a TdT tailing reaction with the NEB TdT and changed the AT-rich primer concentration to 1:5000, the incubation temperature to room temperature and 30 C° and the incubation times.
        After that, we isolated DNA from the produced gel to recover elongated ssDNA strands and measured their DNA concentration via Nanodrop.  
        
        Moreover, we repeated the TdT tailing reaction with the ThermoFisher TdT and also changed the AT-rich primer concentration to 1:5000, the incubation temperature to room temperature and 37 C° and the incubation times.  
        
        Subsequently, we repeated the TdT tailing reaction with the ThermoFisher TdT again because we used the wrong buffer volume the day before. 
        
        In another experiment, we investigated the TdT tailing reaction of samples that either contain or do not contain CoCl2 at room temperature and 37 °C, to see if the elongation occurred independently of the co-factor.
        
        Then we did a dNTP dilution of 1:10 and performed a TdT tailing reaction with the ThermoFisher TdT to compare the impact of the usage of dATP, dTTP, dGTP and dCTP on the reaction. 
        
        # Week 25
        To get a standard gel reference for the ThermoFisher TdT we performed a TdT reaction containing a single type of dNTP. 
        We repeated this experiment because it doesn't work the first time. 
        
        In another experiment, we tested different incubation times with the nucleotide A at room temperature and 37 C° to investigate the optimal TdT reaction conditions. 
        
        We also repeated the TdT tailing reaction with the ThermoFisher TdT. 
        This time the TdT reactions contained a single type of dNTP incubated at room temperature and 37 C° for 30 minutes to get a standard gel reference for the ThermoFisher TdT.  
        
        Then we performed a time-dependent TdT reaction, where we tested again different incubation times to estimate the speed at which nucleotides were added.  
        
        Additionally, a TdT tailing reaction with different buffer concentrations was performed to test the impact on elongation. 
        
        We also performed a Two-Step TdT reaction, where we did a TdT tailing reaction, inactivated it, purified a part of the ssDNA and performed another TdT tailing reaction with the purified DNA to verify its impact on the elongation.   
        
        Then we performed a TdT tailing reaction with different TdT concentrations and the nucleotide G to investigate if it creates sharper bands. 
        
        Finally, we performed a vector digestion for cloning with a pMA_217 vector and the enzymes Kpnl and Sacl. 
        
        # Week 26
        In this week we performed a TdT tailing reaction with different nucleotides and the fluorescent primer GC-rich for capillar electrophoresis (CE). 
        Additionally, we repeated this experiment with the fluorescent primer AT-rich. 
        
        Then, different concentrations of the fluorescent primers were tested for a better detection of the TdT tailing reaction. 
        Also, we compared the Roti GelStain Red and SYBR Gold straining as well as the DNA and RNA Ladder. 
        
        Furthermore, the primers and compounded samples were analyzed with CE.  
        
        Then we tested the TdT reaction with the fluorescent primer GC-rich and SSBs to detect whether our SSBs prevent secondary structures in a reaction and/or resolve them.   
        
        Moreover, we tested the TdT reaction with the GC-rich primer and different SSBs concentrations to detect whether our SSBs prevent secondary structures and to investigate the effect of SSBs on the elongation. 
        
        We also started experiments with the immobilization system by testing the binding of fusion proteins to a polystyrol stick. 
        For this purpose, we used the anchor peptides LCI and MacHis and did something like an ELISA immunoassay.
        
        # Week 27
        In this week we reanalysed the samples from week 26 with the CE. 
        
        We also repeated the digesting of the vector pMA_217 for the cloning of our insert, because it didn't work the first time.  
        
        Furthermore, we performed a TdT tailing reaction with the ThermoFisher TdT and dATP as well as with dATP, dCTP and dGTP mixed at room temperature and incubated for 30 minutes to get two inserts for cloning. 
        With the obtained samples a PCR was performed to get our inserts for the cloning reaction. We repeated the PCR reaction because it didn't work the first time. 
        We also diluted the HPLC purified fluorescent primers. 
        
        Then we performed a PCR reaction with the generated PCR reaction samples to increase the concentration and to get our inserts for the cloning reaction. 
        
        Subsequently, we prepared new samples for the CE. 
        This time we used the HPLC purified primers and purified the samples before analyzing them by the CE. 
        We also used short reaction times ranging from 5-120 seconds with every nucleotide to determine the reaction velocity for each nucleotide. 
        
        Finally, we analyzed the samples with the CE. 
        
        # Week 28
        This week we performed a seamless cloning reaction (SCL). 
        Therefore, we did a transformation with *E. coli* C3040I chemically competent cells, the pMA_217 vector and our poly-A and ACG inserts.
        
        Subsequently, we did a colony PCR to verify if the inserts were incorporated successfully into *E. coli* C3040I.  
        
        Then we purified the samples ACG5, A14, A20 and A24, measured their concentrations and prepared them for sequencing with the Eurofins-Mix2Seq-Kit. 
        
        Afterward, we analyzed the sequencing data by aligning the sequences to verify if there were just re-ligands or if the inserts were incorporated into the vector.
        
        Moreover, we did a Nanopore sequencing with the MinION and the help of Max Schmidt. 
        Here, we sequenced the PCR samples of the poly-A insert and the ACG insert. 
        
        To get a better understanding of how the ThermoFisher TdT works, we tested different nucleotide concentrations because they can increase or slow down the TdT reaction speed. 
        
        We also performed another test run with a range of SSB:Primer ratios to verify the effect of SSBs on the ThermoFisher TdT reaction.
        
        # Week 29
        We repeated the SSB experiment from last week with one extra negative control and did a PCR reaction with these samples. 
        Subsequently, we tried to denaturate the SSBs properly by heating the samples up to 95 C°, because the SSBs were still binding to the ssDNA.
        
        We also tested the conjugation of a AT_Oligo_C6_linker primer with an amino C6-linker protein to establish our immobilization system.  
        
        Since the immobilization of the primer did not work, we wanted to create a new reaction in solution to test the immobilization system. 
        
        We also tested new TdT tailing conditions with the ThermoFisher TdT. This time we used different cofactor (CoCl2) concentrations without the reaction buffer. 
        
        # Week 30
        -
        
        # Week 31
        We repeated the SSB experiment of week 29 and the subsequent PCR. 
        
        Furthermore, we repeated the immobilization experiment of week 29 to test the TdT reaction with the immobilized primer and with the primer-protein conjugate. 
        We wanted to verify if an elongation took place with a primer-protein conjugate and to test if we had some conjugate that sticks to the polystyrol stick and if we can elongate them. 
        
        We also weren't sure if the immobilization didn't work or just the conjugation or both so we performed an SDS PAA gel to detect the peptide of the samples from the AT-rich C6 stick, the stick with the peptide and the primer, and the stick with the peptide and primer reaction. 
        
        Furthermore, we repeated the immobilization with the conjugate and analyzed it with an agarose gel electrophoresis. 
        
        We also prepared samples for a pGEM cloning by performing a TdT tailing reaction with dATP as well as dATP, dCTP and dGTP to get two inserts for cloning. 
        Subsequently, we performed a PCR with the samples to get our inserts for the pGEM cloning. 
        
        # Week 32
        In this week, we used the pGEM-T Easy Vector System for cloning and performed a ligation and a transformation in *E. coli* C3040I. 
        
        Then, we performed a colony PCR to verify if the inserts were incorporated successfully.  
        
        Subsequently, we prepared samples for the sequencing with the Eurofins-Mix2Seq-Kit and finally analyzed the sequencing data to verify if the inserts were incorporated into the vector. 
        
        We repeated the ligation and transformation experiment with the pGEM-T Easy Vector System because it didn't work the first time. 
        
        Furthermore, we performed a conjugation of a maleimide-primer with peptide. Our aim was to link the primer with the anchor peptide to establish our immobilization system. 