extends ../templates/contents.pug

block headVars
    - var title = "Notebook"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Week 16
        
        In the beginning, we played around with the TdT tailing reaction conditions to get accustomed to the enzyme and figure out ideal settings.  
        Our first tests with the TdT from NEB were simple elongation reactions with an accidentally very low concentration of a short primer and individual dNTPs in each case. In the experiment, we also compared incubation at room temperature and 37 °C. The reactions were stopped by heat inactivation after different periods and analyzed by 2% agarose gel electrophoresis using Roti GelSTain Red.  
        Additionally, we measured the nucleic acid concentrations in our samples with the nanodrop. 
        
        # Week 17
        
        Week 17 started with shorter TdT tailing reactions using only dATP and dTTP. After heat inactivation, we combined samples with different nucleotides and performed a PCR. The nucleic acid concentrations were measured before and after the amplification and the samples were analyzed via agarose gel electrophoresis.  
        The dATP/dTTP tailing reactions were repeated at a higher incubation temperature, longer incubation time and with a lower primer concentration. To compare the strain lengths and to visualize different primer concentrations we analyzed various dilutions of our short primers and the samples produced during the week on 2% and 2.5% agarose gels. As usual, we measured the nucleic acid concentration with the nanodrop. 
        Additionally, we repeated the dATP and dTTP TdT reactions with the changed reaction settings once more. 
        
        # Week 18 

        As a new analyzing method we performed native polyacrylamide (PAA) gel electrophoresis on the dATP/dTTP TdT tailing reactions from week 17 together with different primer concentrations. 
        To visualize our results, we tried working with silver staining instead of the usual fluorescent dyes. 
        Furthermore, to determine the detection limits in agarose gel electrophoresis we diluted new primers and compared different concentrations on agarose, native and denaturing PAA gels also using silver staining on the latter. 

        # Week 19 

        Switching to a new fluorescent stain (SYBR Gold) and a higher resolution DNA ladder (GeneRuler Ultra Low Range), we continued to analyze primer dilutions on agarose gels. We also altered the agarose concentration (1-3%) in several experiments to evaluate the consequences.  
        The new staining agent was also tested on native and denatured PAA gels. 
        After determining ideal agarose gel conditions new TdT tailing reactions with different primer dilutions were performed. The reactions were stopped by inactivation of the TdT via EDTA and the samples analyzed with agarose gel electrophoresis. 
        Because there were still some issues with the PAA electrophoreses, we tested different ladder and primer dilutions. To test the new type of DNA ladder we also ran an agarose gel electrophoresis with a 5% of agarose. 

        # Week 20
        
        Week 20 started with TdT tailing reactions, which were inactivated with EDTA after different periods. The length of the synthesized fragments was analyzed on native PAA and agarose gels. 
        To characterize another aspect of the TdT enzyme, the following reactions were done with different primer dilutions. We also compared the inactivation via EDTA with heat inactivation in the same experiment. Analysis was done repeatedly with native and denaturing PAA and agarose gels on two consecutive days. 
        Trying to optimize the shape of the electrophoresis bands we mixed our gel samples (including diluted samples of ladder and primer) with glycerol before applying them on native or denaturing PAA and 5% agarose gels.  
        Still using the TdT tailing samples from the beginning of the week, we analyzed them further with longer staining times and more loading dye. 
        The next TdT tailing reactions were performed with different nucleotides in each TdT reaction, also comparing 15 and 40 minutes incubation time. Analysis was done with agarose gel electrophoresis. 

        # Week 21 

        We continued to work on the gel electrophoresis band shape issue while trying out pre-running PAA gels at a lower voltage for a few minutes before the actual electrophoresis. 
        Also trying to improve the band separation, agarose gel electrophoresis was performed on a primer dilution and a TdT sample with 5% agarose, higher voltages and shorter run times. Addressing this we compared the TdT samples from last week on agarose gels made with TBE to gels with TAE (as usual). 

        # Week 22 

        Analyzing the nucleotide preferences of the TdT, we performed several TdT tailing reactions with one type of nucleotide each and a different short primer. Due to several conspicuities during the analysis, we ran multiple agarose gel electrophoreses.  
        Switching to an AT-rich 100 bp primer we started using another ladder (GeneRuler 50bp DNA ladder) and 2.5% agarose gels for analysis.  
        We then continued to perform TdT tailing reactions with different nucleotides each and the new longer primer.  
        Furthermore, we compared the performance of the TdT using 20 bp primer with the 100 bp primer reactions. 

        # Week 23 

        We recreated the successful reactions from last week with the 100 bp primer using the Thermofisher TdT analyzing its nucleotide preferences. We also modified the primer concentration in the tailing reactions. After the gel electrophoresis, we used an ssDNA Recovery Kit to purify strands that were elongated with only dATP or dTTP from the gel. 
        To check the reproducibility of the primer comparing experiment, we did the same experiment twice at the beginning of the week. 
        Further analyzing the nucleotide preferences of the TdT and the formation of secondary structures we performed standard TdT tailing reactions with a 100 bp GC-rich primer. We also altered the primer concentration (AT-rich) again and tested, what effect on the strand elongation a further dilution of the primer has. 
        Addressing another aspect of the TdT tailing reactions we performed experiments with different incubation times from 1-60 minutes using only dATP and the AT-rich primer.  
        We repeated the experiment, using two different dilutions of the primer (100nM as before and 20nM) and instead of incubating the different reaction set-ups individually as the day before we withdrew a small amount of sample at the corresponding times (1-120 minutes). Two samples were also left in a 37 °C room for overnight incubation and analyzed on a gel the next day compared to 120-minute-long incubated samples. After that, we purified the overnight samples with a DNA recovery kit and measured the nucleic acid concentrations with nanodrop.  
        In a new TdT tailing reaction, we used the purified samples as primers and elongated the strands with dATP again. 

