extends ../templates/contents.pug

block headVars
    - var title = "Notebook"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # TdT Tailing Reaction
        # Primer Immobilization
        # Cyclic synthesis
        # Secondary structures

