extends ../templates/contents.pug

block headVars
    - var title = "Notebook"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)
        
        # Week 16
        
        In the beginning, we played around with the TdT tailing reaction conditions to get accustomed to the enzyme and figure out ideal settings.  
        Our first tests with the TdT from NEB were simple elongation reactions with an accidentally very low concentration of a short primer and individual dNTPs in each case. In the experiment, we also compared incubation at room temperature and 37 °C. The reactions were stopped by heat inactivation after different periods and analyzed by 2% agarose gel electrophoresis using Roti GelSTain Red.  
        Additionally, we measured the nucleic acid concentrations in our samples with the NanoDrop. 
        
        # Week 17
        
        Week 17 started with shorter TdT tailing reactions using only dATP and dTTP. After heat inactivation, we combined samples with different nucleotides and performed a PCR. The nucleic acid concentrations were measured before and after the amplification and the samples were analyzed via agarose gel electrophoresis.  
        The dATP/dTTP tailing reactions were repeated at a higher incubation temperature, longer incubation time and with a lower primer concentration. To compare the strain lengths and to visualize different primer concentrations we analyzed various dilutions of our short primers and the samples produced during the week on 2% and 2.5% agarose gels. As usual, we measured the nucleic acid concentration with the nanodrop. 
        Additionally, we repeated the dATP and dTTP TdT reactions with the changed reaction settings once more. 
        
        # Week 18 
        

        As a new analyzing method we performed native polyacrylamide (PAA) gel electrophoresis on the dATP/dTTP TdT tailing reactions from week 17 together with different primer concentrations. 
        To visualize our results, we tried working with silver staining instead of the usual fluorescent dyes. 
        Furthermore, to determine the detection limits in agarose gel electrophoresis we diluted new primers and compared different concentrations on agarose, native and denaturing PAA gels also using silver staining on the latter. 

        # Week 19 

        Switching to a new fluorescent stain (SYBR Gold) and a higher resolution DNA ladder (GeneRuler Ultra Low Range), we continued to analyze primer dilutions on agarose gels. We also altered the agarose concentration (1-3%) in several experiments to evaluate the consequences.  
        The new staining agent was also tested on native and denatured PAA gels. 
        After determining ideal agarose gel conditions new TdT tailing reactions with different primer dilutions were performed. The reactions were stopped by inactivation of the TdT via EDTA and the samples analyzed with agarose gel electrophoresis. 
        Because there were still some issues with the PAA electrophoreses, we tested different ladder and primer dilutions. To test the new type of DNA ladder we also ran an agarose gel electrophoresis with a 5% of agarose. 

        # Week 20
        
        Week 20 started with TdT tailing reactions, which were inactivated with EDTA after different periods. The length of the synthesized fragments was analyzed on native PAA and agarose gels. 
        To characterize another aspect of the TdT enzyme, the following reactions were done with different primer dilutions. We also compared the inactivation via EDTA with heat inactivation in the same experiment. Analysis was done repeatedly with native and denaturing PAA and agarose gels on two consecutive days. 
        Trying to optimize the shape of the electrophoresis bands we mixed our gel samples (including diluted samples of ladder and primer) with glycerol before applying them on native or denaturing PAA and 5% agarose gels.  
        Still using the TdT tailing samples from the beginning of the week, we analyzed them further with longer staining times and more loading dye. 
        The next TdT tailing reactions were performed with different nucleotides in each TdT reaction, also comparing 15 and 40 minutes incubation time. Analysis was done with agarose gel electrophoresis. 

        # Week 21 

        We continued to work on the gel electrophoresis band shape issue while trying out pre-running PAA gels at a lower voltage for a few minutes before the actual electrophoresis. 
        Also trying to improve the band separation, agarose gel electrophoresis was performed on a primer dilution and a TdT sample with 5% agarose, higher voltages and shorter run times. Addressing this we compared the TdT samples from last week on agarose gels made with TBE to gels with TAE (as usual). 

        # Week 22 

        Analyzing the nucleotide preferences of the TdT, we performed several TdT tailing reactions with one type of nucleotide each and a different short primer. Due to several conspicuities during the analysis, we ran multiple agarose gel electrophoreses.  
        Switching to an AT-rich 100 nt primer we started using another ladder (GeneRuler 50bp DNA ladder) and 2.5% agarose gels for analysis.  
        We then continued to perform TdT tailing reactions with different nucleotides each and the new longer primer.  
        Furthermore, we compared the performance of the TdT using 20 nt primer with the 100 nt primer reactions. 
        
        
        We started our first experiments with single-stranded DNA binding proteins (SSBs) to detect whether our SSBs prevent secondary structures in a reaction and/or resolve them.
        Preparation and purification of TdT reactions with and without SSBs were performed, which was followed by cloning and transformation in  *E. coli* C3040I chemically competent cells.

        # Week 23 

        We recreated the successful reactions from last week with the 100 nt primer using the Thermofisher TdT analyzing its nucleotide preferences. We also modified the primer concentration in the tailing reactions. After the gel electrophoresis, we used an ssDNA Recovery Kit to purify strands that were elongated with only dATP or dTTP from the gel. 
        To check the reproducibility of the primer comparing experiment, we did the same experiment twice at the beginning of the week. 
        Further analyzing the nucleotide preferences of the TdT and the formation of secondary structures we performed standard TdT tailing reactions with a 100 nt GC-rich primer. We also altered the primer concentration (AT-rich) again and tested, what effect on the strand elongation a further dilution of the primer has. 
        Addressing another aspect of the TdT tailing reactions we performed experiments with different incubation times from 1-60 minutes using only dATP and the AT-rich primer.  
        We repeated the experiment, using two different dilutions of the primer (100 nM as before and 20 nM) and instead of incubating the different reaction set-ups individually as the day before we withdrew a small amount of sample at the corresponding times (1-120 minutes). Two samples were also left in a 37 °C room for overnight incubation and analyzed on a gel the next day compared to 120-minute-long incubated samples. After that, we purified the overnight samples with a DNA recovery kit and measured the nucleic acid concentrations with NanoDrop.  
        In a new TdT tailing reaction, we used the purified samples as primers and elongated the strands with dATP again.
        
        
        Regarding the SSbs, new cloning and transformation approach with higher DNA concentration were taken. Cloning was done by SCL method and some clones were sequenced afterward.

        # Week 24

        We performed - again - a TdT tailing reaction with the NEB TdT and changed the AT-rich primer concentration to 20 nM, the incubation temperature to room temperature and 30 C° and the incubation times. After that, we isolated DNA from the produced gel to recover elongated ssDNA strands and measured their DNA concentration via the NanoDrop.  
        Moreover, we repeated the TdT tailing reaction with the ThermoFisher TdT and also changed the AT-rich primer concentration to 20 nM, the incubation temperature to room temperature and 37 C° and the incubation times. Subsequently, we repeated the TdT tailing reaction with the ThermoFisher TdT again because we used the wrong buffer volume the day before.         
        In another experiment, we investigated the TdT tailing reaction of samples that either contain or do not contain CoCl2 at room temperature and 37 °C, to see if the elongation occurred independently of the co-factor. Then, we prepared a dNTP dilution of 100 µM and performed a TdT tailing reaction with the ThermoFisher TdT to compare the impact of the usage of dATP, dTTP, dGTP and dCTP on the reaction. 
        
        
        Some of the purified samples from week 23 were used for Topo-Cloning. Furthermore, some clones out of this batch got sequenced.
        
        # Week 25

        To get a standard gel reference for the ThermoFisher TdT we performed a TdT reaction containing only a single type of dNTP. 
        We repeated this experiment because it did not work the first time.         
        In another experiment, we tested different incubation times with dATP at room temperature and 37 °C to investigate the optimal TdT reaction conditions. 
        We repeated the tailing reaction using only a single type of dNTP incubated at room temperature and 37 °C for 30 min for the Thermofisher TdT standard gel reference.        
        Then we performed a time-dependent TdT reaction, where we tested different incubation times to estimate the speed at which nucleotides were added. Additionally, we altered the buffer concentrations to test the impact on elongation.        
        We also did an experiment with a  two-step TdT reaction, where we did a TdT tailing reaction, inactivated it, purified a part of the ssDNA and performed another tailing reaction with the purified DNA to verify its impact on the elongation.       
        Then we performed a TdT tailing reaction with different TdT concentrations and dGTP to investigate if it creates sharper bands.  
        Finally, we did a vector digestion for cloning with a pMA_217 vector and the enzymes Kpnl and Sacl. 
             
        # Week 26

        In this week we performed a TdT tailing reaction with different nucleotides and the fluorescent primer GC-rich for capillar electrophoresis (CE). We repeated this experiment with the fluorescent AT-rich primer. Then, different concentrations of the fluorescent primer were tested for a better detection of the TdT tailing reaction. 
        Also, we compared the Roti GelStain Red and SYBR Gold staining as well as the DNA and RNA Ladder.        
        Furthermore, the primers and compiled samples were analyzed with CE.  
        
        
        Then we tested the TdT reaction with the fluorescent GC-rich primer and different SSBs concentrations to investigate the effect of SSBs on the elongation. 
        
        
        We also started experiments with an immobilization system by testing the binding of fusion proteins to a polystyrene stick. For this purpose, we used the anchor peptides LCI and MacHis and performed an ELISA immunoassay.
        
        # Week 27

        In this week we reanalyzed the samples from week 26 with the CE.    
        We also repeated the digestion of the vector pMA_217 for the cloning of our insert, because it did not work the first time.          
        Furthermore, we performed a TdT tailing reaction with dATP as well as with dATP, dCTP and dGTP mixed at room temperature and incubated for 30 min to get two inserts for cloning. With the obtained samples, a PCR was performed to get our inserts for the cloning reaction.        
        Subsequently, we prepared new samples for the CE. This time we used the HPLC purified primers and purified the samples before analyzing them by the CE. We also used short reaction times ranging from 5-120 s with every nucleotide to determine the reaction speed for each nucleotide. Finally, we analyzed the samples with the CE. 
        
        # Week 28

        To get a better understanding of how the TdT works, we tested different nucleotide concentrations because they can increase or slow down the TdT reaction speed.
        
        
        We also performed another test run with a range of SSB:Primer ratios to test the effect of SSBs on the ThermoFisher TdT reaction.
        
        
        Furthermore, we performed a seamless cloning reaction (SCL). Therefore, we did a transformation with *E. coli* C3040I chemically competent cells, the pMA_217 vector and our poly-A and ACG inserts. Subsequently, we did a colony PCR to verify if the inserts were incorporated successfully into *E. coli* C3040I.          
        Then we purified the samples ACG5, A14, A20 and A24, measured their concentrations and prepared them for sequencing with the Eurofins-Mix2Seq-Kit. Afterward, we analyzed the sequencing data by aligning the sequences to verify if there were just re-ligands or if the inserts were incorporated into the vector.       
        Moreover, we did a Nanopore sequencing with the MinION and the help of Max Schmidt, where we sequenced the PCR samples of the poly-A insert and the ACG insert. 
             
        # Week 29

        At the beginning of week 29 we tested new TdT tailing conditions with different cofactor (CoCl2) concentrations in the reaction buffer.
        
        
        Moreover, we repeated the SSB experiment from last week with and did a PCR reaction with these samples. Subsequently, we tried to denaturate the SSBs properly by heating the samples up to 95 °C, because the SSBs were still binding to the ssDNA.
        
        
        We also tested the conjugation of a AT_Oligo_C6_linker primer with an amino C6-linker protein to establish our immobilization system. Since the immobilization of the primer did not work, we wanted to create a new reaction in solution.       
        
        # Week 30
        
        In week 30 we deepened our research.
        
        # Week 31
        
        We also prepared samples for a pGEM cloning by performing a TdT tailing reaction with dATP as well as dATP, dCTP and dGTP to create two inserts for pGEM cloning.Subsequently, we performed a PCR with the samples to get our inserts. 


        We repeated the SSB experiment of week 29 and the subsequent PCR. 
        
        
        Furthermore, we did the immobilization experiment of week 29 again to test the TdT reaction with the immobilized primer and with the primer-protein conjugate. We wanted to verify if an elongation took place with a primer-protein conjugate and to test if we had some conjugate that sticks to the polystyrene stick and if we could elongate them. We also were not sure if the immobilization did not work or just the conjugation or both, so we performed an SDS PAA gel to detect the peptide of the samples from the AT-rich C6 stick, the stick with the peptide and the primer and the stick with the peptide and primer reaction. Furthermore, we repeated the immobilization with the conjugate and analyzed it with an agarose gel electrophoresis. 
        
        # Week 32
        
        In this week, we used the pGEM-T Easy Vector System for cloning and performed a ligation and a transformation in *E. coli* C3040I. Then, we performed a colony PCR to verify if the inserts were incorporated successfully. Subsequently, we prepared samples for the sequencing with the Eurofins-Mix2Seq-Kit and finally analyzed the sequencing data. We repeated the ligation and transformation experiment with the pGEM-T Easy Vector System because it did not work the first time.         
        
        
        Furthermore, we performed a conjugation of a maleimide-linked-primer with peptides. Our aim was to link the primer with the anchor peptide to establish an new immobilization system. 

        # Week 33

        In the beginning of week 33, we performed a TdT tailing reaction with dATP and a mixture of ACG nucleotides to amplify our samples with a PCR reaction and get two inserts with poly-A-tails for the pGEM cloning reaction. We continued by using a DNA recovery kit and measured our dissolved DNA with the NanoDrop to get an idea of the final concentrations. 
      
      
        Furthermore, we analyzed last week's primer–anchor peptide conjugates with an SDS Page and Western blot to examine the protein. Afterward, we prepared maleimide primer-peptide reactions to assess the conjugation rate further.
        
        # Week 34 

        This week we worked only on the immobilization and first analyzed a TdT reaction with conjugated primer in solution. We decided to keep the stock concentration of the protein constant. Therefore the resulting concentration of the primer in the TdT tailing reaction varied. 
        The next day we began to purify the protein-primer-conjugate by using nickel beads to analyze the concentrations and show whether the conjugates would be visible on the protein gel. Later we analyzed both the purified samples and the flow-through on an agarose gel to see the effect on the purification and analyze the success of washing and purification. Unfortunately, we estimated the primer and protein concentration wrong, so the references were not visible. 
        Thus we repeated the experiment and re-analyzed the TdT samples in higher concentrations. After the successful experiment, we carried out our first immobilization with the maleimide-conjugates on a stick. We assessed different reaction conditions, wash steps, and negative controls to gather as much information from of the samples.

        # Week 35
        
        Continuing our first experiments, we focused on analyzing whether a higher primer concentration influenced the running characteristics of the agarose gel. Therefore we created TdT reactions with primer concentrations from 20 to 1000 nM for the AT-rich as well as the GC-rich primer and analyzed them with an agarose gel.
          
          
        New TdT reactions were performed with the Thermofisher TdT and NEB buffer to check if the immobilizations worked better. To increase the concentration of the primer-protein conjugate, we first started a TdT reaction and immobilized the primer during the reaction
        Subsequently, repeated the experiment from last week with LCI-GC 1 on a smaller scale and tested the influence of the buffer on the adsorption of the anchor peptide. To obtain clear immobilization results, we wanted to examine wheater Triton-X-100 (a component of the NEB TdT reaction buffer) could serve as a potential alternative to the ThermoFisher TdT reaction buffer. Thus we prepared LCI GC 1 samples with different buffer compositions. Again, no bands were visible.
        After yesterday's failed experiment, we attempted to measure the conjugate samples with the NanoDrop. We measured 1 µL of all samples and gained significantly lower results than expected. Furthermore, we evaluated the influence of the buffer composition on the TdT reaction again with a different setup. 
        This time, the samples were prepared with LCI AT and 1 µM conjugate concentrations (much higher than before). Samples with AT-Maleimide Primer were prepared as well to function as a negative control to see if the primer would stick on its own. Additionally, the nucleic acid concentration were measured with the NanoDrop.                
        
        # Week 36
        
        Optimizing our PCR reactions, different amounts of template DNA were used: We prepared 5 PCR mixes with different volumes of template DNA using the nucleotide T and reference reactions. Then, the samples were applied again with normal TdT reactions as reference.
        Following up on the previous experiment, the PCR reaction with the GC primer was repeated with an increased annealing temperature. Unfortunately, the wrong primers were used for the PCR reaction, so the experiment had to be repeated.
            
            
        Since the majority of the results from last week were inconclusive, we continued experimenting with the NEB buffer and TdT reactions with different primer concentrations. In the first experiment, we used the LCI-GC1 conjugate and mixed NEB and ThermoFisher TdT/buffer. Because the results were too vague, the experiment was repeated with the same samples.
        In week 34 high bands were obtained, which seemed to be stuck in the pockets of the gel. To analyze whether the TdT can elongate this far, different primer concentrations were examined with a normal TdT reaction. After a reaction time of 25 mins, an agarose gel was obtained, while the remaining samples were not inactivated and the reaction was incubated overnight.
        The next day, the overnight incubated samples were applied on a gel to see how far the reaction was elongated. Furthermore, a PCR reaction with samples from the immobilization experiment from week 34 was performed. All conjugates were analyzed and a gel with positive, negative controls, Primer-Conjugate immobilization reactions, and their PCR reactions was acquired.
        To see if the visible bands were not-conjugated primers or parted conjugate from the stick, the bands from the gel were excised with the NucleoSpin-PCR-cleanup-kit and analyzed. The resulting samples were transferred onto a Trans-Blot Turbo membrane and the visible spots were assessed.
        Additionally, the immobilization on cuvette sticks with direct application of SYBR gold was carried out to show the advantage of the immobilized conjugate in contrast to the pure primer. Thus, drying steps between the immobilization and washing were incorporated as well as applying small amounts of primer and conjugate directly to the stick.
        Comparing the ThermoFisher and NEB TdT reaction buffer, TdT-maleimide-Immobilization reactions were carried out with LCI-AT conjugates and negative controls with AT-rich primer.To further assess the reaction conditions of the NEB buffer, different incubations times from 30 minutes up to 230 mins were tested and compared for GC-rich and AT-rich primer.
                

        # Week 37
        
        Continuing our proof of concept work, we finally created a simple TdT reaction with several base transitions. Two reactions were performed in parallel, one with AT-rich primers and one with CE-labelled AT-rich primers for a potential analysis with the capillary electrophoresis. The nucleotides were added in the following order: T, C, G, A with each 10 min incubation time. Nucleotide A was added last to create a Poly-A tail to allow a later PCR amplification.
            
            
        As the results from the last immobilization were flawed, the experiment was repeated with a few modifications. The stick surface was treated with sandpaper to create a rough surface, the initial dNTP concentration was increased, and the mobilization was performed with Triton-X-100 instead of heat. The primer immobilization on cuvette stirrers was performed according to protocol.
            
        
        This week we started our first tests with small oligos (from now on called SOs), which hybridized with the elongated primers, to analyze the prevention of secondary structures. TdT reaction with nucleotides T and G and the GC-rich primer were carried out. The SOs were added to the TdT reaction mix and different concentrations were tested. 

        # Week 38

        To recreate a cyclic TdT reaction, the experiment from last week was repeated and a few changes were performed. The incubation time was changed from 10 to 15 minutes and the dNTP reaction was significantly increased to obtain clearer results hopefully.
            
            
        Furthermore, we continued the hybridization experiment from last week by re-running the samples without the 3A3C oligo while testing the 5A5C oligo. Unfortunately, the experiment had to be repeated because the normal TdT reaction did not show a band on the gel. Additionally, we aimed to test which SO concentration worked best for our 3A3C sample, so we examined different volumes of SOs in our reactions ( 1-20 µL ).  Continuing the previous experiment, we repeated the reaction conditions with the 5A5C SOs and the volumes 1 µL and 10 µL.
        
        # Week 39 
    
        Because our last PCR reactions were inconclusive we performed a gradient PCR to determine the best annealing temperature. For this experiment, TdT reactions with different primers and different nucleotides were carried out to test whether secondary structures have an impact on the PCR. As the samples were smeared and had bad visibility on the gel, new samples with only one nucleotide were created.  
        After the electrophoresis, the results were not as expected, so another gradient PCR was performed to determine the best annealing temperature for our AT-rich and GC-rich primer. We used the Thermo Fisher calculator for the annealing temperature and experimented with a temperature range from 35-55 °C. Additionally, we repeated the experiment from 14.09 (week 37) to create simple cyclic TdT reactions with base transitions. A few changes were applied: We used less primer (100 nM instead of 500 nM in comparison to 14.09), incubated at a higher temperature, and used longer incubation times (15-20 min instead of 10 min). 
        Half of the samples were saved and put in the fridge for analysis next week. 

    
        This week we started our first tests with streptavidin-tagged magnetic beads and biotin-labelled primers to establish our Biotin-Streptavidin immobilization system as an alternative to the maleimide-immobilization. We performed one reaction and two negative controls without biotin and without beads to check the turnover rate of our immobilization. Unfortunately, we ordered the primer with the biotin-group on the wrong end so the experiment failed. 


        # Week 40 

        Since last week's gradient PCR samples were smeared, we performed a PCR reaction with the high smear that we isolated from the gel to amplify samples with the desired length. Afterwards, we performed a PCR reaction with the samples from 30.09 to prepare them for sequencing and check for the desired bands. The PCR products were analyzed on an agarose gel. Additionally, we prepared TdT reactions with a new primer (N-primer) to create a better analysis method for PCR reactions. 
        We started doing standard TdT samples with different incubations times for each nucleotide and added a poly-A tail to half the samples to use for a later PCR reaction. 
        
        
        Now using correctly biotin-labelled primer we continued our immobilization experiments. Two experiments were performed in which we tested the order of the reaction steps (TdT reaction, application of the beads and binding of the primers, use of the magnetic stick) and different elution buffers. Repeating the experiments a few times, we also added more washing steps, increased the incubation time and altered the volume of the beads. We also did TdT tailing reactions with an unlabeled primer for negative control.
        To achieve a more sustainable reaction implementation and the possibility of cyclic reactions we tried building envelopes for the magnet sticks. Different approaches were tested and compared to TdT reactions in solution. 
        
        # Week 41 
        
        Comparing the N-primer and the AT-rich primer we started the week with standard TdT reactions with poly-A tails for PCR.
        Afterwards, we did a longer cyclic synthesis with dATP, dCTP and dTTP with different primer:dNTP ratios. We performed a  PCR with a higher annealing temperature. Getting unclear results we repeated the PCR with the long samples while changing a few conditions like annealing time and elongation temperature.
        Assessing another aspect of the tailing reactions we used a custom-made buffer for the TdT and different cofactor concentrations. In the following experiments, we compared different dilutions of MgCl2 and CoCl2. The CoCl2 samples were also compared regarding the incubation temperature (room temperature and 37 °C).  
        We also repeated two experiments from week 35 we performed several TdT reactions with different primer concentrations (1-20 nM and 0-100 nM).
        Lastly, we created standard time-resolved TdT reaction samples for CE analysis with dTTP and incubation times from 1-30 minutes.
        
        
        Using the self-made envelopes we continued experiments with the non-permanent immobilization approach. Because a component in the washing buffer inhibited the TdT in the last experiments we established water as the washing solution. Afterwards, we compared immobilization with and without the envelope and tested each dNTP as a basis for cyclic synthesis. Subsequently, we performed a cyclic synthesis with up to five base transitions. 
        The next day we used the non-permanent immobilization system to code the sequence for "21" and "iGEM" in DNA followed by a PCR as preparation for nanopore sequencing. 
        
        
        # Week 42
        
        In our last week in the lab we purified the samples from week 41 for CE. 


        We also repeated the non-permanent immobilization without a TdT reaction. Additionally, we compared TdT tailing reactions with and without the envelope on the stick using different dNTPs.  
        

