extends ../templates/contents.pug

block headVars
    - var title = "Outlook"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Future Ideas and Improvements
        - (?) = Content/Text depends on how far we have come with the approach
        - Unnatural Base Pairs (?)
        - Photolabile Protection Groups (?)
        - SSBs (?)
        - Homo Oligonucleotides (?)
      
        
        At the beginning of our journey, we had a vision for our project. We had many ideas for the improvement of enzyme-based DNA synthesis.
        But while working on our project we had to adapt the focus. 
        Because of the limitation of time and resources we cannot put every of our ideas into project. 
        However, the limitation of this competition shall not hold us back from expressing our concepts. 
        Once the fundamental framework for DNA data storage is established, we hope our research can make DNA synthesis more effective.  

        # Prevention of secondary structures 
        
        One of the biggest problems in enzymatic DNA synthesis is the formation of secondary structures.
        Especially with our semi-specific synthesis method, our DNA strands consist of many fragments with the same nucleotide.
        Thus, the strands are more likely to form secondary structures like hairpins.
        We experienced that the forming of these secondary structures is a problem for the TdT.
        If the DNA is too twisted the elongation is hindered.
        We did a lot of research and elaborated a few ideas for prevention. 
        
        We believe, that the solutions in synthetic biology lay in nature.
        SSB’s (single strand binding protein) stabilize single-stranded DNA in replication.
        Coincidentally we found out, that Sebastian Palluk, expert in the field of enzymatic DNA synthesis, also worked with SSBs in his study
        Nevertheless, both, our team and Palluk, came to the conclusion that the commercially available SSBs do not work for our purposes because those bind to stronlgy to the strand and cannot be deattached after the reaction
        Still, we believe that SSB’s have a huge potential to prevent secondary structures and thereby improve the synthesis. 
        
        # Increase of the data capacity
        
        Unnatural base pairs
        
        # Optimization of the reaction conditions
