extends ../templates/contents.pug

block headVars
    - var title = "Proof of Concept"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Proof of concept
        Goal: use hardware concept to synthesize a preset DNA sequence. Proof is provided by sequencing.
        Argument according to the Design cycle: Design -> Build -> Test -> Learn -> Design (iterative)
