extends ../templates/contents.pug

block headVars
    - var title = "Proof of Concept"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Overview   
        Since the official start in April 2021, the iGEM team Aachen was able to develop a method to synthesize ssDNA strands of more than 1000 bases or much more in the future. 
        Inspired by the scientific findings of George Church [1](#citation1), we would like to present a concept that is simple, but at the same time, very efficient. 
        Our work focuses on:  
        
        # The DIP-Method
        In the DIP-Method, an immobilized ssDNA primer is dipped into a reaction solution containing the enzyme TdT and one type of nucleotide (see [experiments]( https://2021.igem.org/Team:Aachen/Experiments)). 
        The goal is to generate a strand as long as possible with the maximum number of transitions from different nucleotides. The ratio of immobilized primer to nucleotide in solution is 1:5000 (20 nM immobilized primer to 0.1 mM nucleotide). 
        The primer:nucleotide ratio plays a crucial role in elongation by TDT, as the enzyme also binds more nucleotides to individual primers at higher nucleotide concentrations. 
        To better control the TdT reaction, elongation is performed at room temperature (24 °C). 
        Since the ssDNA strands had to be double-stranded for subsequent analysis (sequencing using Sanger and Nanopore), performing a PCR is essential. 
        To make this possible, a poly-A tail has to be present at the end of each strand for the binding of a reverse primer, so the addition of adenine is necessary at the end of each reaction. Nuclease-free water is used as the wash solution (as other wash solutions contain monovalent cations (or other substances) that inhibit TdT). 
        Elution of the primer is then performed with a Strep-Tactin solution.
        
        # Design of the Hardware  
        To automate our method, we came up with a custom design. The individual reactions take place in 2 mL Eppendorf reaction tubes. 
        In order to automate the elongation and washing steps, a framework of extruded aluminum profiles and a revolver with a mobile base was designed. 
        The revolver is used to fix the reaction vessels. Two ball bearings, between which the turret is suspended, ensure accuracy of 0.1125°. 
        A stirring rod clamp can be attached to the wall shown in the picture to fix the rod magnet. The wall can be moved horizontally and vertically, which allows the magnet to be immersed in the solution. 
        This approach was chosen because it is simple, efficient, and feasible. The process is automated by a NodeMCU, which receives commands via a common web interface. In the later course, only the DNA sequence has to be specified, and the synthesis runs without further manual steps.
        
        Bild von der Hardware
        
        # Characterization of the TdT 
        The performance of an optimal reaction in the later course of our project required a precise characterization of our enzyme. 
        For basic research on TdT, the common co-factor Co2+ was used. We investigated which nucleotides were preferentially incorporated, how far the initial strand could be elongated with a nucleotide species, and how temperature affects elongation. 
        The evaluation showed that in a 10 min reaction, strands with the nucleotides thymine, cytosine, and adenine are elongated better than strands with the nucleotide guanine. 
        Temperature also significantly effected elongation; the strands get longer at 37 °C than at RT (Fig. 1). 
        To be able to investigate whether all strands were elongated equally in a reaction, capillary electrophoresis was applied to individual approaches. 
        It was found that there were individual differences between the strands. The deviation was in the range of up to 20? base pairs. 
        We decided on the lower incubation temperature at RT because it is easier to implement and our goal is to attach only a few nucleotides. 
        A final important point to implement the most uniform elongation possible in the further course is the primer:nucleotide ratio in the solution. 
        At a ratio of 1:5000, strands were elongated uniformly to an approximate length of up to 1000 nt (see Fig 1 lane 8). If the ratio of primer to nucleotide was 1:500, very few nucleotides were incorporated (maximum up to 50). 
        But our modeling shows that it should make no difference if we incubate a longer time with a low nucleotide concentration or a shorter time with a high nucleotide concentration. 
        As shorter incubation times are more favorable for a future synthesis system because time becomes an essential factor in large-scale production, we decided on the high nucleotide concentration for our immobilization experiments. 
        This indicates that a combination of high primer:nucleotide ratio with shorter incubation time and lower temperature would be crucial for our further experiments.  
        
    - var imgpath = "" + require("../assets/img/Results/2021-06-23_01.png")["default"]
    +image(1, imgpath, "TdT tailing reaction of an AT-rich ssDNA primer with the four standard dNTPs at RT and 37 °C for 30 min, containing $Co^{2+}$ as a cofactor. 2.5% Agarose with TBE, SYBR Gold staining, 90 V, 55 min. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: RT reaction with dATP 3: RT reaction with dTTP 4: RT reaction with dCTP 5: RT reaction with dGTP 6: AT-rich primer reference 20 nM 7: 37 °C reaction with dATP 8: 37 °C with dTTP 9: 37 °C reaction with dCTP 10: 37 °C reaction with dGTP.")
               
    - var imgpath = "" + require("../assets/img/Results/2021-06-23_01.png")["default"]
    +image(2, imgpath, "2021-09-30")
        
    :markdown-it
        # Immobilization of the ssDNA oligo
        For the immobilization of our oligonucleotide, we decided to use the streptavidin-biotin-bond (see [experiments]( https://2021.igem.org/Team:Aachen/Experiments).
        This method offers the great advantage of providing the reaction with as large a surface area as possible while ensuring a low risk of contamination when switching elongation and washing steps. 
        Small bar magnets were used as the magnet for the beads, with a pipette tip as the sheath (the bottom opening of the tip was fused). 
        The sheath allowed us to put the beads in solution without a magnet, which resulted in better elongation.   
        
        # Avoidance of secondary structures
        A final important point for the enzymatic synthesis of DNA strands is the avoidance of secondary structures. 
        The enzyme TdT needs an overhang of at least three nucleotides at the 3'-end to elongate [citation]. 
        If this is not given, elongation does not take place. Especially in structures that are very rich in guanine, duplex secondary structures are formed [citation]. 
        To prevent this, single-stranded binding proteins were added to the reaction. We were able to show that the use of SSBs leads to a lengthening of the strands. 
        SSBs stabilize the DNA and make it more accessible to our enzyme. Only one SSB was used for the experiments.
        
        # Proof by Sequencing
