extends ../templates/contents.pug

block headVars
    - var title = "Protocols"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        Als Drop-Down Menü gestalten. Unter jedem Punkt kommen dann alle vorhandenen SOP's

        # Buffers, Solutions
        # Agarose Gel Electrophoresis
        # PAA Gel Electrophoresis
        # TdT Tailing Reaction
        # Devices
        # Cloning
        # Immobilization
