extends ../templates/contents.pug

block headVars
    - var title = "Protocols"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        Als Drop-Down Menü gestalten. Unter jedem Punkt kommen dann alle vorhandenen SOP's

        # Buffers and Solutions
        ## 10 % APS recipe
        ### Goal-Setting
        - Recipe for 10 % APS (ammonium persulfate) used for polyacrylamide gels

        ### Terms / abbreviations
        - APS = ammonium persulfate

        ### Risk areas
        - Health hazard/hazardous to the ozone layer
        - Serious health hazard
        - Oxidising

        ### Required materials and / or information
        - APS (solid) (Roth, catalog number 9592.1)
        - Autoclaved MilliQ H<sub>2</sub>O (sartorius ariumpro)
        - 50 mL Falcon Tube (Sarstedt, catalog number 62.547.254)
        - Eppendorf Safe-Lock Tubes 1.5 mL (Eppendorf, catalog number 0030120086)

        ### Templates, devices, software
        - Analysis balance (Kern ABJ 220-4NM)
        - Vortexer

        ### Preliminary work
        - None

        ### Operation
        1. Weigh 10 % (w/v) of APS into e.g. a Falcon Tube (e.g. 1 g APS for 10 mL H<sub>2</sub>O)
        2. Add some autoclaved MilliQ H<sub>2</sub>O and fully dissolve the APS by vortexing
        3. Fill with remaining volume of MilliQ H<sub>2</sub>O to reach the final desired volume
        4. Mix by stirring/shaking/inverting
        5. Aliquot 1-1.5 mL into Eppendorf Tubes and store at -20 °C in the iGEM freezer

        ### Troubleshooting
        - APS should always be stored in fridge
        - For long-term storage, keep it in -20 °C freezer

        ### Follow-up work
        - PAA gel preparation (native)
        - PAA gel preparation (denaturing) 
        ## 1x TAE buffer recipe
        ### Goal-Setting
        - Manufacture of 1x Tris-acetat-EDTA (TAE)-buffer

        ### Terms / abbreviations
        - EDTA = Ethylenediaminetetraacetic acid
        - HCL = Hydrochloric acid
        - NaOH = Sodium hydroxide
        - PAA = Polyacrylamide
        - TAE = Tris-acetat-EDTA
        - TRIS = Tris(hydroxymethyl)aminomethan

        ### Risk areas
        - Health hazard
        - Serious health hazard

        ### Required materials and / or information
        - Chemicals:
        - Tris base A1086,1000, Tris ultra pure, AppliChem
        - Acetic acid, AppliChem A3686
        - EDTA Lot # BCBN7602V, Sigma-Aldrich 
        - Materials:
        - Beaker/ Schottflask
        - Stirring fish
        
        All chemicals can be found in the "chemical room" on the opposite site of the cleaning kitchen
        
        All chemicals are solid substances

        ### Disposal
        - Black canister on the ground next to trash cans in gel electrophoresis room

        ### Templates, devices, software
        - Analysis balance (Kern ABJ 220-4NM)
        - pH-Meter (Knick Digital pH-Meter 646)

        ### Preliminary work
        - Calculate the needed masses for specific volumina
        - Search for gloves and safety goggles

        ### Operation
        - pH-Meter (ready to use in the chemical room)
        - If you use it for the first time ask an experienced person around how to use it
        - Regularly calibrate the pH-meter according to manufacturer
        - User guide:
        - pH meter should measure about 6.5 when the solution is stored (small Falcon Tube)
        - take it out and unlock it (small switch at the top)
        - wash it carefully with some ddH<sub>2</sub>O
        - hold into the solution and measure
        - wash again after use, turn off the switch and put it back into the small Falcon Tube
        
        The following recipe is standardized to 1 L
        1. Weigh the following components into a Beaker or Schottflask --> Tip use at least a 1500 mL beaker (easier usage/ measurement)
            - Tris base: 	121.14 g/L
            - Acetic acid:	60.05 g/L
            - EDTA:		2.92 g/L
        2. Fill up to 1 L with dest. H<sub>2</sub>O
        3. Mix by stirring/shaking/inverting
        4. Check pH --> optimal pH = 8 
            - If pH is too low, adjust with NaOH
            - If the pH is too high, do not adjust it with HCl, as this would cause errors with the PAA gel, because the Cl ions will migrate first

        ### Troubleshooting
        - None

        ### Follow-up work
        - If a chemical runs out or is empty, please fill out the order list on the fridge next to the window
        ## 10x TBE buffer recipe
        ### Goal-Setting
        - Manufacture of 10x Tris-borate-EDTA (TBE)-buffer

        ### Terms / abbreviations
        - EDTA = Ethylenediaminetetraacetic acid
        - HCL = Hydrochloric acid
        - NaOH = Sodium hydroxide
        - PAA = Polyacrylamide
        - TBE = Tris-borate-EDTA
        - TRIS = Tris(hydroxymethyl)aminomethan

        ### Risk areas
        - Health hazard
        - Serious health hazard

        ### Required materials and / or information
        - Chemicals:
        - Tris base A1086,1000, Tris ultra pure, AppliChem
        - Boric acid Art.165 (0037215), Merck
        - EDTA Lot # BCBN7602V, Sigma-Aldrich
        Materials:
        - Beaker/Schottflask
        - Stirring fish
        
        All chemicals can be found in the "chemical room" on the opposite site of the cleaning kitchen
        
        All chemicals are solid substances
        
        Use TBE buffer only two times for gel electrophoresis

        ### Templates, devices, software
        - Analysis balance (Kern ABJ 220-4NM)
        - pH-Meter (Knick Digital pH-Meter 646)

        ### Disposal
        - Observe all federal, state and local environmental regulations
        - Here: Can be discarded in sink with a lot of water

        ### Preliminary work
        - None

        ### Operation
        - pH-Meter (ready to use in the chemical room)
        - If you use it for the first time, ask an experienced person around how to use it
        - Regularly calibrate the pH-meter according to manufacturer
        - User guide:
        - pH meter should measure about 6.5 when the solution is stored (small Falcon Tube)
        - take it out and unlock it (small switch at the top)
        - wash it carefully with some ddH<sub>2</sub>O
        - hold into the solution and measure
        - wash again after use, turn off the switch and put it back into the small Falcon Tube
        
        The following recipe is standardized to 1 L
        1. Weigh the following components into a Beaker or Schottflask --> Tip: use at least a 1500 mL beaker (easier usage/measurement)
            - Tris base: 	121,14 g/L
            - Boric acid: 	52,54 g/L
            - EDTA:		2,92 g/L
        2. Fill up to 1 L with ddH<sub>2</sub>O
        3. Mix by stirring/shaking/inverting
        4. Check pH --> optimal pH = 8.3
            - If pH is too low, adjust with NaOH
            - If the pH is too high, do not adjust it with HCl, as this would cause errors with the PAA gel, because the Cl ions will migrate first

        ### Troubleshooting
        - None

        ### Follow-up work
        - If a chemical runs out or is empty, please fill out the order list on the fridge next to the window
        # Agarose Gel Electrophoresis
        # PAA Gel Electrophoresis
        # TdT Tailing Reaction
        # Devices
        # Cloning
        # Immobilization
