extends ../templates/contents.pug

block headVars
    - var title = "Protocols"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article

    <details>
    <summary>Buffers, Solutions</summary>
    <br>
    a(href=require("../assets/documents/protocols/")["default"]) 
    </details>

    <details>
    <summary>Agarose Gel Electrophoresis</summary>
    <br>
    </details>

    <details>
    <summary>PAA Gel Electrophoresis</summary>
    <br>
    </details>

    <details>
    <summary>TdT Tailing Reaction</summary>
    <br>
    </details>

    <details>
    <summary>Devices</summary>
    <br>
    </details>

    <details>
    <summary>Cloning</summary>
    <br>
    </details>

    <details>
    <summary>Immobilization</summary>
    <br>
    </details>
