extends ../templates/contents.pug

block headVars
    - var title = "Protocols"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)
        To ensure that the experiments could be carried out efficiently and safely and reproduced accordingly, we introduced the standard operation procedures (SOPs). This was necessary since we were working with 13 people in the laboratory. These SOPs contain detailed information on the chemicals and devices needed, bullet point manuals, and information on risk factors and proper disposal. At the beginning, there was a lot of questioning about how to perform the experiments. We were able to reduce this through the SOPs, as the standardization helped to enable each member of our laboratory team to work independently, reproducibly - and most importantly - safely.
         
        <details>
        <summary>Buffers, Solutions</summary>
        <br>
        </details>

        <details>
        <summary>Agarose Gel Electrophoresis</summary>
        <br>
        </details>

        <details>
        <summary>PAA Gel Electrophoresis</summary>
        <br>
        </details>

        <details>
        <summary>TdT Tailing Reaction</summary>
        <br>
        </details>

        <details>
        <summary>Devices</summary>
        <br>
        </details>

        <details>
        <summary>Cloning</summary>
        <br>
        </details>

        <details>
        <summary>Immobilization</summary>
        <br>
        </details>
