extends ../templates/contents.pug

block headVars
    - var title = "Results"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Introduction
        # Materials and Methods
        Detailed SOPs (standard operating procedures) can be found [here](https://2021.igem.org/Team:Aachen/Protocols).
        # Results
        ## TdT Tailing Reaction 
        ### TdT Preference for Different Nucleotides
        ### Varying Nucleotide Concentration
        ### Varying Primer Concentration
        ### Varying Cofactor Concentration
        ### TdT Reaction over Time
        ### Comparison of Thermo Fisher Scientific and NEB TdT
        ## Primer Immobilization
        ### Testing the Immobilization System
        ### Immobilization with Amino-Primer
        ### Immobilization with Maleimide-Primer
        The maleimide-cysteine-bond was more likely to work than the amino bond because it was already shown to work with maleimide-labeled proteins [citation schwaneberg paper]. 
        Thus, we switched methods as soon as the maleimide-labeled oligos arrived and performed the conjugation of the oligos with the fusion protein construct LCI-DZ-C-His6 (see Experiments). 
        The conjugation was performed with the AT-rich oligo and the GC-rich oligo and different oligo excesses were tried. 
        Assuming that successfully binding the protein construct to the oligo would change its running behavior, we performed an agarose gel electrophoresis with the conjugates.
    
    :markdown-it        
        Figure # shows clear primer bands as reference. The GC-rich oligo runs lower than the AT-rich oligo because of secondary structure formation in the native gel. 
        The conjugates show large smears with a band at the height of the reference oligo, respectively. 
        The more oligo excess was used, the brighter the smear and the bands are because there is more DNA in the sample. 
        These results could have indicated a successful conjugation. 
        We wanted to confirm this by purifying the conjugate using the His-Tag to lose excess primer and performing an SDS-PAGE and western blot as well as a TdT reaction with the purified conjugates. 
        This should have confirmed if the bonding of oligo and protein was successful. 
        Unfortunately, the blot did not work and we did not have enough of the samples to try again.
        
    :markdown-it
        The gel electrophoresis reveals inconclusive results: The purified conjugates are not visible. The concentration is most likely too low to be detected. 
        The negative control is also not visible, which was expected because it does not contain DNA; it would normally have acted as a positive control in the blot. 
        This gel was replicated and the conjugates were applied in a higher concentration.
        
    :markdown-it
        Here one can see, that the conjugates produce a band approximately at the same height as the reference. 
        They were expected to be higher than the reference because the protein should increase the molecular weight. 
        But because of the smear in the GC reference sample, it is hard to say if the GC conjugates are on the same height.
        
        The TdT reaction with the conjugates seems to have worked; attaching nucleotides to the oligos increases the DNA concentration so you can see the bands. 
        The bands are smeared and not at the same heights. 
        Lane 6 and 8 show higher bands because these were the samples with lower oligo excess. 
        Less DNA leads to further elongation because there are more nucleotides available for each strand.
        Taking a closer look, there are two bands visible in the smears. 
        This could either mean, that the conjugation worked and what we see is only conjugated elongated primer, or what we see is only free primer that has not been washed away in the purification. We have shown, that even very small concentrations of primer are visible on the gel after elongation with TdT (link). 
        Most likely, it is a combination of the two assumptions: 
        There is conjugated primer as well as free primer, which would explain the faint double bands. 
        
        We then tried immobilizing the conjugates on a polystyrene stick, washing them and eluting the conjugate. 
        This should confirm if the conjugation, as well as the immobilization, worked because the excess primer (if there is some) should be lost in the washing steps. 
        Un-conjugated primer served as a negative control to see if it binds the stick without the anchor peptide. 
        Furthermore, a TdT reaction was performed in the immobilized state.
        
    :markdown-it
        Unfortunately, the concentrations are so low that it is hard to see bands. 
        The primer reference is visible the negative control shows no band in the second washing step or elution step. 
        This could mean that the primer does not bind to the stick without the anchor peptide, but we cannot exclude the possibility because gel electrophoresis is not very sensitive and there are barely bands visible in the samples. 
        The conjugates are again not visible, but an elution band can be seen in lanes 8, 16, and 32. These are the samples with the conjugates with higher primer excess and also the samples without TdT reaction. 
        This could confirm, that the immobilization works, the conjugate is not washed off and can be eluted.
        
        The results with the TdT reaction samples are not as expected because there are no bands visible in the elution step. 
        However, there are bands in the lanes before the elution steps that seem to be stuck in the pocket. 
        These samples are taken from the TdT reaction mix we incubated the stick in. We forgot to inactivate these samples so the primers were most likely elongated until there were no nucleotides left. 
        There are two explanations for this: There could be components in the TdT reaction buffer that break up the maleimide-cysteine bond or detach the anchor peptide. 
        Or this still could be a small rest of free primer that survived the purification and the washing steps and was now elongated to reach a visible concentration.
        
        To illuminate the cause, we wanted to examine these samples further for the presence of protein. 
        Assuming the strands were very long, a 1% agarose gel with a 1 kb Ladder was used. 
        We also tried performing a PCR reaction with those samples but forgot the poly-A tailing. 
        
    :markdown-it
        The reference bands are visible. (The PCR samples show bands to some extent, even if there was no poly-A tail for the reverse primer to bind to. 
        We later found out, that we used a much too low annealing temperature so unspecific products arose.) 
        The reaction bands ran even higher than the Ladder and there still seems to be some of the sample stuck in the pocket. 
        The bands from lanes 3, 5, 7, 9 as well as the bands in the respective pockets were excised. 
        The assumption was, that the lower band could be free elongated primer and the band in the pocket could be the elongated conjugate that was stuck there because of the protein. 
        The samples were purified and a dot blot (immunoblot) was performed to confirm or falsify the presence of protein.
        
    :markdown-it
        The positive control is visible, but no other dots. 
        This concludes, that our fusion protein was not present in the samples and the conjugation did not work well enough to be able to perform a cyclic synthesis with the immobilized primers. 
        We decided to switch to the next immobilization method. 
        
        ### Immobilization with Biotinylated Primer
        #### Permanent Immobilization
        #### Non-permanent immobilization
        ## Cyclic Synthesis
        ### In Solution
        ### Immobilized
        ## Secondary Structures
        ### GC vs AT Primer
        ### SSBs
        ### short Oligos
        # Conclusion
        # Outlook
        There are many more experiments we would have liked to perform. You can read about our further ideas [here](https://2021.igem.org/Team:Aachen/Outlook).
