extends ../templates/contents.pug

block headVars
    - var title = "Results"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Introduction
        # Materials and Methods
        Detailed SOPs (standard operating procedures) can be found [here](https://2021.igem.org/Team:Aachen/Protocols).
        # Results
        ## TdT Tailing Reaction 
        ### TdT Preference for Different Nucleotides
        ### Varying Nucleotide Concentration
        ### Varying Primer Concentration
        ### Varying Cofactor Concentration
        ### TdT Reaction over Time
        ### Comparison of Thermo Fisher Scientific and NEB TdT
        ## Primer Immobilization
        ### Testing the Immobilization System
        ### Immobilization with Amino-Primer
        ### Immobilization with Maleimide-Primer
        The maleimide-cysteine-bond was more likely to work than the amino bond because it was already shown to work with maleimide-labeled proteins [citation schwaneberg paper]. 
        Thus, we switched methods as soon as the maleimide-labeled oligos arrived and performed the conjugation of the oligos with the fusion protein construct LCI-DZ-C-His6 (see Experiments). 
        The conjugation was performed with the AT-rich oligo and the GC-rich oligo and different oligo excesses were tried. 
        Assuming that successfully binding the protein construct to the oligo would change its running behavior, we performed an agarose gel electrophoresis with the conjugates.
    
    - var imgpath = "" + require("../assets/img/Results/2021-08-19_01.png")["default"]
    +image(1, imgpath, "**Conjugations of LCI-fusion-protein with AT-rich and GC-rich maleimide-labeled ssDNA primers and different primer excesses.** 2.5% Agarose with TBE, 90 V, 60 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: GC-rich primer reference 2: AT-rich primer reference, 3: Conjugation with 12.5x GC-rich primer excess 4: Conjugation with 5x GC-rich primer excess 5: Conjugation with 2x GC-rich primer excess 6: Conjugation with 12.5x AT-rich primer excess.")
    
    :markdown-it
        Figure # shows clear primer bands as reference. The GC-rich oligo runs lower than the AT-rich oligo because of secondary structure formation in the native gel. 
        The conjugates show large smears with a band at the height of the reference oligo, respectively. 
        The more oligo excess was used, the brighter the smear and the bands are because there is more DNA in the sample. 
        These results could have indicated a successful conjugation. 
        We wanted to confirm this by purifying the conjugate using the His-Tag to lose excess primer and performing an SDS-PAGE and western blot as well as a TdT reaction with the purified conjugates. 
        This should have confirmed if the bonding of oligo and protein was successful. 
        Unfortunately, the blot did not work and we did not have enough of the samples to try again.
        
    - var imgpath = "" + require("../assets/img/Results/2021-08-25_02.png")["default"]
    +image(2, imgpath, "**Standard TdT reactions with dTTP with purified conjugations of LCI-fusion-protein and ssDNA primers.** 2.5% Agarose with TBE, 90 V, 60 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: GC-rich primer reference, 3: Conjugation with 12.5x GC-rich primer excess 4: TdT reaction with 12.5x-GC-conjugate 5: Conjugation with 5x GC-rich primer excess 6: TdT reaction with 5x-GC-conjugate 7: Conjugation with 2x GC-rich primer excess 8: TdT reaction with 2x-GC-conjugate 9: Conjugation with 12.5x AT-rich primer excess 10: TdT reaction with 12.5x-AT-conjugate 11: Conjugation with PEG (positive control for protein gel) 12: TdT reaction with PEG-Conjugation (negative control).")
        
    :markdown-it
        The gel electrophoresis reveals inconclusive results: The purified conjugates are not visible. The concentration is most likely too low to be detected. 
        The negative control is also not visible, which was expected because it does not contain DNA; it would normally have acted as a positive control in the blot. 
        This gel was replicated and the conjugates were applied in a higher concentration.
        
    - var imgpath = "" + require("../assets/img/Results/2021-08-26_01.png")["default"]
    +image(3, imgpath, "**Standard TdT reactions with dTTP with purified conjugates of LCI-fusion-protein and ssDNA primers.** 2.5% Agarose with TBE, 90 V, 49 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: GC-rich primer reference, 3: Conjugation with 12.5x GC-rich primer excess 4: TdT reaction with 12.5x-GC-conjugate 5: Conjugation with 5x GC-rich primer excess 6: TdT reaction with 5x-GC-conjugate 7: Conjugation with 2x GC-rich primer excess 8: TdT reaction with 2x-GC-conjugate 9: Conjugation with 12.5x AT-rich primer excess 10: TdT reaction with 12.5x-AT-conjugate 11: Conjugation with PEG (positive control for protein gel) 12: TdT reaction with PEG-Conjugation (negative control).")
        
    :markdown-it
        Here one can see, that the conjugates produce a band approximately at the same height as the reference. 
        They were expected to be higher than the reference because the protein should increase the molecular weight. 
        But because of the smear in the GC reference sample, it is hard to say if the GC conjugates are on the same height.
        
        The TdT reaction with the conjugates seems to have worked; attaching nucleotides to the oligos increases the DNA concentration so you can see the bands. 
        The bands are smeared and not at the same heights. 
        Lane 6 and 8 show higher bands because these were the samples with lower oligo excess. 
        Less DNA leads to further elongation because there are more nucleotides available for each strand.
        Taking a closer look, there are two bands visible in the smears. 
        This could either mean, that the conjugation worked and what we see is only conjugated elongated primer, or what we see is only free primer that has not been washed away in the purification. We have shown, that even very small concentrations of primer are visible on the gel after elongation with TdT (link). 
        Most likely, it is a combination of the two assumptions: 
        There is conjugated primer as well as free primer, which would explain the faint double bands. 
        
        We then tried immobilizing the conjugates on a polystyrene stick, washing them and eluting the conjugate. 
        This should confirm if the conjugation, as well as the immobilization, worked because the excess primer (if there is some) should be lost in the washing steps. 
        Un-conjugated primer served as a negative control to see if it binds the stick without the anchor peptide. 
        Furthermore, a TdT reaction was performed in the immobilized state.
        
    - var imgpath = "" + require("../assets/img/Results/2021-08-27_01.png")["default"]
    +image(4, imgpath, "**Immobilization of purified conjugates of LCI-fusion-protein and ssDNA primers on polystyrene stick. Washing steps with 1x PBS buffer, TdT reaction with dTTP, elution by heating to 95 °C.** 2.5% Agarose with TBE, 90 V, 49 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-rich maleimide primer (AT-M) reference 2: AT-M 1st wash solution 3: AT-M 2nd wash solution 4: AT-M elution 5: 12.5x GC-conjugate reference 6: 12.5x GC 1st wash solution 7: 12.5x GC 2nd wash solution 8: 12.5x GC elution 9: 12.5x GC 1st wash solution 10: 12.5x GC 2nd wash solution 11: 12.5x GC TdT reaction solution 12: 12.5x GC TdT elution 13: 5x GC-conjugate reference 14: 5x GC 1st wash solution 15: 5x GC 2nd wash solution 16: 5x GC elution 17: 5x GC 1st wash solution 18: 5x GC 2nd wash solution 19: 5x GC TdT reaction solution 20: 5x GC TdT elution 21: 2x GC-conjugate reference 22: 2x GC 1st wash solution 23: 2x GC 2nd wash solution 24: 2x GC elution 25: 2x GC 1st wash solution 26: 2x GC 2nd wash solution 27: 2x GC TdT reaction solution 28: 2x GC TdT elution 29: 12.5x AT-conjugate reference 30: 12.5x AT 1st wash solution 31: 12.5x AT 2nd wash solution 32: 12.5x AT elution 33: 12.5x AT 1st wash solution 34: 12.5x AT 2nd wash solution 35: 12.5x AT TdT reaction solution 36: 12.5x AT TdT elution.")
        
    :markdown-it
        Unfortunately, the concentrations are so low that it is hard to see bands. 
        The primer reference is visible the negative control shows no band in the second washing step or elution step. 
        This could mean that the primer does not bind to the stick without the anchor peptide, but we cannot exclude the possibility because gel electrophoresis is not very sensitive and there are barely bands visible in the samples. 
        The conjugates are again not visible, but an elution band can be seen in lanes 8, 16, and 32. These are the samples with the conjugates with higher primer excess and also the samples without TdT reaction. 
        This could confirm, that the immobilization works, the conjugate is not washed off and can be eluted.
        
        The results with the TdT reaction samples are not as expected because there are no bands visible in the elution step. 
        However, there are bands in the lanes before the elution steps that seem to be stuck in the pocket. 
        These samples are taken from the TdT reaction mix we incubated the stick in. We forgot to inactivate these samples so the primers were most likely elongated until there were no nucleotides left. 
        There are two explanations for this: There could be components in the TdT reaction buffer that break up the maleimide-cysteine bond or detach the anchor peptide. 
        Or this still could be a small rest of free primer that survived the purification and the washing steps and was now elongated to reach a visible concentration.
        
        To illuminate the cause, we wanted to examine these samples further for the presence of protein. 
        Assuming the strands were very long, a 1% agarose gel with GeneRuler 1 kb DNA Ladder was used. 
        We also tried performing a PCR reaction with those samples but forgot the poly-A tailing.
        But the PCR samples are not relevant for this experiment.
        
    - var imgpath = "" + require("../assets/img/teamlogo_2021.svg")["default"]
    +image(5, imgpath, "TdT reaction solution samples from immobilization experiment (figure x, lanes 11, 19, 27, 35) and PCR with those samples (not relevant). 2.5% Agarose with TBE, 90 V, 49 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-M primer reference 2: PCR with AT-M 3: 12.5x GC TdT reaction solution 4: PCR with 12.5x GC TdT reaction solution 5: 5x GC TdT reaction solution 6: PCR with 5x GC TdT reaction solution 7: 2x GC TdT reaction solution 8: PCR with 2x GC TdT reaction solution 9: 12.5x AT TdT reaction solution 10: PCR with 12.5x AT TdT reaction solution.")
        
    :markdown-it
        The reference bands are visible.
        The reaction bands ran even higher than the Ladder and there still seems to be some of the sample stuck in the pocket. 
        The bands from lanes 3, 5, 7, 9 as well as the bands in the respective pockets were excised. 
        The assumption was, that the lower band could be free elongated primer and the band in the pocket could be the elongated conjugate that was stuck there because of the protein. 
        The samples were dissolved in agarose dissolving buffer, one part was purified and a dot blot (immunoblot) was performed to confirm or falsify the presence of protein.
        
    - var imgpath = "" + require("../assets/img/Results/2021-09-09_blot.png")["default"]
    +image(6, imgpath, "Purified TdT reaction solution samples from gel (figure x). Trans-Blot Turbo membrane, Penta·His HRP Conjugate Kit (Qiagen), 1:2500 dilution in BSA, incubation for 1 h. A1: 12.5x GC TdT reaction solution lower band dissolved A2: 12.5x GC TdT reaction solution lower band purified B1: 12.5x GC TdT reaction solution upper band dissolved B2: 12.5x GC TdT reaction solution upper band purified C1: 12.5x AT TdT reaction solution lower band dissolved C2: 12.5x AT TdT reaction solution lower band purified D1: 12.5x AT TdT reaction solution upper band dissolved D2: 12.5x AT TdT reaction solution upper band purified E1: His-C-DZ-LCI (positive control) E2: empty.")
        
    :markdown-it
        The positive control is visible, but no other dots. 
        This concludes, that our fusion protein was not present in the samples and the conjugation did not work well enough to be able to perform a cyclic synthesis with the immobilized primers. 
        We decided to switch to the next immobilization method. 
        
        ### Immobilization with Biotin-labelled Primer
        
        Our third immobilization method was a combination of streptavidin-tagged magnet beads and biotin-labelled primers.
        The magnet beads in turn are able to bind to a magnet stick.
        This construction allowed a permanent or non-permanent immobilization of primers.
        
        #### Permanent Immobilization
        
        For the permanent immobilization, the streptavidin-tagged magnet beads were conjugated with biotin-labelled primers.
        After adding the magnet stick to this solution and two washing steps, the immobilized primer could be released using BXT Strep-Tactin®XT elution buffer (IBA Life Science) containing biotin.
        To visualize our results, an agarose gel electrophoresis was performed (figure x).
        We assume, that most of the primer was bound by magnet beads because there was no detectible DNA in the conjugation mixture left.
        The binding seems to be strong enough because there was no detectible DNA in the two wash rests.
        A controlled elution of the primers was possible, indicated by a band at primer height.
        
    - var imgpath = "" + require("../assets/img/teamlogo_2021.svg")["default"]
    +image(7, imgpath, "<b>Permanent immobilization using biotin-streptavidin binding.</b> A) Magnet beads and primer were conjugated first, and the magnet stick was added afterwards. B) Magnet beads were attached to the magnet stick and primer was added afterwards. 2.5% Agarose TBE, SYBR Gold, 90V, 45 min. M: GeneRuler 50 bp DNA Ladder 1: Biotin-labelled N-Primer 2: Conjugation rest 3: Wash rest 4: Wash rest 5: Elution.")        
        
    :markdown-it
        Another possibility to immobilize primers permanently, was to bind the streptavidin-tagged magnet beads to the magnet stick first and add biotin-labelled primer afterwards.
        The above mentioned experiment was repeated using the second method.
        However, the results of this procedure showed less amounts of immobilized primer (figure x).
        Barely no DNA was detected in the elution step.
        The primers probably did not bind to the magnet beads due to steric hindrance.
        This is indicated by a band at primer height in the conjugation mixture.
        
        #### Non-permanent immobilization
        
        The non-permanent immobilization allows a release of primers into solution to avoid steric hindrance.
        For this, biotin-labelled primers were conjugated with magnet beads.
        Instead of directly dipping the magnet stick into this solution, the stick was covered with a plastic envelope.
        This prevented the magnet beads to bind to the stick irreversibly.
        Another advantage is, that the stick can be reused.
        To analyze this method, an agarose gel electrophoresis was performed with different steps of immobilization, washing and elution (figure x).
        The magnetic binding was apparently not weakened by the envelope because there was no DNA detected in the immobilization rest. 
        
    - var imgpath = "" + require("../assets/img/teamlogo_2021.svg")["default"]
    +image(8, imgpath, "**Non-permanent primer immobilization using biotin-streptavidin binding.** 2.5% Agarose TBE, SYBR Gold, 90 V, ? min. M: GeneRuler 50 bp DNA Ladder 1: Biotin-labelled N-Primer 2: Immobilization rest 3: Wash rest 4: Wash rest 5: Elution.")        
        
    :markdown-it
        As a result, the permanent immobilization was more efficient, if biotin-labelled primers are first conjugated to magnetic beads and the magnetic stick is added afterwards.
        The non-permanent immobilization was able to safely bind the primer as well.
        To further investigate the occurrences, TdT reactions were performed using both successful methods.
        
        ## Cyclic Synthesis
        ### In Solution
        ### Immobilized
        ## Secondary Structures
        ### GC vs AT Primer
        ### SSBs
        ### short Oligos
        # Conclusion
        # Outlook
        
        There are many more experiments we would have liked to perform. You can read about our further ideas [here](https://2021.igem.org/Team:Aachen/Outlook).



//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND. 

prepend citations
    - var citations = [{"authors": "Grimm, A. R., Sauer, D. F., Mirzaei Garakani, T., R  bsam, K., Polen, T., Davari, M. D., ... & Schwaneberg, U. (2019). ", "doi": "https://doi.org/10.1021/acs.bioconjchem.8b00874", "journal": "Bioconjugate Chemistry", "numbers": "30(3), 714-720. ", "title": "Anchor Peptide-Mediated Surface Immobilization of a Grubbs-Hoveyda-Type Catalyst for Ring-Opening Metathesis Polymerization.", "type": "article"}]