extends ../templates/contents.pug

block headVars
    - var title = "Results"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Introduction
        # Materials and Methods
        # Results
        ## TdT Tailing Reaction 
        ### Nucleotides
        ### Nucleotide concentration
        ### Primer concentration
        ### Time
        ### Cofactor
        ## Primer Immobilization
        ### (Amino C6 Linker)
        ### Maleimid
        ### Biotin
        ## Cyclic Synthesis
        ### In Solution
        ### Immobilized
        ## Secondary Structures
        ### GC vs AT Primer
        ### SSBs
        ### short Oligos
        # Discussion
        # Conclusion
        # Outlook
