extends ../templates/contents.pug

block headVars
    - var title = "Results"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)
        # Overview
        Introductory sentence...
        Detailed SOPs (standard operating procedures) can be found [here](https://2021.igem.org/Team:Aachen/Protocols).

        # TdT Tailing Reaction
        As the Terminal Deoxynucleotidyl Transferase (TdT) is the foundation of our project, characterization of the enzyme was needed. 
        For this, we performed various experiments with altered reaction conditions, such as dNTP concentration, primer concentration, incubation times, temperature, and cofactor concentration. 

        Please note that in all following results containing a gel image, a dsDNA marker was used as a reference even though the tailing reaction results in an ssDNA strand unless further processed in a PCR. 
        The reason was that no suitable ssDNA marker was available for our purposes. Additionally, some results contain tailing reactions with strand length above the maximal strand length of the marker. 
        Thus, we can only make estimations about the actual ssDNA strand length, and these estimations should be viewed with care.
        
        ## dNTP Incorporation Preference
        As the TdT accepts four different divalent metal cations – $Mn^{2+}$, $Mg^{2+}$, and $Co^{2+}$ - as a cofactor [1](#citation1), the initial experiment involved a [standard TdT reaction](https://2021.igem.org/Team:Aachen/Protocols) with the cofactor of choice in this project, $Co^{2+}$. Furthermore, the reaction was performed at room temperature (RT = 24 °C) and 37 °C to compare possible variations in maximal tail length and tail length distribution.
        As the TdT accepts four different divalent metal cations – Mn2+, Mg2+, and Co2+ - as a cofactor [1](#citation1), the initial experiment involved a [standard TdT reaction](https://2021.igem.org/Team:Aachen/Protocols) with the cofactor of choice in this project, $Co^{2+}$. 
        Furthermore, the reaction was performed at room temperature (RT = 24 °C) and 37 °C to compare possible variations in maximal tail length and tail length distribution.
        
    - var imgpath = "" + require("../assets/img/Results/2021-06-23_01.png")["default"]
    +image(1, imgpath, "TdT tailing reaction of an AT-rich ssDNA primer with the four standard dNTPs at RT and 37 °C for 30 min, containing $Co^{2+}$ as a cofactor. 2.5% Agarose with TBE, SYBR Gold staining, 90 V, 55 min. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: RT reaction with dATP 3: RT reaction with dTTP 4: RT reaction with dCTP 5: RT reaction with dGTP 6: AT-rich primer reference 20 nM 7: 37 °C reaction with dATP 8: 37 °C with dTTP 9: 37 °C reaction with dCTP 10: 37 °C reaction with dGTP.")
        
    :markdown-it
        Figure 1 reveals more effective incorporation of dTTP for both RT and 37 °C. 
        According to the ThermoFisher product literature [2](#citation2), favored incorporation of dTTP, followed by dATP, is to be expected. 
        However, the figure above shows a longer tail for dCTP compared to dATP at both RT and 37 °C. Furthermore, the reaction with dCTP at 37 °C resulted in a much sharper band than at RT (lanes 4 and 9). 
        The same effect can be observed to a lesser extent for the reactions containing dATP and dGTP. 
        These results suggest a possible positive effect of the temperature on the tail length distribution. However, all further experiments – with a few exceptions – were performed at RT because it allowed for a simpler approach in designing the hardware, and the higher temperature was thought to result in higher reaction speeds, which was not wanted in our case. 
        The incorporation of dGTP appears to be the most inefficient, with only a few nt added at RT and 37 °C. 

        The same results were obtained in other experiments not listed in these results, verifying the incorporation preference for our reaction conditions. 
        No possible explanation could be found for the deviant behavior in our experiments and the product literature from Thermo Fisher. 
        
        ## Nucleotide Concentration
        With a reproducible gel electrophoresis method and a successful TdT reaction, the following experiments could start focussing on the effect of adjusting various reaction parameters. 
        The first parameter tested was the concentration of dNTP in the reaction mixture to identify potential effects on the reaction speed.
                
    - var imgpath = "" + require("../assets/img/Results/2021-07-15_01.png")["default"]
    +image(2, imgpath, "TdT tailing reaction of an AT-rich ssDNA primer with a range of initial dATP concentrations ranging from 1-1000 µM at RT (24 °C) for 10 min. 2.5% Agarose with TBE, SYBR Gold staining, 90 V, 55 min. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: 1000 µM dATP 3: 500 µM dATP 4: 200 µM dATP 5: 100 µM dATP 6: 50 µM dATP 7: 20 µM dATP 8: 10 µM dATP 9: 1 µM dATP.")
        
    :markdown-it
        The gel shows a distortion in the form of a slight curve. However, all samples can be distinguished from the primer reference in lane 1.
        Considering the slight curvature, all samples have an estimated length of around 250 nt.
        This suggests no effect of initial nucleotide concentration in the tested range.
        It must be noted that this is only true for an incubation time of 10 min.
        To fully understand the effect of the initial nucleotide concentration, this experiment should be adjusted, and a time-dependent reaction should be performed for every concentration tested.
        However, we chose to continue to work with our standard concentration of 100 µM as they were sufficient for the characterizations.
        Nevertheless, this concentration may be subject to change depending on the experiment performed.
        
        ## Varying Primer Concentration
        
        ## Varying Cofactor Concentration
        One attempt to tweak the reaction speed was to adjust the cofactor availability by reducing its concentration.
        Since the incorporation speed of nucleotide T by far exceeds that of all other nucleotides, we performed TdT reactions with varying concentrations of the TdT reaction buffer containing the cofactor.
        As the cofactor was inherently present in the buffer, we had to adjust the buffer concentration in total and could not just alter the cofactor concentration itself, which might have unforeseen effects.
        
    - var imgpath = "" + require("../assets/img/Results/2021-06-24_01.png")["default"]
    +image(2, imgpath, "Figure 3 TdT tailing reaction of an AT-rich ssDNA primer with dTTP and various cofactor concentrations at RT (24 °C) for 30 min. Cofactor was inherently present in reaction buffer, so that buffer concentration was consequently adjusted as well. 2.5% Agarose with TBE, SYBR Gold staining, 90 V, 60 min. M: GeneRuler 50 bp DNA Ladder 1: AT.rich primer reference 2: 2 mM CoCl2 3: 1.5 mM CoCl2 4: 1.0 mM CoCl2 5: 0.5 mM CoCl2 6: 0.0 mM CoCl2 negative control.")
        
    :markdown-it
        Reducing the cofactor presence results in slower incorporation of nucleotides in the tested range.
        The standard concentration of cofactor used in all experiments was 2.0 mM (lane 2) and scaled-down from that point.
        The results suggest that adjusting the cofactor availability may be a reliable way of tuning down the reaction speed.
        However, as the reaction buffer concentration was changed simultaneously, these results have to be looked at with care.
        The reaction buffer contains components necessary for the functioning of TdT, so lowering the concentration of the reaction buffer may have additional effects on the activity of the enzyme.
        No further testing was performed due to time limitations and unavailability of reaction buffer without cofactor.
    
        ## Time Dependent TdT Reaction
        Thus far, reaction times were chosen to yield a distinguishable band from the primer reference or across samples. 
        However, the goal is to tune down the reaction to a point at which only a few bases are incorporated in each reaction. 
        With adjusting the cofactor concentration, we wanted to slow down the reaction speed. 
        Additionally, the reaction time is an adjustable parameter that does not slow down the reaction but restricts the number of dNTPs added according to time. 
        
    - var imgpath = "" + require("../assets/img/Results/CE_time_reaction_labelled.png")["default"]
    +image(3, imgpath, "TdT tailing reaction of an AT-rich ssDNA primer with dTTP and various reaction times ranging from 1-90 min at RT (24 °C). 2.5% Agarose with TBE, SYBR Gold staining, 90 V, 51 min,. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: 1 min incubation 3: 5 min incubation 4: 15 min incubation 5: 30 min incubation 6: 60 min incubation 7: 90 min incubation.", 80)
        
    :markdown-it
        The depicted slope was obtained by preparing a 400 µL batch of the reaction, followed by initiation of the reaction through the addition of TdT, and subsequent withdrawal of 10 µL samples at the pre-set time points. 
        However, the obtained results can only be used to get a rough estimate of the speed at which dTTP is incorporated since we still have to compare an ssDNA result against a dsDNA ladder, and four of the six samples exceed the highest ladder reference. 
        Thus, lane 2 constitutes the most relevant band at around 200 nt after 1 min. 
        It suggests that reaction times in the range of a few seconds will likely be needed to only add a few bases, which is the ultimate goal for our hardware.
        But, since the resolution of gel electrophoresis is not sufficient to examine differences of only a few nucleotides, we used capillary electrophoresis (CE) to analyze smaller time scales.
        
        For this, a new experiment was set up in which each nucleotide was tested separately, with reaction times ranging from 7.5 to 120 seconds.
        Each reaction took place in a 350 µL batch from which 50 µL samples were withdrawn at the corresponding time points.
        The samples were inactivated with 0.25 M EDTA. The sample volume of 50 µL was necessary for purification with an ssDNA/RNA Clean&Concentrate kit from Zymo Research Europe GmbH.
        The samples were analyzed externally by the Fraunhofer Institut IME Aachen.
        
    - var imgpath = "" + require("../assets/img/Results/2021-06-23_02.png")["default"]
    +image(3, imgpath, "Figure 5 TdT tailing reaction of an AT-rich ssDNA primer  for each nucleotide in a time-dependent manner with reaction times ranging from 7.5-120 s at RT (24 °C). Time  standard LIZ600. (A) Resulting strand lengths for nucleotide T (B) Resulting strand lengths for nucleotide A (C) Resulting strand lengths for nucleotide C (D) Resulting strand lengths for nucleotide G. Non-elongated primer can be observed as a small bump at around 90 bp (actual primer length: 100 bp). Sample taking as a source of error is not included in this graph.")
        
    :markdown-it
        The CE reveals that the size distribution is smallest at very short reaction times of 7.5 to 20 seconds, except for nucleotide G.
        It causes a large size distribution with a double peak at 7.5 s, which narrows down between 15-60 seconds, and eventually results in two overlapping broad peaks.
        Graphs C and D both show an unexpected behavior for the last two time points.
        In C, the 120 s sample appears to have a shorter ssDNA length than the 90 s sample.
        In D, the size distribution of the 90 s and 120 s samples is roughly overlapping.
        Both of these results suggest less optimal incorporation of nucleotides C and G upon reaching a certain ssDNA length, in this case being 110-120 nt.
        No possible explanation for the double peaks or peak shoulders seen in A, B, and D could be found.
        Reactions with nucleotide T have the longest resulting strands of around 210 nt after 120 s, compared to A, C, and G with roughly 110-120 nt after 120 s.
        For comparison, the samples at time point 120 s were additionally analyzed with gel electrophoresis. 
        
        ## Comparison of Thermo Fisher Scientific and NEB TdT
        # Primer Immobilization
        ## Testing the Immobilization System
        In this assay, we wanted to test if we could bind an anchor peptide to a polystyrene stick as the first experiment for our immobilization system. 
        For this, we used two different anchor peptides, provided to us by the Institute for Interactive Materials (DWI): 
        LCI and MacHis, which are attached to a domain Z (DZ), a Cysteine (C), and a His-Tag (His) (see [experiments]( https://2021.igem.org/Team:Aachen/Experiments)). 
        As a negative control, His-eGFP was used. There is no anchor peptide in this construct, so it should not significantly bind to the stick.
        
        For binding the anchor peptides to the polystyrene sticks, we incubated the sticks in the different fusion protein solutions. 
        It has to be said that the negative control was 25 times more concentrated.
        
        To make the binding visible, we used Penta-His-HRP-Antibodies, which can attach to the His-Tag of the fusion proteins. 
        These antibodies are bound to the enzyme horseradish peroxidase (HRP), which catalyzes the oxidation of organic substrates by hydrogen peroxide. 
        1-Step Ultra TMB-ELISA substrate solution contains 3,3',5,5'-Tetramethylbenzidine (TMB), which acts as a substrate for the HRP and turns blue in the reaction. 
        After adding 2 M sulfuric acid stop solution, the color changes to yellow (figure X). 
        We measured the absorbance at its maximum of 450 nm (table X).
        
    - var imgpath = "" + require("../assets/img/Results/2021-07-01_01.png")["default"]
    +image(4, imgpath, "Samples after incubation with polystyrene stick and protein constructs. Immunoassay with the Penta-His-HRP-Antibodies and TMB as substrate. The yellow color quantifies the presence of antibodies and, therefore the presence of the anchor peptide. 1: His-eGFP (negative control), 2: His-C-DZ-LCI, 3: contains His-C-DZ-MacHis.", 80)
    
    - var imgpath = "" + require("../assets/img/Results/2021-07-01_table.png")["default"]
    +image(5, imgpath, "Absorbance at 450 nm of the protein samples after immunoassay. The negative control was 25 times more concentrated, so this factor has to be considered.")
    
    :markdown-it
        In figure X, one can see that the coloring in samples 2 and 3 with the anchor peptides is more intensive than in sample 1, even if the concentration of the anchor peptide constructs was much lower than the negative control. 
        Also, figure x shows that the absorbance of sample 2 and 3 is higher.
        This illustrates that the anchor peptides can bind almost 34 times better to the polystyrene sticks as the negative control and that they do not wash off.
        It can be said, that both anchor peptides bind to the stick with similar intensity because the absorbance does not differ significantly.
        
        ## Immobilization with Amino-Primer
        The next step was to link our Amino C6-primer (AC6-primer) to the anchor peptide. 
        We used a slightly different protein construct, also provided by our instructor (see [experiments]( https://2021.igem.org/Team:Aachen/Experiments)). 
        For this, we used 1-Ethyl-3-(3-dimethylaminopropyl)carbodiimide (EDC) as the initializer of the linking reaction and incubated the components for 24 hours. 
        To check whether the conjugation was successful, our instructor performed an SDS-PAGE to compare the protein before and after the reaction (figure X).
              
    - var imgpath = "" + require("../assets/img/Results/2021-07-22_SDS.png")["default"]
    +image(6, imgpath, "Conjugation of AC6 AT-rich ssDNA Primer with the fusion protein. NuSep Tris-Glycine protein gel, Neo Biotech Quick Coomassie Stain overnight, 140 V, 70 min. The samples were heated to 95 °C for 10 min. M: PageRuler Prestained Protein Ladder 1: protein before conjugation (negative control), 2: protein after conjugation with AT-rich ssDNA primer.", 50)
        
    :markdown-it
        It was expected that the conjugate runs significantly higher than the negative control because the primer is 100 nt long and increases the molecular weight, which should impact the running behavior. 
        Additionally, the anchor peptide has five binding sites in its structure. 
        It was expected to see more than one band because a different number of primers could bind to one protein construct. 
        As only one band approximately at the same height as the negative control is visible, we assumed that the conjugation did not work correctly. 
        The reason for that could be a wrong ratio of primer and anchor peptide or a wrong concentration of EDC.
        
        Even though the conjugation seemed to be unsuccessful, we tried to immobilize the conjugates on a polystyrene stick. 
        The sticks were incubated in the conjugate as well as in pure AC6-primer solution as negative control and then washed in 1x PBS. 
        To break the binding between the anchor peptide and the stick we cooked the sticks for 15 minutes at 70 °C. 
        The anchor peptide should denature at this temperature and the conjugate should be in solution again. 
        The negative control was treated in the same way. 
        Additionally, we tried a standard TdT reaction with the pure AC6-primer and the conjugate to analyze whether the peptide influences elongation. 
        To analyze these reactions, we performed an agarose gel electrophoresis (figure X).  
        
    - var imgpath = "" + require("../assets/img/Results/2021-08-03_01.png")["default"]
    +image(7, imgpath, "Standard TdT reaction (dTTP 15 min) with the conjugate and elutions of immobilizations with AC6 primer and AC6 primer-peptide conjugate. 2.5% Agarose with TBE, SYBR Gold, staining, 90 V, 60 min. M: GeneRuler 50 bp DNA Ladder 1: AC6 primer 2: AC6 primer after TdT reaction 3: AC6-primer-peptide conjugate 4: heated AC6-primer-peptide conjugate 5: AC6-primer-peptide conjugate after TdT reaction 6: elution of AC6-primer after immobilization 7: elution of AC6-primer after immobilization and TdT reaction 8: elution of AC6-primer-peptide conjugate after immobilization 9: elution of AC6-primer-peptide conjugate after immobilization and TdT reaction.")
        
    :markdown-it
        Lane 2 shows that the AC6-primer itself can be elongated by the TdT.
        Lane 1 serves as a reference for this reaction.
        Compared to that, the AC6-primer-peptide conjugate was elongated in lane five.
        The bands are approximately at the same height, which is an indication of the failure of the conjugation:
        As described above, the anchor peptide should influence the running behavior and we would expect a higher band if the conjugation had worked.
        Additionally, the references of the conjugation sample in lanes 3 and 4 also do not show a significant difference to the band of the pure AC6-primer.
        
        The fact that we cannot see anything in lanes 6 and 7 illustrates the AC6-primer cannot bind to the polystyrene stick without the anchor peptide.
        Against expectation, there are also no bands visible in lanes 8 and 9. So, these results support the guess that the conjugation did not work.
        
        ## Immobilization with Maleimide-Primer
        The maleimide-cysteine-bond was more likely to work than the amino bond because it was already shown to work with maleimide-labeled proteins [4](#citation4). 
        Thus, we switched methods as soon as the maleimide-labeled oligos arrived and performed the conjugation of the oligos with the fusion protein construct LCI-DZ-C-His6 (see Experiments). 
        The conjugation was performed with the AT-rich oligo and the GC-rich oligo and different oligo excesses were tried. 
        Assuming that successfully binding the protein construct to the oligo would change its running behavior, we performed an agarose gel electrophoresis with the conjugates.
    
    - var imgpath = "" + require("../assets/img/Results/2021-08-19_01.png")["default"]
    +image(8, imgpath, "**Conjugations of LCI-fusion-protein with AT-rich and GC-rich maleimide-labeled ssDNA primers and different primer excesses.** 2.5% Agarose with TBE, 90 V, 60 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: GC-rich primer reference 2: AT-rich primer reference, 3: Conjugation with 12.5x GC-rich primer excess 4: Conjugation with 5x GC-rich primer excess 5: Conjugation with 2x GC-rich primer excess 6: Conjugation with 12.5x AT-rich primer excess.")
    
    :markdown-it
        Figure # shows clear primer bands as reference. The GC-rich oligo runs lower than the AT-rich oligo because of secondary structure formation in the native gel. 
        The conjugates show large smears with a band at the height of the reference oligo, respectively. 
        The more oligo excess was used, the brighter the smear and the bands are because there is more DNA in the sample. 
        These results could have indicated a successful conjugation. 
        We wanted to confirm this by purifying the conjugate using the His-Tag to lose excess primer and performing an SDS-PAGE and western blot as well as a TdT reaction with the purified conjugates. 
        This should have confirmed if the bonding of oligo and protein was successful. 
        Unfortunately, the blot did not work and we did not have enough of the samples to try again.
        
    - var imgpath = "" + require("../assets/img/Results/2021-08-25_02.png")["default"]
    +image(9, imgpath, "**Standard TdT reactions with dTTP with purified conjugations of LCI-fusion-protein and ssDNA primers.** 2.5% Agarose with TBE, 90 V, 60 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: GC-rich primer reference, 3: Conjugation with 12.5x GC-rich primer excess 4: TdT reaction with 12.5x-GC-conjugate 5: Conjugation with 5x GC-rich primer excess 6: TdT reaction with 5x-GC-conjugate 7: Conjugation with 2x GC-rich primer excess 8: TdT reaction with 2x-GC-conjugate 9: Conjugation with 12.5x AT-rich primer excess 10: TdT reaction with 12.5x-AT-conjugate 11: Conjugation with PEG (positive control for protein gel) 12: TdT reaction with PEG-Conjugation (negative control).")
        
    :markdown-it
        The gel electrophoresis reveals inconclusive results: The purified conjugates are not visible. The concentration is most likely too low to be detected. 
        The negative control is also not visible, which was expected because it does not contain DNA; it would normally have acted as a positive control in the blot. 
        This gel was replicated and the conjugates were applied in a higher concentration.
        
    - var imgpath = "" + require("../assets/img/Results/2021-08-26_01.png")["default"]
    +image(10, imgpath, "**Standard TdT reactions with dTTP with purified conjugates of LCI-fusion-protein and ssDNA primers.** 2.5% Agarose with TBE, 90 V, 49 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-rich primer reference 2: GC-rich primer reference, 3: Conjugation with 12.5x GC-rich primer excess 4: TdT reaction with 12.5x-GC-conjugate 5: Conjugation with 5x GC-rich primer excess 6: TdT reaction with 5x-GC-conjugate 7: Conjugation with 2x GC-rich primer excess 8: TdT reaction with 2x-GC-conjugate 9: Conjugation with 12.5x AT-rich primer excess 10: TdT reaction with 12.5x-AT-conjugate 11: Conjugation with PEG (positive control for protein gel) 12: TdT reaction with PEG-Conjugation (negative control).")
        
    :markdown-it
        Here one can see that the conjugates produce a band approximately at the same height as the reference. 
        They were expected to be higher than the reference because the protein should increase the molecular weight. 
        But because of the smear in the GC reference sample, it is hard to say if the GC conjugates are on the same height.
        
        The TdT reaction with the conjugates seems to have worked; attaching nucleotides to the oligos increases the DNA concentration so you can see the bands. 
        The bands are smeared and not at the same heights. 
        Lane 6 and 8 show higher bands because these were the samples with lower oligo excess. 
        Less DNA leads to further elongation because there are more nucleotides available for each strand.
        Taking a closer look, there are two bands visible in the smears. 
        This could either mean that the conjugation worked and what we see is only conjugated elongated primer, or what we see is only free primer that has not been washed away in the purification. We have shown, that even very small concentrations of primer are visible on the gel after elongation with TdT (link). 
        Most likely, it is a combination of the two assumptions: 
        There is conjugated primer as well as free primer, which would explain the faint double bands. 
        
        We then tried immobilizing the conjugates on a polystyrene stick, washing them and eluting the conjugate. 
        This should confirm if the conjugation, as well as the immobilization, worked because the excess primer (if there is some) should be lost in the washing steps. 
        Un-conjugated primer served as a negative control to see if it binds the stick without the anchor peptide. 
        Furthermore, a TdT reaction was performed in the immobilized state.
        
    - var imgpath = "" + require("../assets/img/Results/2021-08-27_01.png")["default"]
    +image(11, imgpath, "**Immobilization of purified conjugates of LCI-fusion-protein and ssDNA primers on polystyrene stick. Washing steps with 1x PBS buffer, TdT reaction with dTTP, elution by heating to 95 °C.** 2.5% Agarose with TBE, 90 V, 49 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-rich maleimide primer (AT-M) reference 2: AT-M 1st wash solution 3: AT-M 2nd wash solution 4: AT-M elution 5: 12.5x GC-conjugate reference 6: 12.5x GC 1st wash solution 7: 12.5x GC 2nd wash solution 8: 12.5x GC elution 9: 12.5x GC 1st wash solution 10: 12.5x GC 2nd wash solution 11: 12.5x GC TdT reaction solution 12: 12.5x GC TdT elution 13: 5x GC-conjugate reference 14: 5x GC 1st wash solution 15: 5x GC 2nd wash solution 16: 5x GC elution 17: 5x GC 1st wash solution 18: 5x GC 2nd wash solution 19: 5x GC TdT reaction solution 20: 5x GC TdT elution 21: 2x GC-conjugate reference 22: 2x GC 1st wash solution 23: 2x GC 2nd wash solution 24: 2x GC elution 25: 2x GC 1st wash solution 26: 2x GC 2nd wash solution 27: 2x GC TdT reaction solution 28: 2x GC TdT elution 29: 12.5x AT-conjugate reference 30: 12.5x AT 1st wash solution 31: 12.5x AT 2nd wash solution 32: 12.5x AT elution 33: 12.5x AT 1st wash solution 34: 12.5x AT 2nd wash solution 35: 12.5x AT TdT reaction solution 36: 12.5x AT TdT elution.")
        
    :markdown-it
        Unfortunately, the concentrations are so low that it is hard to see bands. 
        The primer reference is visible the negative control shows no band in the second washing step or elution step. 
        This could mean that the primer does not bind to the stick without the anchor peptide, but we cannot exclude the possibility because gel electrophoresis is not very sensitive and there are barely bands visible in the samples. 
        The conjugates are again not visible, but an elution band can be seen in lanes 8, 16, and 32. These are the samples with the conjugates with higher primer excess and also the samples without TdT reaction. 
        This could confirm that the immobilization works, the conjugate is not washed off and can be eluted.
        
        The results with the TdT reaction samples are not as expected because there are no bands visible in the elution step. 
        However, there are bands in the lanes before the elution steps that seem to be stuck in the pocket. 
        These samples are taken from the TdT reaction mix we incubated the stick in. We forgot to inactivate these samples so the primers were most likely elongated until there were no nucleotides left. 
        There are two explanations for this: There could be components in the TdT reaction buffer that break up the maleimide-cysteine bond or detach the anchor peptide. 
        Or this still could be a small rest of free primer that survived the purification and the washing steps and was now elongated to reach a visible concentration.
        
        To illuminate the cause, we wanted to examine these samples further for the presence of protein. 
        Assuming the strands were very long, a 1% agarose gel with GeneRuler 1 kb DNA Ladder was used. 
        We also tried performing a PCR reaction with those samples but forgot the poly-A tailing.
        But the PCR samples are not relevant for this experiment.
        
    - var imgpath = "" + require("../assets/img/teamlogo_2021.svg")["default"]
    +image(12, imgpath, "TdT reaction solution samples from immobilization experiment (figure x, lanes 11, 19, 27, 35) and PCR with those samples (not relevant). 2.5% Agarose with TBE, 90 V, 49 min, SYBR Gold staining. M: GeneRuler 50 bp DNA Ladder 1: AT-M primer reference 2: PCR with AT-M 3: 12.5x GC TdT reaction solution 4: PCR with 12.5x GC TdT reaction solution 5: 5x GC TdT reaction solution 6: PCR with 5x GC TdT reaction solution 7: 2x GC TdT reaction solution 8: PCR with 2x GC TdT reaction solution 9: 12.5x AT TdT reaction solution 10: PCR with 12.5x AT TdT reaction solution.")
        
    :markdown-it
        The reference bands are visible.
        The reaction bands ran even higher than the Ladder and there still seems to be some of the sample stuck in the pocket. 
        The bands from lanes 3, 5, 7, 9 as well as the bands in the respective pockets were excised. 
        The assumption was that the lower band could be free elongated primer and the band in the pocket could be the elongated conjugate that was stuck there because of the protein. 
        The samples were dissolved in agarose dissolving buffer, one part was purified and a dot blot (immunoblot) was performed to confirm or falsify the presence of protein.
        
    - var imgpath = "" + require("../assets/img/Results/2021-09-09_blot.png")["default"]
    +image(13, imgpath, "Purified TdT reaction solution samples from gel (figure x). Trans-Blot Turbo membrane, Penta·His HRP Conjugate Kit (Qiagen), 1:2500 dilution in BSA, incubation for 1 h. A1: 12.5x GC TdT reaction solution lower band dissolved A2: 12.5x GC TdT reaction solution lower band purified B1: 12.5x GC TdT reaction solution upper band dissolved B2: 12.5x GC TdT reaction solution upper band purified C1: 12.5x AT TdT reaction solution lower band dissolved C2: 12.5x AT TdT reaction solution lower band purified D1: 12.5x AT TdT reaction solution upper band dissolved D2: 12.5x AT TdT reaction solution upper band purified E1: His-C-DZ-LCI (positive control) E2: empty.", 50)
        
    :markdown-it
        The positive control is visible, but no other dots. 
        This concludes, that our fusion protein was not present in the samples and the conjugation did not work well enough to be able to perform a cyclic synthesis with the immobilized primers. 
        We decided to switch to the next immobilization method. 
        
        ## Immobilization with Biotin-labelled Primer
        
        Our third immobilization method was a combination of streptavidin-tagged magnet beads and biotin-labelled primers.
        The magnet beads in turn are able to bind to a magnet stick.
        This construction allowed a permanent or non-permanent immobilization of primers.
        
        ### Permanent Immobilization
        
        For the permanent immobilization, the streptavidin-tagged magnet beads were conjugated with biotin-labelled primers.
        After adding the magnet stick to this solution and two washing steps, the immobilized primer could be released using BXT Strep-Tactin®XT elution buffer (IBA Life Science) containing biotin.
        To visualize our results, an agarose gel electrophoresis was performed (figure x).
        We assume, that most of the primer was bound by magnet beads because there was no detectible DNA in the conjugation mixture left.
        The binding seems to be strong enough because there was no detectible DNA in the two wash rests.
        A controlled elution of the primers was possible, indicated by a band at primer height.
        
    - var imgpath = "" + require("../assets/img/Results/2021-10-05.png")["default"]
    +image(14, imgpath, "<b>Permanent immobilization using biotin-streptavidin binding.</b> A) Magnet beads and primer were conjugated first, and the magnet stick was added afterwards. B) Magnet beads were attached to the magnet stick and primer was added afterwards. 2.5% Agarose TBE, SYBR Gold, 90V, 45 min. M: GeneRuler 50 bp DNA Ladder 1: Biotin-labelled N-Primer 2: Conjugation rest 3: Wash rest 4: Wash rest 5: Elution.")        
        
    :markdown-it
        Another possibility to immobilize primers permanently, was to bind the streptavidin-tagged magnet beads to the magnet stick first and add biotin-labelled primer afterwards.
        The above mentioned experiment was repeated using the second method.
        However, the results of this procedure showed less amounts of immobilized primer (figure x).
        Barely no DNA was detected in the elution step.
        The primers probably did not bind to the magnet beads due to steric hindrance.
        This is indicated by a band at primer height in the conjugation mixture.
        
        ### Non-permanent immobilization
        
        The non-permanent immobilization allows a release of primers into solution to avoid steric hindrance.
        For this, biotin-labelled primers were conjugated with magnet beads.
        Instead of directly dipping the magnet stick into this solution, the stick was covered with a plastic envelope.
        This prevented the magnet beads to bind to the stick irreversibly.
        Another advantage is, that the stick can be reused.
        To analyze this method, an agarose gel electrophoresis was performed with different steps of immobilization, washing and elution (figure x).
        The magnetic binding was apparently not weakened by the envelope because there was no DNA detected in the immobilization rest. 
        
    - var imgpath = "" + require("../assets/img/teamlogo_2021.svg")["default"]
    +image(15, imgpath, "**Non-permanent primer immobilization using biotin-streptavidin binding.** 2.5% Agarose TBE, SYBR Gold, 90 V, ? min. M: GeneRuler 50 bp DNA Ladder 1: Biotin-labelled N-Primer 2: Immobilization rest 3: Wash rest 4: Wash rest 5: Elution.")        
        
    :markdown-it
        As a result, the permanent immobilization was more efficient, if biotin-labelled primers are first conjugated to magnetic beads and the magnetic stick is added afterwards.
        The non-permanent immobilization was able to safely bind the primer as well.
        To further investigate the occurrences, TdT reactions were performed using both successful methods.
        
        # Cyclic Synthesis
        ## In Solution
        ## Immobilized
        # Secondary Structures
        ## GC vs AT Primer
        ## SSBs
        # Conclusion
        # Outlook
        There are many more experiments we would have liked to perform. You can read about our further ideas [here](https://2021.igem.org/Team:Aachen/Outlook).

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND. 

prepend citations
    - var citations = [{"authors": "Palluk, S., Arlow, D. H., de Rond, T., Barthel, S., Kang, J. S., Bector, R., ... & Keasling, J. D. (2018). ", "doi": "https://doi.org/10.1038/nbt.4173", "journal": "Nature Biotechnology", "numbers": "36(7), 645-650. ", "title": "De novo DNA synthesis using polymerase-nucleotide conjugates.", "type": "article"}, {"details": "Retrieved on October 17, 2021. from ", "title": "Terminal Deoxynucleotidyl Transferase, Recombinant. Thermo Fisher Scientific.", "type": "webpage", "url": "https://assets.thermofisher.com/TFS-Assets/LSG/brochures/711-011114%20TB-TdTR.pdf"}, {"authors": "Grimm, A. R., Sauer, D. F., Mirzaei Garakani, T., R  bsam, K., Polen, T., Davari, M. D., ... & Schwaneberg, U. (2019). ", "doi": "https://doi.org/10.1021/acs.bioconjchem.8b00874", "journal": "Bioconjugate Chemistry", "numbers": "30(3), 714-720. ", "title": "Anchor Peptide-Mediated Surface Immobilization of a Grubbs-Hoveyda-Type Catalyst for Ring-Opening Metathesis Polymerization.", "type": "article"}]
