extends ../templates/contents.pug

block headVars
    - var title = "Safety"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)
        # Overview
        Safety is an important factor in science, so we first received safety introductions for the laboratories we worked in. We also had to follow some safety precautions and Covid-19 regulations in the laboratories. In addition, to make the work safer for our team, we wrote standard operation procedures and participated in a [Risk Assessment Webinar](https://2021.igem.org/Team:Aachen/Collaborations).
        
        # Safety Introduction
        In order to be allowed to work in the laboratory of Mr. Schwaneberg - from now on called Extension Lab - and in the laboratory of Mr. Blank - called iAMB - our team got an introduction to the S1 area of the respective laboratory (lab). The instruction for safety level 1 has been carried out and personally signed by an employee from the respective laboratory. This safety instruction has to be refreshed annually. S1 is the first security level introduced in a lab and is used to ensure general lab security. The second safety level is used to ensure special regulations concerning hazardous substances. In the third security level, special regulations on biological substances must be observed, and the fourth security level deals with regulations on genetic engineering.
         
        # Working in the Lab
        The safety regulations state that personal protective clothing such as lab coats must always be worn, as well as protective goggles and gloves when working with hazardous substances and for sterile work. To make it clear when they must be worn, we have listed the individual hazardous substances and their safety regulations in so-called standard operation procedures. In addition, gloves had to be worn at all times in the gel electrophoresis room as everything in the room was assumed to be contaminated with DNA stain and potentially carcinogenic.
         
        The introduction of a shift system allowed us to work efficiently in the laboratory. The morning shift was scheduled from 9 to 12 a.m. and the afternoon shift from 13 p.m. to an open end. With this system, we could easily schedule our people weekly and plan our lab work in advance.
         
        In case of an emergency, there are many safety installations in the laboratory. These include eye showers, emergency showers, fire extinguishers, fire blankets, first aid kits, and electrical emergency stops. When the fire alarm goes off, everyone exits the building and meets at a designated assembly point.
         
        # Standard Operation Procedures
        As our team is compiled of 21 students with different levels of background, we put a lot of time and effort into writing detailed standard operation procedures (SOPs) to ensure the efficient, safe, and reproducible performance of every method relevant to our project. These SOPs include detailed information on the chemicals and devices needed, bullet point manuals, as well as information on both risk factors and proper disposal. The investment into standardizing our methods through SOPs paid off in the long run, as it enabled every member of our team to work independently, reproducibly - and above all safely.
         
        A list of all SOPs can be found [here](https://2021.igem.org/Team:Aachen/Protocols).
         
        # SARS-CoV-2 Safety
        Due to the COVID-19 pandemic, a face mask had to be worn at all times. In addition, working hours had to be documented in a posted list after entering and before leaving the laboratory. Furthermore, only two people were allowed to work in each lab simultaneously to maintain the necessary safety distances. This was checked regularly by our instructor and the lab staff. 
         
        Our weekly team meetings and the regular subgroup meetings took place exclusively online. Starting in June, meetings with a negative corona test or complete vaccination or recovery from a Covid-infection were allowed and smaller groups met for brainstorming meetings on human practices projects, presentation video, et cetera.
         
        Meetings with other teams also took place exclusively online so as not to expose our lab members and staff to unnecessary risk factors.
         


