extends ../templates/contents.pug

block headVars
    - var title = "Safety"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true

block article
    :markdown-it(html)

        # Laboratory Safety Measurements
        - Evacuation
        - Chemicals and Strains
        - Transportation
        
        
        - SOPs
        
        
        # Corona Safety
        - Max People:
            During our work in the lab it was just allowed that two persons could work on our bench. This was just possible because we worked in a wide and open space in the Schwaneberg lab. 
            Additionally we had the opportunity to work in a second lab at the iAMB.
        
        - Distance
            Desipte the large room in which we were able to work, we managed to keep distance during the lab work. For example one person is working on the bench while the other one was documenting or working in an other room
        
        - Shift system
            To work efficiantly, we established a shift system. The morning shift from 9 to 12 am and the afternoon shift from 13 pm to open end. With this system we could plan our lab work many weeks ahead.
        
        - Other Actions
            Furthermore kept in the standard Corona rules like washing and desinfect frequently our hands, wearing inside a mask or using the free antigen rapid test provided by the lab
        
