/**
 * Footer
 **/

$background: #2c3e50;
$background-dark: #375A7F;
$igem-dark: #182632;
$igem-orange: #F2A13F;
$igem-straw-brown: #E8ECD7;
$igem-straw-brown-1: #999b90;
$igem-straw-brown-light: #ecefde;
$igem-green: #2ED265;
$igem-spring-green: #34E08F;
$igem-cyan: #3CF4CC;
$igem-red: #F55656;
$igem-blue: #38A0F5;
footer {
    h1,
    h3 {
        color: $igem-straw-brown;
        font-family: "Louis George Cafe";
    }
    background-color: $background;
    transition: background-color 0.3s ease;
    margin: 5rem 0 0 0;
    // padding: 3rem 0 0 0;
    color: $igem-straw-brown;
    // font-family: "Lato";
    font-size: 1rem;
    p {
        margin: 0;
    }
    a {
        color: $igem-spring-green;
        transition: color 0.3s ease;
        &:hover {
            color: $igem-cyan;
            text-decoration: underline;
        }
    }
    .us {
        width: 50%;
        padding: 3rem 0 3rem 0;
        margin: auto;
        h1,
        h3 {
            text-align: center;
        }
        h3 {
            font-size: 1.5rem;
        }
        .socialmedia {
            width: max-content;
            margin: 0 auto;
            padding-bottom: 30px;
            a {
                padding: 10px;
                color: $igem-spring-green;
            }
        }
    }
    .sponsors {
        background-color: white;
        padding: 3rem 0 5rem 0;
        img {
            width: 70%;
            margin: auto;
            display: block;
        }
    }
}