@import "~bootstrap-reboot";
@import "igem-reset.scss";
@import "~bootstrap/scss/bootstrap";
@import "fix-bootstrap.scss";
@import "_fonts.scss";
@import "_media_queries.scss";
@import "_nav.scss";
@import "_footer.scss";
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.3s ease-out;
}

.container {
    width: 80%;
    max-width: 1400px;
}

// button from
// https://codepen.io/kathykato/pen/rZRaNe
$darkBlue: #2c3e50;
$darkerBlue: #1E2B37;
$darkBody: #222222;
// AACHEN COLORS
$igem-dark: #182632;
$igem-orange: #F2A13F;
$igem-straw-brown: #E8ECD7;
$igem-straw-brown-1: #999b90;
$igem-straw-brown-light: #ecefde;
$igem-green: #2ED265;
$igem-spring-green: #34E08F;
$igem-cyan: #3CF4CC;
$igem-red: #F55656;
$igem-blue: #38A0F5;
a.btn-primary {
    background: $igem-spring-green;
    border-color: $igem-spring-green;
    color: $igem-dark;
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active {
        background: $igem-green;
        outline: none !important;
        border-color: $igem-green;
    }
}

body {
    // background: url("../assets/img/Background_Pattern_Blank.svg");
    background-size: 100%;
    background-color: $igem-dark;
    color: $igem-straw-brown;
    font-family: "Louis George Cafe";
    position: relative;
}



#tourbutton {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    transition: margin-right 0.5 ease-in,
                right 1s ease-in,
                transform 0.3s ease-in-out,
                right 0.6s ease-in;

    color: $igem-dark;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;



        background-color: $igem-green;
        border-radius: 10px;
        height: 50px;
        // width: 600px;
        padding: 0px 20px 0px 20px;
        margin: 50px;

        color: $igem-dark;

        .buttontext {
            font-size: large;
            margin-right: 10px;
        }

        //arrow
        #arrow i .fas .fa-chevron-right {
            margin-left: 7px;
        }
    }
    
    
    #tourrocket {
        // background-image: url(../assets/img/homepage/dna_rocket.svg);
        height: fit-content;
        min-height: 100px;
        // background-repeat: no-repeat;
        // background-size: 50px;
        // background-position: center top;


        position: relative;
        top: -10px;
        right: 0px;
        height: 20px;
        transform: rotate(55deg);
        // margin: 0 5px 0 5px;
        transition: right 2s ease-in;
    }
    

    &:hover {
            
            
        a {
            // text-decoration: none;
            // color: $igem-straw-brown;

            .buttontext {
                // margin-right: 20px;
                // transition: margin-right 0.3s ease-in;
            }
        }
        
        #tourrocket {
            animation: moveToRight 1s ease-in forwards;
        }
    }

    @keyframes moveToRight {
        0% {
            
            right: -10px;
        }
        100% {
            top: -200px;
            right: -800px;
            transform: rotate(90deg); 
        }
    }
}


