@import "_main.scss";
body {
    background-image: none;
    background-color: $igem-dark;
}


/******************************
 * Header
 ******************************/

header {
    margin: 10rem 0 4rem 0;
    h1 {
        // font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 4.5rem;
    }
}

@include respond-below(lg) {
    header {
        h1 {
            font-size: 4rem;
        }
    }
}

@include respond-below(md) {
    header {
        h1 {
            font-size: 3.5rem;
        }
    }
}

// dark mode
// body.dark {
header {
    .jumbotron {
        background-color: $igem-straw-brown;
    }
    color: $igem-dark;
    hr {
        background-color: rgb(90, 90, 90);
    }
    button {
        background: $navBG-dark;
    }
}

// }

/******************************
* Article
******************************/

article {
    // font-family: "Lato", sans-serif;
    h1 {
        font-size: 2.5rem;
        color: $igem-straw-brown;
        margin: 1.5rem 0 1rem 0;
    }
    h2 {
        margin: 1.5rem 0 1rem 0;
    }
    h3 {
        margin: 1.5rem 0 0.7rem 0;
    }
    p {
        font-size: 1.1rem;
    }
    li {
        margin-left: 1rem;
    }
    .col {
        padding: 1.5rem;
    }
    .card-img-top {
        position: relative;
        img {
            width: 100%;
        }
    }
    p.card-text {
        font-size: 1rem;
    }
}

// body.dark {
article {
    color: $igem-straw-brown;
    h1 {
        color: $igem-straw-brown;
    }
}

.custom {
    margin-top: 60px;
}

.home-card {
    padding: 200px;
    border-radius: 0;
    margin: 0;
    background-color: $igem-dark;
    // height: 70%;
    position: relative;
    p {
        font-size: 1.5rem;
    }
    h1,
    h2 {
        text-align: center;
    }
    .fade {
        color: $igem-straw-brown;
        font-size: 1.3rem;
        opacity: 1;
        transition: opacity 1s;
        font-family: monospace;
    }
    .fade1 {
        transition-delay: 0s;
    }
    .fade2 {
        transition-delay: 0.2s;
    }
    .fade3 {
        transition-delay: 0.4s;
    }
    .fade4 {
        transition-delay: 0.6s;
    }
    .line {
        white-space: nowrap;
        p,
        pre {
            display: inline-block;
        }
    }
    img {
        max-width: 100%;
    }
}

.home-bg-light {
    color: $igem-dark;
    // background-image: url("../assets/img/homepage/home_background.svg#svgView(preserveAspectRatio(none))");
    background-color: $igem-straw-brown;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.home-bg-blue {
    color: $igem-straw-brown;
    // background-image: url("../assets/img/homepage/home_background.svg#svgView(preserveAspectRatio(none))");
    background-color: $darkBlue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#rocket {
    width: 300px;
    margin-top: 900;
}

.rocket-container {
    height: 1000px;
}

.header {
    height: 70%;
    img {
        margin: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%
    }
}