:root {
    --igem-dark: #182632;
    --igem-orange: #F2A13F;
    --igem-straw-brown: #E8ECD7;
    --igem-straw-brown-1: #999b90;
    --igem-straw-brown-light: #ecefde;
    --igem-green: #2ED265;
    --igem-spring-green: #34E08F;
    --igem-cyan: #3CF4CC;
    --igem-red: #F55656;
    --igem-blue: #38A0F5;
}

@font-face {
    font-family: Louis George Cafe;
    src: url("../assets/fonts/Louis_George_Cafe.ttf") format("truetype");
}

html {
    height: 100%;
}

body {
    background-color: var(--igem-dark);
    color: var(--igem-straw-brown);
    font-family: 'Louis George Cafe';
    position: relative;
}

.igem-sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 20%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 150px;
    /* Stay at the top */
    left: 0;
    background-color: var(--igem-dark);
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.igem-sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: font-size 0.3s, color 0.3s;
    display: block;
}

.igem-sidenav a:hover {
    color: var(--igem-straw-brown) !important;
}

.igem-navlink {
    color: var(--igem-straw-brown-1) !important;
}

.dropdown-menu {
    background-color: var(--igem-straw-brown) !important;
}

.igem-dropdown-item {
    color: var(--igem-dark) !important;
    font-size: large;
}

.igem-dropdown-item:hover,
.igem-dropdown-item:focus {
    background-color: var(--igem-straw-brown) !important;
    color: var(--igem-dark) !important;
    font-weight: bold;
}

.active {
    color: var(--igem-spring-green) !important;
    font-size: 20px !important;
    transition: font-size 0.3s, color 0.3s;
}

.igem-content {
    margin-top: 56px;
    margin-left: 25%;
    /* Same as the width of the sidebar */
    padding: 10px 10px;
    max-width: 60%;
}

.igem-whitebox {
    border-radius: 40px;
    background-color: var(--igem-straw-brown-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    color: var(--igem-dark);
    padding: 50px;
    margin-top: 50px;
}

p {
    font-family: 'Computer Modern Serif Roman';
    text-align: justify;
}

.igem-logo {
    height: 50px;
    margin: 10px;
}

.igem-figure {
    margin: 30px;
}

.igem-figure img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.igem-figure figcaption {
    text-align: center;
    font-family: 'Computer Modern Serif Roman';
    margin-top: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    padding-right: 50px;
    padding-left: 30px;
    font-size: 26px;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}