@import "content.scss";

.meme img {
	background-color: $igem-dark;
	box-shadow: 	2px 2px 8px $igem-dark, 
			7px 7px 0px $igem-straw-brown-light;
	border-radius: 5px;
	margin-bottom: 40px;
	max-height: 70vh;
	max-width: 90vw;
}