@import "content.scss";

.meme img {
	background-color: $igem-dark;
	box-shadow: 	2px 2px 8px $igem-dark, 
			7px 7px 0px $igem-straw-brown-light;
	border-radius: 5px;
	margin-bottom: 40px;
	max-height: 70vh;
	max-width: 90vw;
}

.row {
	display: flex;
	flex-wrap: wrap;
  }
  
  /* Create four equal columns that sits next to each other */
  .col {
	flex: 33%;
	max-width: 33%;
  }
  
  .col img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.col {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col {
	  flex: 100%;
	  max-width: 100%;
	}
  }

article {
	background-color: $igem-straw-brown;
	margin-bottom: 30px;
}