include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Aachen
  body#scrollable
    include templates/nav.pug
    
    .custom
      .jumbotron.home-card
        .container
          .header
            img(src=require('./assets/img/project_logo.svg')['default'])
      .jumbotron.home-card.home-bg-light
        .container
          h1 Humanity Produces Enormous Amounts of Data
          p Soon, it could become too much for todays storage systems.
      .jumbotron.home-card
        .container
          h1 Are We About to Face a Digital Dark Age?
          p Loss of data poses a serious risk to infrastructure and safety.
          .line
            pre.fade.fade1 0
            pre.fade.fade2    1
            pre.fade.fade1  1
            pre.fade.fade4   0
            pre.fade.fade1     1
            pre.fade.fade3  0
            pre.fade.fade2    0
            pre.fade.fade4   0
            pre.fade.fade4  1
            pre.fade.fade2   1
            pre.fade.fade1    0
            pre.fade.fade2  0
          .line
            pre.fade.fade2  1
            pre.fade.fade3  1
            pre.fade.fade4   0
            pre.fade.fade4  1
            pre.fade.fade2   1
            pre.fade.fade2    0
            pre.fade.fade4     1
            pre.fade.fade2   1
            pre.fade.fade3     0
            pre.fade.fade1 0
            pre.fade.fade1  1
          .line
            pre.fade.fade2     0
            pre.fade.fade1  1
            pre.fade.fade1     0
            pre.fade.fade3   1
            pre.fade.fade2  1
            pre.fade.fade4  1
            pre.fade.fade3   0
            pre.fade.fade1     1
            pre.fade.fade4    0
            pre.fade.fade3  1
          .line
            pre.fade.fade2        1
            pre.fade.fade2   0
            pre.fade.fade3    1
            pre.fade.fade1  1
            pre.fade.fade1   1
            pre.fade.fade3  0
            pre.fade.fade4     1
            pre.fade.fade2   0
            pre.fade.fade4  0
          .line
            pre.fade.fade4        0
            pre.fade.fade3   0
            pre.fade.fade1  0
            pre.fade.fade2   1
            pre.fade.fade4   1
            pre.fade.fade2     0
            pre.fade.fade4    1
            pre.fade.fade1  1
          .line
            pre.fade.fade3          1
            pre.fade.fade1  1
            pre.fade.fade2   0
            pre.fade.fade4   1
            pre.fade.fade3   0
            pre.fade.fade2  1
            pre.fade.fade2    1
      .jumbotron.home-card.home-bg-light
        .container
          h1 The Solution: Storing Data on DNA
      .jumbotron.home-card
        .container
          h1 The Whole Internet Could be Stored in a Bucket Full of DNA
      .jumbotron.home-card.home-bg-light
        .container
          h1 With Greater Data Storage Capacities, Mankind Could Make Astonishing Progress
          h2 The Health Sector Could Profit From the Possibility of Storing Large Amounts of Data
      .jumbotron.home-card
        .container
          h1 We Present Enzymatic DNA Synthesis for a Data Storage System

    include templates/footer.pug
