include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Aachen
  body#scrollable
    include templates/nav.pug
    
    .custom
      .jumbotron.home-card
        .container
          .header
            img(src=require('./assets/img/project_logo.svg')['default'])
            h2 Using DNA for a Digital Long-Term Data Storage
      .jumbotron.home-card.home-bg-light
        .container
          .row.d-flex.justify-content-center.tiles
            .col-xl-4.col-lg-4.col-md-6.col-xs-12
              h1 Humanity Produces Enormous Amounts of Data
              p Soon, it could become too much for todays storage systems.
            .col-xl-2.col-lg-2.col-md-6.col-xs-12
            .col-xl-6.col-lg-6.col-md-6.col-xs-12
              img(src=require("./assets/img/homepage/server.svg")["default"])
      .jumbotron.home-card
        .container
          .row.d-flex.justify-content-center.tiles
            .col-xl-4.col-lg-4.col-md-6.col-xs-12
              .line
                pre.fade.fade1 0
                pre.fade.fade2    1
                pre.fade.fade1  1
                pre.fade.fade4   0
                pre.fade.fade1     1
                pre.fade.fade3  0
                pre.fade.fade2    0
                pre.fade.fade4   0
                pre.fade.fade4  1
                pre.fade.fade2   1
                pre.fade.fade1    0
                pre.fade.fade2  0
              .line
                pre.fade.fade2  1
                pre.fade.fade3  1
                pre.fade.fade4   0
                pre.fade.fade4  1
                pre.fade.fade2   1
                pre.fade.fade2    0
                pre.fade.fade4     1
                pre.fade.fade2   1
                pre.fade.fade3     0
                pre.fade.fade1 0
                pre.fade.fade1  1
              .line
                pre.fade.fade2     0
                pre.fade.fade1  1
                pre.fade.fade1     0
                pre.fade.fade3   1
                pre.fade.fade2  1
                pre.fade.fade4  1
                pre.fade.fade3   0
                pre.fade.fade1     1
                pre.fade.fade4    0
                pre.fade.fade3  1
              .line
                pre.fade.fade2        1
                pre.fade.fade2   0
                pre.fade.fade3    1
                pre.fade.fade1  1
                pre.fade.fade1   1
                pre.fade.fade3  0
                pre.fade.fade4     1
                pre.fade.fade2   0
                pre.fade.fade4  0
              .line
                pre.fade.fade4        0
                pre.fade.fade3   0
                pre.fade.fade1  0
                pre.fade.fade2   1
                pre.fade.fade4   1
                pre.fade.fade2     0
                pre.fade.fade4    1
                pre.fade.fade1  1
              .line
                pre.fade.fade3          1
                pre.fade.fade1  1
                pre.fade.fade2   0
                pre.fade.fade4   1
                pre.fade.fade3   0
                pre.fade.fade2  1
                pre.fade.fade2    1
            .col-xl-2.col-lg-2.col-md-6.col-xs-12
            .col-xl-4.col-lg-4.col-md-6.col-xs-12
              h1 Are We About to Face a Digital Dark Age?
              p Loss of data poses a serious risk to infrastructure and safety. Whenever new storage technologies emerge, there is a risk that old media will eventually become unreadable.
      .jumbotron.home-card.home-bg-blue
        .container
          .row.d-flex.justify-content-center.tiles
              .col-xl-3.col-lg-3.col-md-6.col-xs-12
                h1 The Solution: Storing Data on DNA
              .col-xl-1.col-lg-1
              .col-xl-8.col-lg-8.col-md-6.col-xs-12
                img(src=require("./assets/img/homepage/dna_advantages.png")["default"])
      .jumbotron.home-card
        .container
          h1 The Whole Internet Could be Stored in a Bucket Full of DNA
      .jumbotron.home-card.home-bg-light
        .container
          h1 With Greater Data Storage Capacities, Mankind Could Make Astonishing Progress
          h2 The Health Sector Could Profit From the Possibility of Storing Large Amounts of Data
      .jumbotron.home-card.home-bg-light
        .container
          h2 All Knowledge from Research is Stored
      .jumbotron.home-card.home-bg-light
        .container.rocket-container#rocket-container
          h2 Efficient Data Transport for Colonialization of Planets
          img(src=require("./assets/img/homepage/dna_rocket.svg")["default"])#rocket
      .jumbotron.home-card
        .container
          h1 We Present Enzymatic DNA Synthesis for a Data Storage System

    include templates/footer.pug
