include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Aachen
  body
    include templates/nav.pug
    
    .custom
      .jumbotron.home-card
        .container
          .header
            img(src=require('./assets/img/project_logo.svg')['default'])
      .jumbotron.home-card.home-bg-light
        .container
      .jumbotron.home-card
      .jumbotron.home-card.home-bg-light

    include templates/footer.pug
