include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Aachen
  body
    include templates/nav.pug
    
    .custom
      .jumbotron.home-card
        .container
          .header
            img(src=require('./assets/img/project_logo.svg')['default'])
      .jumbotron.home-card.home-bg-light
        .container
          h1 Humanity Produces Enormous Amounts of Data
      .jumbotron.home-card
        .container
          h1 Are We About to Face a Digital Dark Age?
      .jumbotron.home-card.home-bg-light
        .container
          h1 The Solution: Storing Data on DNA
      .jumbotron.home-card
        .container
          h1 The Whole Internet Could be Stored in a Bucket Full of DNA
      .jumbotron.home-card.home-bg-light
        .container
          h1 With Greater Data Storage Capacities, Mankind Could Make Astonishing Progress
      .jumbotron.home-card
        .container
          h1 We Present Enzymatic DNA Synthesis for a Data Storage System

    include templates/footer.pug
